Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Adding support for switching sessions
  docs/src/content/docs/commands/sessions.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/e2e/sessions.spec.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session-switch.test.ts
  electron/main/ipc/session-switch.ts
  electron/main/ipc/session.ts
  electron/main/menu.test.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  src/errors/index.ts
  test/integration/session-sqlite.test.ts
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/SessionsDialog.tsx
  web/src/components/layout/__tests__/SessionsDialog.test.tsx
  web/src/lib/relativeTime.test.ts
  web/src/lib/relativeTime.ts
Due: docs-spellcheck, web-eslint

feat: Adding exemption in session path for `initialWorkDir`
  electron/main/ipc/path-guard.test.ts
  electron/main/ipc/path-guard.ts
Due: none

fix: Fix-up test
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.history.test.tsx
Due: web-eslint

fix: Fixing up the banner
  docs/src/content/docs/commands/sessions.mdx
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/layout/SessionResumedNotice.tsx
Due: docs-spellcheck, web-eslint

chore: Fix-up
  electron/main/ipc/session-switch.test.ts
  web/src/hooks/useApiExec.test.ts
Due: web-eslint

chore: Clean-up
  docs/src/content/docs/commands/sessions.mdx
  electron/e2e/sessions.spec.ts
  electron/main/index.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/artifacts/workspace/GeneratedFilesMetadataBar.tsx
  web/src/components/artifacts/workspace/RepositoryMetadataBar.tsx
  web/src/components/artifacts/workspace/__tests__/RepositoryMetadataBar.test.tsx
  web/src/components/artifacts/workspace/rows/LocalPathRow.tsx
  web/src/components/layout/CopyIconButton.tsx
  web/src/components/layout/GeneratedFilesAlert/GeneratedFilesAlert.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/RunbookOpenError.tsx
  web/src/components/layout/SessionDirButton.tsx
  web/src/components/layout/SessionName.tsx
  web/src/components/layout/SessionsDialog.tsx
  web/src/components/layout/__tests__/CopyIconButton.test.tsx
  web/src/components/layout/__tests__/SessionDirButton.test.tsx
  web/src/components/layout/__tests__/SessionName.test.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.paths.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/mdx/GitClone/components/__tests__/CloneResult.test.tsx
  web/src/components/mdx/GoogleAuth/components/GcloudConfigSelector.tsx
  web/src/components/mdx/GoogleAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GoogleAuth/components/ServiceAccountKeyForm.tsx
  web/src/components/mdx/_shared/components/ViewOutputs.tsx
  web/src/components/mdx/_shared/components/__tests__/ViewOutputs.test.tsx
  web/src/contexts/DisplayPathContext.test.tsx
  web/src/contexts/DisplayPathContext.tsx
  web/src/contexts/DisplayPathContext.types.ts
  web/src/contexts/useDisplayPath.ts
  web/src/lib/displayPath.test.ts
  web/src/lib/displayPath.ts
  web/src/test/ShortenedPaths.tsx
Due: docs-spellcheck, web-eslint

chore: Fix-up
  electron/e2e/launch.ts
  electron/e2e/sessions.spec.ts
  electron/main/session-storage.test.ts
  electron/main/session-storage.ts
  web/src/components/mdx/DirPicker/__tests__/DirPicker.history.test.tsx
Due: web-eslint

fix: Set atomic exec completion
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

feat: Adding command pallete
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/layout/AboutDialog.tsx
  web/src/components/layout/CommandPalette.tsx
  web/src/components/layout/Header.tsx
  web/src/hooks/useDownloadLogs.ts
Due: web-eslint

chore: Cleaning up menu options
  docs/src/content/docs/intro/installation.mdx
  docs/src/content/docs/intro/instruction-mode.mdx
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/command-palette.spec.ts
  electron/main/cli-install-dialogs.ts
  electron/main/index.ts
  electron/main/menu.test.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/layout/AboutDialog.tsx
  web/src/components/layout/CommandPalette.tsx
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/layout/__tests__/CommandPalette.test.tsx
  web/src/components/layout/__tests__/WelcomeScreen.test.tsx
  web/src/hooks/useMediaQuery.ts
  web/src/lib/platform.ts
Due: docs-spellcheck, web-eslint

feat: Adding inline sub-items
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/command-palette.spec.ts
  web/src/components/layout/CommandPalette.tsx
  web/src/components/layout/__tests__/CommandPalette.test.tsx
Due: docs-spellcheck, web-eslint

feat: Adding final fallback inline search
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/command-palette.spec.ts
  web/src/App.tsx
  web/src/components/layout/CommandPalette.tsx
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/__tests__/CommandPalette.test.tsx
  web/src/components/layout/__tests__/FindBar.test.tsx
  web/src/components/ui/command.tsx
Due: docs-spellcheck, web-eslint

chore: Fixing flake
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
Due: web-eslint

chore: Addressing review feedback
  docs/src/content/docs/intro/ui_tour.md
  electron/main/menu.test.ts
  electron/shared/channels.ts
  web/src/components/layout/CommandPalette.tsx
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/layout/__tests__/CommandPalette.test.tsx
  web/src/components/layout/__tests__/FindBar.test.tsx
  web/src/components/ui/command.tsx
  web/src/contexts/ThemeContext.tsx
  web/src/hooks/__tests__/useMediaQuery.test.ts
  web/src/hooks/useAppVersion.ts
  web/src/hooks/useMediaQuery.ts
Due: docs-spellcheck, web-eslint

feat: Adding command pallete (#345)
  docs/src/content/docs/intro/installation.mdx
  docs/src/content/docs/intro/instruction-mode.mdx
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/command-palette.spec.ts
  electron/main/cli-install-dialogs.ts
  electron/main/index.ts
  electron/main/menu.test.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/layout/CommandPalette.tsx
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/layout/__tests__/CommandPalette.test.tsx
  web/src/components/layout/__tests__/FindBar.test.tsx
  web/src/components/layout/__tests__/WelcomeScreen.test.tsx
  web/src/components/ui/command.tsx
  web/src/contexts/ThemeContext.tsx
  web/src/hooks/__tests__/useMediaQuery.test.ts
  web/src/hooks/useAppVersion.ts
  web/src/hooks/useDownloadLogs.ts
  web/src/hooks/useMediaQuery.ts
  web/src/lib/platform.ts
Due: docs-spellcheck, web-eslint

chore: Fixing flake
  electron/e2e/command-palette.spec.ts
Due: none

chore: Using React Compiler at build time
  AGENTS.md
  bun.lock
  electron.vite.config.ts
  knip.json
  package.json
  scripts/vite-react.ts
  web/vitest.config.ts
Due: none

chore: Adding React Compiler to Build (#346)
  AGENTS.md
  bun.lock
  electron.vite.config.ts
  electron/e2e/command-palette.spec.ts
  knip.json
  package.json
  scripts/vite-react.ts
  web/vitest.config.ts
Due: none

fix: Set atomic exec completion (#342)
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

fix(templates): scan nested template files for output references
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
Due: none

refactor(templates): one dependency extractor for main and the renderer
  src/domain/boilerplate/config.ts
  src/domain/boilerplate/outputGuards.ts
  src/domain/boilerplate/templateDependencies.test.ts
  src/domain/boilerplate/templateDependencies.ts
  testdata/test-fixtures/output-dependencies/patterns.json
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/utils.ts
Due: web-eslint

refactor(blocks): TemplateInline, GitPullRequest use the dependencies hook
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/__tests__/GitPullRequest.test.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useTemplateDependencies.test.ts
  web/src/components/mdx/_shared/hooks/useTemplateDependencies.ts
Due: web-eslint
