Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Fix ESLint errors. [skip ci]
  .pre-commit-config.yaml
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/contexts/GitWorkTreeContext.tsx
  web/src/contexts/gitWorkTreeTypes.ts
  web/src/contexts/useGitWorkTree.ts
  web/src/hooks/useWorkspaceChanges.ts
  web/src/hooks/useWorkspaceTree.ts
Due: web-eslint

Fix runbooks test failures
  testdata/feature-demos/file-workspace/runbook_test.yml
  testdata/feature-demos/git-clone/runbook_test.yml
Due: none

Initial pass at GitHubPullRequest block
  api/executable_registry.go
  api/github_pull_request.go
  api/server.go
  api/testing/executor.go
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  testdata/feature-demos/github-pull-request/runbook.mdx
  testdata/feature-demos/github-pull-request/runbook_test.yml
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/components/LabelSelector.tsx
  web/src/components/mdx/GitHubPullRequest/components/MarkdownEditor.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRForm.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRResult.tsx
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
  web/src/components/mdx/GitHubPullRequest/index.ts
  web/src/components/mdx/GitHubPullRequest/types.ts
  web/src/css/App.css
Due: docs-spellcheck, web-eslint

Simplify code
  api/git_clone.go
  api/github_pull_request.go
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: web-eslint

Enable instant updates to the changelog
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiBoilerplateRender.ts
Due: web-eslint

Add copy button to block IDs
  web/src/components/mdx/_shared/components/BlockIdLabel.tsx
Due: web-eslint

Add the pointer cursor to block IDs
  web/src/components/mdx/_shared/components/BlockIdLabel.tsx
Due: web-eslint

Improve the way PR description previews render
  web/bun.lock
  web/package.json
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/components/MarkdownEditor.tsx
  web/src/css/App.css
Due: web-eslint

More tweaks to the PR block
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRForm.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRResult.tsx
Due: web-eslint

Auto scroll logs to the bottom.
  web/src/components/mdx/Check/components/ViewLogs.tsx
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

First round of code simplification
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/components/ChangeSummaryText.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRForm.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRResult.tsx
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

Another round of code simplifying
  web/src/components/mdx/GitHubPullRequest/components/ChangeSummaryText.tsx
  web/src/components/mdx/GitHubPullRequest/components/CollapsibleToggle.tsx
  web/src/components/mdx/GitHubPullRequest/components/InfoTooltip.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRForm.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRResult.tsx
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
  web/src/components/mdx/GitHubPullRequest/index.ts
  web/src/components/mdx/GitHubPullRequest/types.ts
Due: web-eslint

Add alert when user attempts to create PR with no files
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRForm.tsx
  web/src/contexts/RunbookContext.tsx
Due: web-eslint

Restore remote URL even if ctx is cancelled
  api/github_pull_request.go
Due: none

Consolidate repo parsing
  api/git_clone.go
  api/github_pull_request.go
Due: none

Clarify GitHubPullRequest docs [skip ci]
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
Due: docs-spellcheck

Relocate GitHubPullRequest markdown rules
  web/src/components/mdx/GitHubPullRequest/components/MarkdownEditor.css
  web/src/components/mdx/GitHubPullRequest/components/MarkdownEditor.tsx
  web/src/css/App.css
Due: web-eslint

Update ComponentIdRegistry.tsx
  web/src/contexts/ComponentIdRegistry.tsx
Due: web-eslint

Update GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: web-eslint

Update useGitHubPullRequest.ts
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
Due: web-eslint

Update CollapsibleToggle.tsx
  web/src/components/mdx/GitHubPullRequest/components/CollapsibleToggle.tsx
Due: web-eslint

Update github_pull_request.go [skip ci]
  api/github_pull_request.go
Due: none

Detect an existing git branch and allow user to delete if needed.
  api/github_pull_request.go
  api/server.go
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
Due: web-eslint

Sanitize GitHub Pull Request markdown previews
  AGENTS.md
  web/bun.lock
  web/package.json
  web/src/components/mdx/GitHubPullRequest/components/MarkdownEditor.tsx
Due: web-eslint

Explicitly add GitHubPullReques to KnownBlockTypes for tests
  api/testing/validation.go
Due: none

Add tests for GitHubPullRequest block
  api/git_clone_test.go
  api/github_auth_test.go
  api/github_pull_request_test.go
Due: none

Initial pass for remote runbook opens
  api/file.go
  api/file_test.go
  api/generated_files.go
  api/path_validation.go
  api/remote_source.go
  api/remote_source_test.go
  api/remote_token.go
  api/server.go
  api/watcher.go
  cmd/open.go
  cmd/remote_open.go
  cmd/serve.go
  cmd/watch.go
  docs/cspell.json
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
  web/src/App.tsx
  web/src/components/layout/GeneratedFilesAlert/GeneratedFilesAlert.tsx
  web/src/components/layout/Header.tsx
  web/src/hooks/useApiGetFile.ts
Due: docs-spellcheck, web-eslint

Refactor remote handling
  api/file.go
  api/git_clone_test.go
  api/github_pull_request_test.go
  api/path_validation.go
  api/remote_source.go
  api/remote_source_test.go
  cmd/open.go
  cmd/remote_open.go
  cmd/serve.go
  cmd/watch.go
  docs/src/content/docs/commands/open.mdx
Due: docs-spellcheck

Add tests, and simplify code
  api/file.go
  api/file_test.go
  api/path_validation.go
  api/remote_source.go
  api/remote_source_test.go
  api/remote_token_test.go
  api/server.go
  cmd/open.go
  cmd/remote_open.go
  cmd/remote_open_test.go
  cmd/serve.go
  cmd/watch.go
Due: none

Ignore .claude [skip ci]
  .gitignore
Due: none

Initial pass at opening tofu modules as runbooks
  api/boilerplate_config.go
  api/files.go
  api/tofu_generator.go
  api/tofu_generator_test.go
  api/tofu_parser.go
  api/tofu_parser_test.go
  api/types.go
  cmd/open.go
  go.mod
  go.sum
  templates/tofu/basic.go
  templates/tofu/basic.mdx.tmpl
  templates/tofu/copy-to-target.sh
  templates/tofu/full.go
  templates/tofu/full.mdx.tmpl
  templates/tofu/registry.go
  testdata/test-fixtures/tofu-modules/lambda-function/settings.tf
  testdata/test-fixtures/tofu-modules/lambda-function/variables.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/common.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/lambda.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/network.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/s3.tf
  testdata/test-fixtures/tofu-modules/s3-bucket/variables.tf
  web/src/components/mdx/_shared/lib/validators.ts
  web/src/types/boilerplateVariable.ts
Due: web-eslint

Improve UI/labels
  cmd/serve.go
  cmd/watch.go
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/lambda.tf
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/lib/formatVariableLabel.test.ts
  web/src/components/mdx/_shared/lib/formatVariableLabel.ts
Due: web-eslint

Simplify architecture given ability to download both local and remote runbooks
  api/file.go
  api/file_test.go
  api/server.go
  cmd/open.go
  cmd/remote_open.go
  cmd/serve.go
  cmd/watch.go
Due: none

Tweaks and fixes
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  api/boilerplate_render.go
  api/tofu_generator.go
  api/tofu_generator_test.go
  api/tofu_parser.go
  api/tofu_parser_test.go
  go.mod
  go.sum
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/network.tf
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/hooks/useFormValidation.ts
Due: web-eslint

Add more robust support for variable grouping
  api/tofu_generator_test.go
  api/tofu_parser.go
  go.mod
  go.sum
Due: none

Remove low-value tests
  api/file_test.go
Due: none

Refactor to use a RunbookConfig
  api/file.go
  api/file_test.go
  api/server.go
Due: none

Update file.go
  api/file.go
Due: none

Another file.go refactor
  api/file.go
Due: none
