Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Refactor GitClone output keys to lowercase and integrate output viewing
  api/git_clone.go
  api/testing/executor.go
  api/testing/executor_test.go
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  testdata/sample-runbooks/openclaw/scripts/release-catalog.sh
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/GitClone/GitClone.tsx
Due: docs-spellcheck, web-eslint

Always collapse GitClone outputs
  web/src/components/mdx/GitClone/GitClone.tsx
Due: web-eslint

Fix vertical height
  web/src/components/mdx/_shared/components/ViewOutputs.tsx
Due: web-eslint

Fix test assertion to use snake_case output keys
  testdata/feature-demos/git-clone/runbook_test.yml
Due: none

chore: Adding electron rewrite plan
  plans/electron-rewrite-backend.md
  plans/electron-rewrite-di.md
  plans/electron-rewrite-docs.md
  plans/electron-rewrite-dropped.md
  plans/electron-rewrite-frontend.md
  plans/electron-rewrite-ipc.md
  plans/electron-rewrite-tooling.md
  plans/electron-rewrite.md
Due: none

feat: A bit more progress
  .github/workflows/release.yml
  .github/workflows/test.yml
  AGENTS.md
  README.md
  build/entitlements.mac.inherit.plist
  build/entitlements.mac.plist
  build/icon.svg
  build/icons/.gitkeep
  package.json
  plans/electron-rewrite-progress.md
Due: none

feat: Rewrite progress
  cli/commands/test.ts
  cli/index.ts
  cli/test/assertions.ts
  cli/test/config.ts
  cli/test/executor.ts
  cli/test/fuzz.ts
  cli/test/reporter.ts
  cli/test/validation.ts
  plans/electron-rewrite-progress.md
  src/domain/registry/executable.ts
Due: none

fix: Fixing shutdown behavior
  electron/main/index.ts
Due: none

fix: Fixing file load
  electron/main/index.ts
  electron/main/ipc/runbook.ts
  electron/main/window.ts
  electron/shared/channels.ts
  web/src/components/MDXContainer.tsx
  web/src/hooks/useIpcGetRunbook.ts
Due: web-eslint

fix: Cleaning up some logs
  electron/main/ipc/exec.ts
  src/domain/exec/script.ts
  web/src/contexts/IpcSessionContext.tsx
  web/src/hooks/useWatchMode.ts
Due: web-eslint

fix: Adding `dist` to `.gitignore`
  .gitignore
Due: none

fix: Adding welcome screen
  electron/main/cli.ts
  electron/main/ipc/runbook.ts
  web/src/App.tsx
  web/src/components/layout/WelcomeScreen.tsx
Due: web-eslint

fix: Working shell
  .mise.toml
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/authoring/testing.mdx
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/overview.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/development/workflow.md
  docs/src/content/docs/security/execution-model.md
  docs/src/content/docs/security/shell-execution-context.md
  electron.vite.config.ts
  electron/main/index.ts
  electron/main/ipc/files.ts
  electron/main/ipc/runbook.ts
  electron/main/window.ts
  src/layers/AppLayer.ts
  web/src/App.tsx
  web/src/components/layout/Header.tsx
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitHubAuth/hooks/useGitHubAuth.ts
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/IpcSessionContext.tsx
  web/src/hooks/useApi.ts
  web/src/hooks/useApiExec.ts
  web/src/hooks/useApiGeneratedFilesDelete.ts
  web/src/hooks/useFileContent.ts
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useGitFileTree.ts
  web/src/main.tsx
Due: docs-spellcheck, web-eslint

fix: Fixing remote URLs
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/ipc/runbook.ts
  electron/main/menu.ts
  electron/main/remote.ts
  electron/shared/channels.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  web/src/App.tsx
  web/src/components/layout/OpenUrlModal.tsx
  web/src/components/layout/WelcomeScreen.tsx
  web/src/hooks/useIpcGetRunbook.ts
Due: web-eslint

fix: Fixing remote URLs
  electron/main/cli.test.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/ChildProcessSpawner.ts
  src/remote-source.test.ts
  vitest.config.ts
  web/src/components/layout/OpenUrlModal.tsx
  web/src/hooks/useIpcGetRunbook.ts
Due: web-eslint

fix: Removing dead SSE code
  web/src/App.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/hooks/useIpcExec.ts
  web/src/hooks/useWatchMode.ts
Due: web-eslint

fix: Fixing tests
  web/src/hooks/useApi.test.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

feat: Adding icons and signing for local app
  .gitignore
  build/icon.icns
  build/icon.ico
  build/icon.png
  build/icon.svg
  build/icons/.gitkeep
  build/icons/128x128.png
  build/icons/16x16.png
  build/icons/256x256.png
  build/icons/32x32.png
  build/icons/48x48.png
  build/icons/512x512.png
  build/icons/64x64.png
  bun.lock
  electron/main/window.ts
  justfile
  package-lock.json
  package.json
Due: none

fix: Adding some testing
  electron/e2e/electron.spec.ts
  electron/e2e/playwright.config.ts
  package.json
  src/domain/exec/executor.test.ts
  src/domain/exec/script.test.ts
  src/domain/git/operations.test.ts
  src/domain/session/manager.test.ts
  vitest.config.ts
  web/package.json
  web/vitest.config.ts
Due: none

fix: Use just the baseline of filepaths
  web/src/components/layout/Header.tsx
Due: web-eslint

fix: Addressing debt
  electron/main/ipc/exec.ts
  electron/main/ipc/files.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/watch.ts
  electron/main/ipc/workspace.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/manager.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

fix: Adding more tests
  electron/e2e/electron.spec.ts
  justfile
  package.json
  src/domain/aws/auth.test.ts
  src/domain/boilerplate/config.test.ts
  src/domain/files/manifest.test.ts
  src/domain/github/auth.test.ts
  src/domain/registry/executable.test.ts
  src/domain/workspace/workspace.test.ts
  src/mdx.test.ts
  src/path-validation.test.ts
Due: none

fix: Adding some stuff to an allow list
  electron/preload/index.ts
  electron/shared/channels.ts
Due: none

fix: Fixing prod build images
  electron.vite.config.ts
  web/src/assets/aws-logo.svg
  web/src/assets/runbooks-logo-dark-alpha.svg
  web/src/assets/runbooks-logo-dark-color.svg
  web/src/components/layout/Header.tsx
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
Due: web-eslint

fix: Docs cleanup
  AGENTS.md
  README.md
  docs/src/content/docs/authoring/blocks/index.md
Due: docs-spellcheck

fix: Getting rid of dead code
  docs/src/lib/llms-content.ts
  src/domain/registry/executable.ts
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

fix: Addressing lints
  docs/src/lib/llms-content.ts
  electron/main/index.ts
  electron/main/ipc/boilerplate.ts
  justfile
  src/domain/files/generated.ts
  src/domain/files/manifest.ts
  src/domain/git/operations.ts
  src/domain/registry/executable.ts
  src/domain/session/manager.test.ts
  src/layers/GitCliClient.ts
  src/test-utils/TestFileSystem.ts
  src/test-utils/TestLayer.ts
  web/e2e/fixtures.ts
  web/src/components/layout/Header.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/hooks/useFormValidation.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

feat: Adding CLI scripts
  electron/main/cli-install.ts
  electron/main/index.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  package.json
  resources/bin/runbooks.cmd
  web/src/components/layout/WelcomeScreen.tsx
Due: web-eslint

fix: Fixing tests
  .gitignore
  electron.vite.config.ts
  electron/e2e/electron.spec.ts
  justfile
  playwright.config.ts
Due: none

fix: Adding some fixes
  electron/main/window.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
Due: web-eslint

fix: A bunch of bug fixes
  cli/test/validation.ts
  electron/main/cli-install.ts
  electron/main/index.ts
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/files.ts
  electron/main/ipc/git.ts
  electron/main/ipc/path-guard.ts
  electron/main/ipc/workspace.ts
  electron/main/logger.ts
  electron/main/remote.ts
  electron/main/updater.ts
  electron/main/window.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/exec/script.ts
  src/domain/git/operations.ts
  web/src/App.tsx
  web/src/api.d.ts
  web/src/components/layout/ErrorSummaryBanner.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/ExecutableRegistryContext.tsx
  web/src/contexts/IpcExecutableRegistryContext.tsx
  web/src/hooks/useApiExec.ts
  web/src/types/executable.ts
Due: web-eslint

fix: Fixing quite a few broken things
  cli/package.json
  cli/tsconfig.json
  electron/e2e/execution-flow.spec.ts
  electron/main/cli.test.ts
  electron/main/ipc/exec.ts
  electron/main/remote.test.ts
  justfile
  package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  plans/bun-test-runner-implementation.md
  plans/monorepo-implementation-notes.md
  plans/subprocess-execution-fix.md
  src/domain/aws/auth.test.ts
  src/domain/boilerplate/config.test.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/domain/exec/script.test.ts
  src/domain/files/manifest.test.ts
  src/domain/git/operations.test.ts
  src/domain/github/auth.test.ts
  src/domain/registry/executable.test.ts
  src/domain/session/manager.test.ts
  src/domain/workspace/workspace.test.ts
  src/layers/ChildProcessSpawner.ts
  src/mdx.test.ts
  src/path-validation.test.ts
  src/remote-source.test.ts
  vitest.config.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

fix: Accept directories
  electron/main/index.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/layout/WelcomeScreen.tsx
Due: web-eslint

chore: Adding some testing
  AGENTS.md
  electron/e2e/execution-flow.spec.ts
  electron/e2e/kitchen-sink.spec.ts
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/exec.ts
  plans/build-tooling.md
  plans/effect-runtime-research.md
  plans/electron-rewrite-testing.md
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/layers/WasmBoilerplate.ts
  testdata/kitchen-sink/output/config.json
  testdata/kitchen-sink/output/scripts/deploy.sh
  web/src/components/mdx/Admonition/__tests__/Admonition.test.tsx
  web/src/components/mdx/AwsAuth/__tests__/AwsAuth.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.test.tsx
  web/src/components/mdx/GitHubAuth/__tests__/GitHubAuth.test.tsx
  web/src/components/mdx/GitHubPullRequest/__tests__/GitHubPullRequest.test.tsx
  web/src/components/mdx/Inputs/__tests__/Inputs.test.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/components/mdx/_shared/lib/validators.integration.test.ts
  web/src/contexts/ComponentIdRegistry.test.tsx
  web/src/contexts/ErrorReportingContext.test.tsx
  web/src/lib/utils.test.ts
Due: web-eslint

fix: Streamlining dev workflow
  .gitignore
  bun.lock
  electron.vite.config.ts
  justfile
  package-lock.json
  package.json
  plans/bun-test-runner.md
  plans/monorepo.md
Due: none

fix: Adding kitchen sink test
  electron/e2e/kitchen-sink.spec.ts
  electron/e2e/playwright.config.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/runbook.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/contexts/IpcExecutableRegistryContext.tsx
Due: web-eslint
