Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Clean up file_test.go
  api/file_test.go
Due: none

Adopt the consistent term "dir" over "baseDir"
  api/path_validation.go
Due: none

Standardize on RUNBOOK_SOURCE
  api/remote_source_test.go
  cmd/open.go
  cmd/remote_open.go
  cmd/remote_open_test.go
  cmd/serve.go
  cmd/watch.go
Due: none

Refactor fetchRemoteRunbook
  api/git_clone.go
  api/git_clone_test.go
  api/remote_source.go
  cmd/remote_open.go
Due: none

Refactor remote runbook handling & workdir logic
  cmd/open.go
  cmd/remote_open.go
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
Due: none

Fix help text
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
Due: none

Refactor and re-organize file.go.
  api/file.go
Due: none

Add comments [skip ci]
  api/file.go
  api/file_test.go
Due: none

Minor function rename
  cmd/open.go
  cmd/remote_open.go
  cmd/serve.go
  cmd/watch.go
Due: none

Docs improvements
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
  pr-description.md
Due: docs-spellcheck

Docs improvements
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
Due: docs-spellcheck

Clean up logic in open/servce/watch
  cmd/open.go
  cmd/remote_open.go
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
Due: none

Refactor open/serve/watch commands
  cmd/open.go
  cmd/remote_open.go
  cmd/serve.go
  cmd/server.go
  cmd/watch.go
Due: none

Refactor StartServer
  api/server.go
  cmd/open.go
  cmd/serve.go
Due: none

Extract an inline CopyButton component
  cmd/watch.go
  web/src/components/layout/Header.tsx
Due: web-eslint

More small cleanup
  api/git_clone.go
  api/git_clone_test.go
  api/github_pull_request.go
  api/remote_source.go
  api/remote_token.go
  api/testing/executor.go
  cmd/remote_open.go
  cmd/remote_open_test.go
Due: none

Update docs
  docs/src/content/docs/commands/overview.mdx
  docs/src/content/docs/intro/overview.mdx
  docs/src/content/docs/intro/runbooks_vs_other.md
  docs/src/content/docs/intro/write_your_first_runbook.mdx
  docs/src/styles/custom.css
Due: docs-spellcheck

Improve test coverage
  api/file_test.go
  api/remote_source_test.go
  api/remote_token_test.go
Due: none

Add final round of tests
  api/file_test.go
  api/remote_source_test.go
  cmd/remote_open_test.go
Due: none

Implement all the bot suggestions that I agree with
  .gitignore
  api/file.go
  api/git_clone.go
  api/git_clone_test.go
  api/path_validation.go
  api/remote_source.go
  api/remote_source_test.go
  api/remote_token.go
  cmd/remote_open.go
  cmd/remote_open_test.go
  cmd/serve.go
  docs/src/content/docs/commands/open.mdx
  web/src/components/layout/Header.tsx
Due: docs-spellcheck, web-eslint

Propagate ls-remote errors; generic token
  api/git_clone.go
  api/remote_source.go
  api/remote_source_test.go
  web/src/components/layout/Header.tsx
Due: web-eslint

Simplify code
  api/path_validation.go
  api/remote_source.go
  cmd/root.go
Due: none

Update Go dependencies for OpenTofu module support
  go.mod
  go.sum
Due: none

Add OpenTofu module parser and file detection
  api/files.go
  api/tofu_parser.go
  api/tofu_parser_test.go
  testdata/test-fixtures/tofu-modules/lambda-function/settings.tf
  testdata/test-fixtures/tofu-modules/lambda-function/variables.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/common.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/lambda.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/network.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/s3.tf
  testdata/test-fixtures/tofu-modules/s3-bucket/variables.tf
Due: none

Add OpenTofu runbook generator and templates
  api/tofu_generator.go
  api/tofu_generator_test.go
  templates/tofu/basic.go
  templates/tofu/basic.mdx.tmpl
  templates/tofu/copy-to-target.sh
  templates/tofu/full.go
  templates/tofu/full.mdx.tmpl
  templates/tofu/registry.go
Due: none

Integrate OpenTofu module fallback into CLI commands
  cmd/open.go
  cmd/serve.go
  cmd/watch.go
Due: none

Add regex validation support and raw YAML validation extraction
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  api/boilerplate_render.go
  api/types.go
Due: none

Frontend: regex validation, tuple input, and UI improvements
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/hooks/useFormValidation.ts
  web/src/components/mdx/_shared/lib/formatVariableLabel.test.ts
  web/src/components/mdx/_shared/lib/formatVariableLabel.ts
  web/src/components/mdx/_shared/lib/validators.ts
  web/src/types/boilerplateVariable.ts
Due: web-eslint

Simplify feature branch
  api/boilerplate_config.go
  api/tofu_parser.go
  cmd/open.go
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
  templates/tofu/basic.go
  templates/tofu/full.go
  templates/tofu/registry.go
Due: none

Fix cmd package to use consolidated ServerConfig API
  cmd/open.go
  cmd/serve.go
  cmd/watch.go
Due: none

Add POST /api/tofu/parse endpoint for runtime module parsing
  api/server.go
  api/tofu_parse_handler.go
Due: none

Add <TfModule> component for runtime OpenTofu module parsing
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/TfModule/index.ts
  web/src/components/mdx/_shared/lib/formatHclValue.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/hooks/useApiParseTfModule.ts
Due: web-eslint

Rewrite built-in templates to use <TfModule> + <TemplateInline>
  api/testing/validation.go
  api/tofu_generator_test.go
  templates/tofu/basic.go
  templates/tofu/basic.mdx.tmpl
  templates/tofu/full.go
  templates/tofu/full.mdx.tmpl
Due: none

Fix CodeBlock.displayName for production builds
  web/src/components/mdx/_shared/components/CodeBlock.tsx
Due: web-eslint

Fix TemplateInline rendering with _module namespace
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/lib/extractTemplateVariables.test.ts
  web/src/components/mdx/TemplateInline/lib/extractTemplateVariables.ts
  web/src/contexts/RunbookContext.tsx
Due: web-eslint

Add TfModule custom template feature demo
  testdata/feature-demos/tf-custom-template/runbook.mdx
Due: none

Consolidate TfModule path+source props into single source prop
  api/tofu_parse_handler.go
  templates/tofu/basic.mdx.tmpl
  templates/tofu/full.mdx.tmpl
  testdata/feature-demos/tf-custom-template/runbook.mdx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/hooks/useApiParseTfModule.ts
Due: web-eslint

Add originalSource parameter to GenerateRunbook
  api/tofu_generator.go
  api/tofu_generator_test.go
Due: none

Support remote URLs in runbooks open/serve commands
  cmd/root.go
Due: none

Add TfModule block documentation
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/blocks/index.md
Due: docs-spellcheck
