Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

test(e2e): use main-process.ts's helpers in the iframe spec
  electron/e2e/iframe.spec.ts
Due: none

chore(inputs): meet main's formatter and strict type checks
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/lib/templateValue.test.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
Due: web-eslint

chore: Enforce proper layering
  .oxlintrc.json
  AGENTS.md
  electron/e2e/electron-internals.d.ts
  electron/e2e/electron.spec.ts
  tsconfig.e2e.json
  tsconfig.json
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
  web/src/hooks/useApiGeneratedFilesDelete.ts
Due: web-eslint

chore: Adding `dependabot.yml`
  .github/dependabot.yml
Due: none

fix: Fixing flaky backend tests
  cli/commands/test.test.ts
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git-clone-repo-path.test.ts
  electron/main/ipc/git-clone-ssh.test.ts
  electron/main/ipc/git.test.ts
  electron/main/ipc/gitlab.test.ts
  src/domain/git/clone-args.test.ts
  src/domain/git/env.test.ts
  src/domain/git/operations.pr.test.ts
Due: none

chore: Removing `react-hooks/exhaustive-deps` suppressions
  web/src/App.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/contexts/WorkspaceGitDataContext.tsx
  web/src/contexts/useRunbook.ts
Due: web-eslint

feat(iframe): relay page messages through the webview guest's preload
  cli/test/config.test.ts
  cli/test/config.ts
  cli/test/executor.test.ts
  docs/src/content/docs/authoring/blocks/Iframe.md
  electron.vite.config.ts
  electron/e2e/iframe-messaging.spec.ts
  electron/e2e/iframe.spec.ts
  electron/e2e/webview-guests.ts
  electron/main/embeds.test.ts
  electron/main/embeds.ts
  electron/main/index.ts
  electron/preload/embed-relay.test.ts
  electron/preload/embed-relay.ts
  electron/preload/embed.ts
  electron/shared/embed-messaging.ts
  knip.json
  src/domain/registry/executable.ts
  tsconfig.preload.json
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.messaging.test.tsx
  web/src/components/mdx/Iframe/hooks/useFrameMessaging.ts
  web/src/components/mdx/Iframe/protocol.ts
Due: docs-spellcheck, web-eslint

docs: Clean up remote source inaccuracies
  docs/cspell.json
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
Due: docs-spellcheck

chore: Adjusting Bun <--> Node parity in SQLite usage
  .mise.toml
  bun.lock
  electron/e2e/sessions.spec.ts
  electron/main/launch-session.test.ts
  electron/main/session-storage.ts
  electron/main/sqlite.ts
  electron/main/test-utils/session-persistence.ts
  mise.lock
  package.json
  src/domain/session/persistence.test.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  src/layers/NodeSqlite.ts
  src/test-utils/bunSqlite.ts
  test/integration/session-sqlite.test.ts
Due: none

chore: Using better names for the sessions
  docs/src/content/docs/commands/sessions.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/e2e/sessions.spec.ts
  electron/main/index.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session-env.test.ts
  electron/main/launch-session.test.ts
  electron/main/menu.ts
  electron/main/session-storage.ts
  electron/main/test-utils/session-persistence.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/names.test.ts
  src/domain/session/names.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  test/integration/session-sqlite.test.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/layout/Header.tsx
  web/src/hooks/useApiGetFile.ts
  web/src/hooks/useIpcGetRunbook.ts
Due: docs-spellcheck, web-eslint

fix: Fixing optional output dependencies
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  src/types.ts
  web/src/lib/extractTemplateDependencies.test.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
  web/src/types/boilerplateConfig.ts
Due: web-eslint

chore: Show session name in header
  bun.lock
  docs/src/content/docs/commands/sessions.mdx
  docs/src/content/docs/intro/files_workspace.mdx
  electron/e2e/find-in-page.spec.ts
  electron/e2e/sessions.spec.ts
  package.json
  src/domain/session/names.test.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/layers/NodeSqlite.ts
  src/node-crypto.d.ts
  tsconfig.main.json
  web/src/App.tsx
  web/src/components/layout/Header.tsx
  web/src/lib/findInPage.ts
Due: docs-spellcheck, web-eslint

feat: Require explicit regeneration of templates on changed inputs
  docs/src/content/docs/authoring/blocks/Template.mdx
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/__tests__/Template.instruction.test.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormStatus.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/hooks/useApiBoilerplateRender.ts
Due: docs-spellcheck, web-eslint

fix: Fixing optional output dependencies (#313)
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  src/types.ts
  web/src/lib/extractTemplateDependencies.test.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
  web/src/types/boilerplateConfig.ts
Due: web-eslint

feat: Updating session title
  docs/src/content/docs/commands/sessions.mdx
  electron/e2e/sessions.spec.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session.test.ts
  electron/main/ipc/session.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/names.test.ts
  src/domain/session/names.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  src/errors/index.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/SessionDirButton.tsx
  web/src/components/layout/SessionName.tsx
  web/src/components/layout/__tests__/SessionName.test.tsx
  web/src/hooks/useApiGetFile.ts
Due: docs-spellcheck, web-eslint

fix(templates): scope hasKey guards to their branch
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/authoring/testing.mdx
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  src/domain/boilerplate/outputGuards.test.ts
  src/domain/boilerplate/outputGuards.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/components/UnmetDependenciesWarning.test.tsx
  web/src/components/mdx/_shared/components/UnmetDependenciesWarning.tsx
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/extractTemplateDependencies.test.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

fix: Fixing relative references outside runbook
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
Due: docs-spellcheck

docs: Clean up remote source inaccuracies (#312)
  docs/cspell.json
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
Due: docs-spellcheck

fix: Fixing flaky backend tests (#310)
  cli/commands/test.test.ts
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git-clone-repo-path.test.ts
  electron/main/ipc/git-clone-ssh.test.ts
  electron/main/ipc/git.test.ts
  electron/main/ipc/gitlab.test.ts
  src/domain/git/clone-args.test.ts
  src/domain/git/env.test.ts
  src/domain/git/operations.pr.test.ts
Due: none

fix: Fixing relative references outside runbook (#318)
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
Due: docs-spellcheck

uptick to 0.24.0
  package.json
Due: none

uptick to 0.24.0 (#319)
  package.json
Due: none

fix(templates): scope hasKey guards to their branch (#316)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/authoring/testing.mdx
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  src/domain/boilerplate/outputGuards.test.ts
  src/domain/boilerplate/outputGuards.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/components/UnmetDependenciesWarning.test.tsx
  web/src/components/mdx/_shared/components/UnmetDependenciesWarning.tsx
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/extractTemplateDependencies.test.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

feat(inputs): show what a linked value comes to, and re-link on blur
  docs/src/content/docs/authoring/boilerplate.mdx
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/boilerplate.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  testdata/feature-demos/template-defaults/runbook.mdx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/useResolvedTemplateValues.ts
  web/src/components/mdx/_shared/lib/templateValue.test.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
Due: docs-spellcheck, web-eslint

chore: Isolating localstorage per Runbook
  docs/src/content/docs/authoring/blocks/Iframe.md
  electron/e2e/iframe-messaging.spec.ts
  testdata/feature-demos/iframe/assets/picker/picker.js
Due: docs-spellcheck

feat: Adding Runbook <--> Iframe communication
  cli/test/config.test.ts
  cli/test/config.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Iframe.md
  docs/src/content/docs/authoring/testing.mdx
  electron/e2e/iframe-messaging.spec.ts
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  testdata/feature-demos/iframe/assets/picker/index.html
  testdata/feature-demos/iframe/assets/picker/picker.js
  testdata/feature-demos/iframe/assets/picker/style.css
  testdata/feature-demos/iframe/runbook.mdx
  testdata/feature-demos/iframe/runbook_test.yml
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.messaging.test.tsx
  web/src/components/mdx/Iframe/hooks/useFrameMessaging.ts
  web/src/components/mdx/Iframe/protocol.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/lib/assetPaths.ts
Due: docs-spellcheck, web-eslint

feat(inputs): resolve linked values over inputsId values; yellow while waiting on a block
  docs/src/content/docs/authoring/boilerplate.mdx
  testdata/feature-demos/template-defaults/runbook.mdx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/TemplateInstruction.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/useResolvedTemplateValues.ts
  web/src/contexts/useRunbook.ts
Due: docs-spellcheck, web-eslint

docs(demo): add a linked default that waits on a script's output
  testdata/feature-demos/template-defaults/runbook.mdx
  testdata/feature-demos/template-defaults/runbook_test.yml
  testdata/feature-demos/template-defaults/scripts/create-account.sh
Due: none

feat: Adding iframe messaging (#297)
  cli/test/config.test.ts
  cli/test/config.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Iframe.md
  docs/src/content/docs/authoring/testing.mdx
  electron.vite.config.ts
  electron/e2e/iframe-messaging.spec.ts
  electron/e2e/iframe.spec.ts
  electron/e2e/webview-guests.ts
  electron/main/embeds.test.ts
  electron/main/embeds.ts
  electron/main/index.ts
  electron/preload/embed-relay.test.ts
  electron/preload/embed-relay.ts
  electron/preload/embed.ts
  electron/shared/embed-messaging.ts
  knip.json
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  testdata/feature-demos/iframe/assets/picker/index.html
  testdata/feature-demos/iframe/assets/picker/picker.js
  testdata/feature-demos/iframe/assets/picker/style.css
  testdata/feature-demos/iframe/runbook.mdx
  testdata/feature-demos/iframe/runbook_test.yml
  tsconfig.preload.json
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.messaging.test.tsx
  web/src/components/mdx/Iframe/hooks/useFrameMessaging.ts
  web/src/components/mdx/Iframe/protocol.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/lib/assetPaths.ts
Due: docs-spellcheck, web-eslint

chore: Adding `dependabot.yml` (#309)
  .github/dependabot.yml
Due: none

feat: Adding script refresh functionality (#300)
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/security/execution-model.md
  electron/e2e/watch-mode.spec.ts
  electron/main/index.ts
  electron/main/ipc/runbook-watcher.test.ts
  electron/main/ipc/runbook-watcher.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/watch.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  src/errors/index.ts
  src/types.ts
  src/watcher.test.ts
  src/watcher.ts
  web/src/components/artifacts/code/DiffTable.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/mdx/Check/__tests__/Check.instruction.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/ScriptChangeNotice.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.registry.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/hooks/useScriptFileChange.ts
  web/src/lib/unifiedDiff.test.ts
  web/src/lib/unifiedDiff.ts
Due: docs-spellcheck, web-eslint

test(inputs): provide runbook state through a memoized stub
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/test/test-utils.tsx
Due: web-eslint

feat(inputs): name a pending block by the id it is written with
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/contexts/ComponentIdRegistry.tsx
Due: web-eslint

feat(inputs): show a linked value using a block that isn't on the page as an error
  docs/src/content/docs/authoring/boilerplate.mdx
  testdata/feature-demos/template-defaults/runbook.mdx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/useOutputDependencyStatus.ts
  web/src/components/mdx/_shared/lib/templateValue.test.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
  web/src/contexts/ComponentIdRegistry.tsx
Due: docs-spellcheck, web-eslint

feat(inputs): count a linked value using a missing block in the page error report
  docs/src/content/docs/authoring/boilerplate.mdx
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/TemplateInstruction.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
Due: docs-spellcheck, web-eslint

feat(inputs): show template-valued defaults as linked tokens instead of raw {{ }} text (#284)
  docs/src/content/docs/authoring/boilerplate.mdx
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/boilerplate.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/boilerplate/flattenInputs.ts
  src/domain/boilerplate/templateString.ts
  testdata/feature-demos/template-defaults/runbook.mdx
  testdata/feature-demos/template-defaults/runbook_test.yml
  testdata/feature-demos/template-defaults/scripts/create-account.sh
  testdata/feature-demos/template-defaults/templates/linked-defaults/boilerplate.yml
  testdata/feature-demos/template-defaults/templates/linked-defaults/settings.yml
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/TemplateInstruction.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/useOutputDependencyStatus.ts
  web/src/components/mdx/_shared/hooks/useResolvedTemplateValues.ts
  web/src/components/mdx/_shared/lib/templateValue.test.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/contexts/useRunbook.ts
  web/src/test/test-utils.tsx
Due: docs-spellcheck, web-eslint
