Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

fix(release): bump electron-builder to 26.16.1 to fix macOS signing (#263)
  bun.lock
  package.json
Due: none

fix: Adding a fallback for warm render partials
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/warmEligibility.test.ts
  src/domain/boilerplate/warmEligibility.ts
  src/errors/index.ts
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWarmRenderDispatcher.test.ts
  src/layers/NodeWarmRenderDispatcher.ts
  src/services/BundleProducer.ts
  src/services/WarmRenderDispatcher.ts
Due: none

fix(exec): send injected log_* helpers to stderr
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  scripts/logging.sh
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
Due: docs-spellcheck

fix(git-clone): show a clear "Stop using this repo" action in the result panel
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  web/src/components/mdx/GitClone/__tests__/GitClone.startOver.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: docs-spellcheck, web-eslint

feat(git-clone): show only the relative path and copy the absolute path
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.paths.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/__tests__/CloneResult.test.tsx
Due: docs-spellcheck, web-eslint

feat(logs): add a "Copy prompt for LLM" button to the log toolbar
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/_shared/components/ViewLogs.tsx
  web/src/components/mdx/_shared/components/__tests__/ViewLogs.test.tsx
  web/src/components/mdx/_shared/lib/llmPrompt.test.ts
  web/src/components/mdx/_shared/lib/llmPrompt.ts
  web/src/contexts/RunbookContext.test.tsx
  web/src/contexts/RunbookContext.tsx
Due: docs-spellcheck, web-eslint

fix(git-auth): don't suggest gh/glab login or re-detection when detectCredentials={false}
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.detectionDisabled.test.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GitAuth/components/__tests__/HostSelect.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/_shared/lib/githubHost.test.ts
  web/src/components/mdx/_shared/lib/githubHost.ts
Due: docs-spellcheck, web-eslint

test(git-clone): scope the start-over test comment to what is withdrawn
  web/src/components/mdx/GitClone/__tests__/GitClone.startOver.test.tsx
Due: web-eslint

feat(blocks): show the block ID and copy button inline on hover
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/_shared/components/BlockIdLabel.tsx
  web/src/components/mdx/_shared/components/__tests__/BlockIdLabel.test.tsx
Due: docs-spellcheck, web-eslint

fix(main): hand off to the running app when 'runbooks' is launched from a deleted directory
  docs/src/content/docs/commands/open.mdx
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/launch-dir.test.ts
  electron/main/launch-dir.ts
Due: docs-spellcheck

fix(cli): make the 'runbooks' launcher return the shell right away and stay quiet
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/intro/installation.mdx
  electron/main/cli-install.test.ts
  electron/main/cli-install.ts
Due: docs-spellcheck

fix(git-clone): show an absolute Local Path inside the working dir relative to it
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.paths.test.tsx
Due: web-eslint

feat(inputs): show template-valued defaults as linked tokens instead of raw {{ }} text
  docs/src/content/docs/authoring/boilerplate.mdx
  testdata/feature-demos/template-defaults/runbook.mdx
  testdata/feature-demos/template-defaults/runbook_test.yml
  testdata/feature-demos/template-defaults/templates/linked-defaults/boilerplate.yml
  testdata/feature-demos/template-defaults/templates/linked-defaults/settings.yml
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/lib/templateValue.test.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
Due: docs-spellcheck, web-eslint

feat(outputs): let scripts mark block outputs as sensitive
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/shared/channels.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  src/types.ts
  testdata/feature-demos/aws-auth/scripts/assume-role.sh
  testdata/feature-demos/block-outputs/runbook.mdx
  testdata/feature-demos/block-outputs/runbook_test.yml
  testdata/feature-demos/block-outputs/scripts/fetch-api-token.sh
  testdata/feature-demos/google-auth/scripts/impersonate-sa.sh
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/ViewOutputs.tsx
  web/src/components/mdx/_shared/components/__tests__/ViewOutputs.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: docs-spellcheck, web-eslint

fix(exec): keep log_* lines in order by merging stderr in the bash wrapper
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
Due: docs-spellcheck

fix(git-clone): show a clear "Stop using this repo" action in the result panel (#277)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  web/src/components/mdx/GitClone/__tests__/GitClone.startOver.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: docs-spellcheck, web-eslint

feat(blocks): add a <Finish> block that runs a final check and celebrates
  bun.lock
  cli/test/blockTypes.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Finish.mdx
  docs/src/content/docs/authoring/blocks/index.md
  docs/src/content/docs/authoring/runbook-structure.mdx
  docs/src/content/docs/authoring/testing.mdx
  docs/src/content/docs/intro/instruction-mode.mdx
  package.json
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  testdata/feature-demos/finish/runbook.mdx
  testdata/feature-demos/finish/runbook_test.yml
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/Finish/Finish.tsx
  web/src/components/mdx/Finish/__tests__/Finish.instruction.test.tsx
  web/src/components/mdx/Finish/__tests__/Finish.test.tsx
  web/src/components/mdx/Finish/__tests__/celebrate.test.ts
  web/src/components/mdx/Finish/celebrate.ts
  web/src/components/mdx/Finish/index.ts
  web/src/components/mdx/__tests__/instructionModeRegistry.test.ts
  web/src/components/mdx/_shared/components/Instruction.test.tsx
  web/src/components/mdx/_shared/components/Instruction.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/types/executable.ts
Due: docs-spellcheck, web-eslint

docs(git-auth): note the gh alternative is dropped with detectCredentials={false}
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
Due: docs-spellcheck

fix(logs): record timeouts in the log file the LLM prompt points at
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.ts
  src/domain/files/manifest.test.ts
  src/layers/NodeFileSystem.ts
  src/services/FileSystem.ts
  src/test-utils/TestFileSystem.ts
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/mdx/_shared/components/__tests__/ViewLogs.test.tsx
Due: web-eslint

feat(app): add Cmd/Ctrl+F find in page
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/find-in-page.spec.ts
  electron/main/menu.test.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/layout/FindBar.css
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/__tests__/FindBar.test.tsx
  web/src/lib/findInPage.test.ts
  web/src/lib/findInPage.ts
Due: docs-spellcheck, web-eslint

test(main): cover the launch-lock ordering and the unknown-folder fallback
  docs/src/content/docs/commands/open.mdx
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/launch-dir.test.ts
  electron/main/launch-dir.ts
Due: docs-spellcheck

fix(blocks): wait for a resting pointer before expanding the ID badge
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/_shared/components/BlockIdLabel.tsx
  web/src/components/mdx/_shared/components/__tests__/BlockIdLabel.test.tsx
Due: docs-spellcheck, web-eslint

fix(inputs): mask linked sensitive values and share the template test with main
  docs/src/content/docs/authoring/boilerplate.mdx
  src/domain/boilerplate/flattenInputs.ts
  src/domain/boilerplate/templateString.ts
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/TemplateValue.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/lib/templateValue.test.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
Due: docs-spellcheck, web-eslint

fix(outputs): redact sensitive outputs in test CLI assertion messages
  cli/test/assertions.test.ts
  cli/test/assertions.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  testdata/feature-demos/block-outputs/runbook.mdx
  web/src/components/mdx/_shared/components/__tests__/ViewOutputs.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
Due: docs-spellcheck, web-eslint

fix(finish): fix the missing-inputs wording and name Finish in execution docs
  docs/src/content/docs/authoring/blocks/Advanced.md
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/security/execution-model.md
  web/src/components/mdx/Finish/__tests__/Finish.test.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: docs-spellcheck, web-eslint

fix(cli): start Runbooks outside the terminal's reach from the launcher
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/intro/installation.mdx
  electron/main/cli-install.test.ts
  electron/main/cli-install.ts
Due: docs-spellcheck

fix(app): close find bar under modals and clear the narrow-layout toggle
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/find-in-page.spec.ts
  web/src/App.tsx
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/__tests__/FindBar.test.tsx
Due: docs-spellcheck, web-eslint

fix(app): scroll find matches out from under the find bar
  electron/e2e/find-in-page.spec.ts
  web/src/components/layout/FindBar.tsx
  web/src/lib/findInPage.test.ts
  web/src/lib/findInPage.ts
Due: web-eslint

test(app): wait for the find bar to take focus before typing in e2e
  electron/e2e/find-in-page.spec.ts
Due: none

feat: Adding an `Iframe` component
  cli/test/blockTypes.ts
  docs/src/content/docs/authoring/blocks/Iframe.md
  docs/src/content/docs/authoring/blocks/index.md
  docs/src/content/docs/authoring/runbook-structure.mdx
  electron/e2e/iframe.spec.ts
  electron/main/csp.test.ts
  electron/main/csp.ts
  electron/main/index.ts
  electron/main/ipc/path-guard.test.ts
  electron/main/ipc/path-guard.ts
  electron/main/permissions.test.ts
  electron/main/permissions.ts
  testdata/feature-demos/iframe/assets/site/app.js
  testdata/feature-demos/iframe/assets/site/index.html
  testdata/feature-demos/iframe/assets/site/style.css
  testdata/feature-demos/iframe/runbook.mdx
  testdata/feature-demos/iframe/runbook_test.yml
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.test.tsx
  web/src/components/mdx/Iframe/index.ts
  web/src/components/mdx/__tests__/instructionModeRegistry.test.ts
  web/src/lib/assetPaths.ts
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

feat: Locking down sources to HTTPS and loop back addresses
  docs/src/content/docs/authoring/blocks/Iframe.md
  electron/e2e/iframe.spec.ts
  electron/main/csp.test.ts
  electron/main/csp.ts
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.test.tsx
Due: docs-spellcheck, web-eslint

feat(git-clone): show only the relative path and copy the absolute path (#278)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.paths.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/__tests__/CloneResult.test.tsx
Due: docs-spellcheck, web-eslint

fix(git-auth): don't suggest gh/glab login or re-detection when detectCredentials={false} (#279)
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.detectionDisabled.test.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GitAuth/components/__tests__/HostSelect.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/_shared/lib/githubHost.test.ts
  web/src/components/mdx/_shared/lib/githubHost.ts
Due: docs-spellcheck, web-eslint

feat(app): add Cmd/Ctrl+F find in page (#288)
  docs/src/content/docs/intro/ui_tour.md
  electron/e2e/find-in-page.spec.ts
  electron/main/menu.test.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/layout/FindBar.css
  web/src/components/layout/FindBar.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/__tests__/FindBar.test.tsx
  web/src/lib/findInPage.test.ts
  web/src/lib/findInPage.ts
Due: docs-spellcheck, web-eslint

refactor(cli): build the 'runbooks' launchers from template files
  .gitattributes
  electron.vite.config.ts
  electron/main/cli-install.test.ts
  electron/main/cli-install.ts
  electron/main/cli-launcher/runbooks.cmd
  electron/main/cli-launcher/runbooks.sh
  electron/main/text-imports.d.ts
Due: none

fix(exec): write log_* helpers to per-level RUNBOOK_*_LOG files
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  scripts/logging.sh
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/domain/exec/logChannels.test.ts
  src/domain/exec/logChannels.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/layers/ChildProcessSpawner.test.ts
  src/layers/ChildProcessSpawner.ts
  src/services/ProcessSpawner.ts
  testdata/feature-demos/script-logging/runbook.mdx
  testdata/feature-demos/script-logging/scripts/logging-demo.sh
Due: docs-spellcheck

docs(exec): document the RUNBOOK_*_LOG log files
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/security/shell-execution-context.md
Due: docs-spellcheck

style(examples): use env bash shebangs and here-strings in output scripts
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  testdata/feature-demos/aws-auth/scripts/assume-role.sh
  testdata/feature-demos/block-outputs/scripts/fetch-api-token.sh
  testdata/feature-demos/google-auth/scripts/impersonate-sa.sh
Due: docs-spellcheck

fix: Adding a fallback for warm render partials (#265)
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/warmEligibility.test.ts
  src/domain/boilerplate/warmEligibility.ts
  src/errors/index.ts
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWarmRenderDispatcher.test.ts
  src/layers/NodeWarmRenderDispatcher.ts
  src/services/BundleProducer.ts
  src/services/WarmRenderDispatcher.ts
Due: none
