Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

test(workspace): list a relative rootDir against the runbook directory
  electron/main/ipc/workspace.test.ts
Due: none

fix(git-pr): push a failed attempt's commits under a new branch name
  src/domain/git/operations.pr.test.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  src/test-utils/TestLayer.ts
Due: none

fix(git-pr): stage files outside a sparse checkout's cone
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
Due: docs-spellcheck

fix(git-clone): show main's error without Electron's invoke wrapper
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: web-eslint

fix(git-pr): say when a rerun pushed to an already-open PR/MR's branch
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git-pr-result.test.ts
  src/domain/git/operations.pr.test.ts
  src/domain/git/operations.ts
Due: docs-spellcheck

test(git-pr): pin the GitHub Enterprise host on the labels call
  src/domain/git/operations.pr.test.ts
Due: none

fix(test-cli): let a GitClone step expect a failed clone
  cli/test/executor.test.ts
  cli/test/executor.ts
Due: none

fix(git): bound the core.sshCommand lookup with a timeout
  src/domain/git/env.test.ts
  src/domain/git/env.ts
Due: none

fix(dir-picker): start over when the GitClone root changes or goes away
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
Due: docs-spellcheck, web-eslint

test(git-pr): pin the log of a retry canceled while it waits
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
Due: web-eslint

docs(git-pr): spell out what an untracked canceled run can still reach
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix(dir-picker): show a listing error only while the listing is current
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
Due: web-eslint

fix(git-pr): don't repeat a pushed branch's commits under a new name
  src/domain/git/operations.pr.test.ts
  src/domain/git/operations.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  src/test-utils/TestLayer.ts
Due: none

fix(google-auth): let MAIN's configuration read decide the gcloud tab's region/zone
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
Due: web-eslint

docs(git-pr): describe new-name retries and "create another" as they work
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
Due: docs-spellcheck

fix(git-pr): stage edits outside the cone on git 2.34 and 2.35
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
Due: docs-spellcheck

docs(google-auth): say a block with no project leaves the session's project
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google-session-env.ts
Due: docs-spellcheck

fix(dir-picker): keep a duplicate id from fighting over PATH
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
Due: web-eslint

test(git-clone): run every real git of the clone tests in a sandbox
  cli/test/executor.test.ts
  cli/test/executor.ts
  electron/main/ipc/git-clone-late-cancel.test.ts
  electron/main/ipc/git-clone-repo-path.test.ts
Due: none

fix(git-clone): offer Clone again only once a cancel has cleaned up
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git-clone-late-cancel.test.ts
  electron/main/ipc/git.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: docs-spellcheck, web-eslint

fix(git-clone): drop a kill-wait timeout that could never fire
  electron/main/ipc/git.ts
Due: none

fix(git-pr): keep failed pushes inline and isolate cancelled runs (#227)
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix(dir-picker): fill dropdowns from workspace:dirs and sync PATH (#221)
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/github.test.ts
  electron/main/ipc/github.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session.test.ts
  electron/main/ipc/session.ts
  electron/main/ipc/workspace.test.ts
  electron/main/ipc/workspace.ts
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/DirPickerInstruction.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/DirPicker/types.ts
Due: docs-spellcheck, web-eslint

fix(google-auth): publish what MAIN wrote; fix picker, 403s and session (#209)
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google-session-env.test.ts
  electron/main/ipc/google-session-env.ts
  electron/main/ipc/google.test.ts
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  src/domain/google/gcloud-config.ts
  src/layers/GoogleSdkClient.test.ts
  src/layers/GoogleSdkClient.ts
  web/src/components/artifacts/code/FileTree.tsx
  web/src/components/mdx/AwsAuth/components/ProfileSelector.tsx
  web/src/components/mdx/AwsAuth/components/SearchInput.tsx
  web/src/components/mdx/AwsAuth/components/SsoFlow.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.test.tsx
  web/src/components/mdx/GoogleAuth/__tests__/credentialTypeLabel.test.tsx
  web/src/components/mdx/GoogleAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GoogleAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/GoogleAuth/components/GcloudConfigSelector.tsx
  web/src/components/mdx/GoogleAuth/components/ProjectSelector.tsx
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
  web/src/components/mdx/GoogleAuth/utils.ts
  web/src/components/mdx/_shared/components/SearchInput.test.tsx
  web/src/components/mdx/_shared/components/SearchInput.tsx
Due: docs-spellcheck, web-eslint

fix(git-clone): real cancel, sparse repo_path, GitHub browser fixes (#213)
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git-clone-late-cancel.test.ts
  electron/main/ipc/git-clone-repo-path.test.ts
  electron/main/ipc/git.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/cloneSteps.test.ts
  src/domain/git/cloneSteps.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  testdata/sample-runbooks/dual-clone/runbook.mdx
  web/src/components/layout/OpenUrlModal.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/GitCloneInstruction.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.emptyRepo.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.instruction.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitHubBrowser.test.tsx
  web/src/components/mdx/GitClone/components/GitHubBrowser.tsx
  web/src/components/mdx/GitClone/components/__tests__/GitHubBrowser.test.tsx
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
  web/src/contexts/IpcGitWorkTreeContext.test.tsx
  web/src/contexts/IpcGitWorkTreeContext.tsx
  web/src/contexts/gitWorkTreeTypes.ts
  web/src/hooks/useIpc.ts
  web/src/lib/ipcError.ts
Due: docs-spellcheck, web-eslint

test(git-clone): run every sparse clone step through the user's ssh command
  electron/main/ipc/git-clone-ssh.test.ts
Due: none

test(git-clone): let the cancel test's stand-in git answer the ssh lookup
  electron/main/ipc/git-clone-cancel.test.ts
Due: none

fix(git): resumable PR/MR retries, PR_URL outputs, remotes, ssh config (#214)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git-clone-ssh.test.ts
  electron/main/ipc/git-pr-result.test.ts
  electron/main/ipc/git-pr-result.ts
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/domain/git/env.test.ts
  src/domain/git/env.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/operations.pr.test.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  src/remote-source.ts
  src/services/GitClient.ts
  src/services/GitHubClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitClone/__tests__/GitClone.remoteUrl.test.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/__tests__/GitPullRequest.retry.test.tsx
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
  web/src/components/mdx/GitPullRequest/types.ts
Due: docs-spellcheck, web-eslint

test: drop useExecutableRegistry from tests main added
  electron/main/ipc/generated-dir.test.ts
  electron/main/ipc/runbook.test.ts
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
Due: web-eslint

fix(app): drop AlertTriangle import left unused by the merge
  web/src/App.tsx
Due: web-eslint

test(workspace): drop removed DiffEntry.diffTruncated from #212 fixture
  src/domain/workspace/workspace.test.ts
Due: none

fix(main): parse a second instance's own argv, not Chromium's reordered copy
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/index.ts
Due: none

fix(watch): re-read a block's script file when the registry is rebuilt
  docs/src/content/docs/commands/watch.mdx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.registry.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/ExecutableRegistryContext.types.ts
  web/src/contexts/IpcExecutableRegistryContext.test.tsx
  web/src/contexts/IpcExecutableRegistryContext.tsx
Due: docs-spellcheck, web-eslint

fix(main): strip URL userinfo from the remote-open error dialog
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
Due: none

test(main): fail the remote-open dialog test through valueOrUserError
  electron/main/open-runbook.test.ts
Due: none

test(git-client): sandbox git config in the new real-repo tests
  src/domain/workspace/workspace.test.ts
  src/layers/GitCliClient.test.ts
Due: none

docs(main): the working directory starts in the runbook's folder
  docs/src/content/docs/intro/files_workspace.mdx
  electron/main/cli.ts
Due: docs-spellcheck

fix(workspace): diff each path alone when the whole-worktree diff fails
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
Due: none

test(main): pin the second-instance argv Electron 41 delivers on macOS
  electron/main/cli.test.ts
Due: none

fix(watch): reload the displayed runbook, not a failed open, on a change
  electron/main/ipc/runbook-watcher.test.ts
  electron/main/ipc/runbook-watcher.ts
  electron/main/ipc/watch.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/hooks/useIpcWatchMode.test.tsx
  web/src/hooks/useIpcWatchMode.ts
Due: web-eslint
