Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

Revert "Support inputs and outputs in prefilled vals"
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/types.ts
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: web-eslint

Simplify file generation flows, first pass
  web/src/App.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/GeneratedFilesContext.tsx
  web/src/contexts/GeneratedFilesContext.types.ts
  web/src/hooks/useApiBoilerplateRender.ts
  web/src/hooks/useFileTree.ts
Due: web-eslint

Fix docs mistake [skip ci]
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
Due: docs-spellcheck

Make sure GitHub Pull Request properly handles dependencies all relevant props.
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  testdata/feature-demos/block-outputs/runbook.mdx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: docs-spellcheck, web-eslint

Differentiate blocking vs. non-blocking dependencies
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: web-eslint

Update all sample runbooks to use the new syntax
  testdata/feature-demos/file-workspace/runbook.mdx
  testdata/feature-demos/file-workspace/templates/deploy-notes/deploy-notes.md
  testdata/feature-demos/script-logging/checks/debug-check.sh
  testdata/feature-demos/tf-colocated-module/runbook.mdx
  testdata/feature-demos/tf-custom-template/templates/lambda-deploy/config.yaml
  testdata/feature-demos/tf-custom-template/templates/lambda-deploy/terragrunt.hcl
  testdata/feature-demos/tf-dynamic-source/runbook.mdx
  testdata/sample-runbooks/demo2/runbook.mdx
  testdata/sample-runbooks/demo3/runbook.mdx
  testdata/sample-runbooks/demo3/templates/infra-live-elements/accounts.yml
  testdata/sample-runbooks/demo3/templates/infra-live-elements/common.hcl
  testdata/sample-runbooks/demo3/templates/infra-live-elements/subfolder/sample.hcl
  testdata/sample-runbooks/demo3/templates/infra-live-elements/tags.yml
  testdata/sample-runbooks/demo3/templates/temp1/key-vals.yml
  testdata/sample-runbooks/lambda/templates/lambda-src/nodejs/index.mjs
  testdata/sample-runbooks/lambda/templates/lambda-src/python/app.py
  testdata/sample-runbooks/lambda/templates/lambda-unit/terragrunt.hcl
  testdata/sample-runbooks/my-first-runbook/templates/project/README.md
Due: none

Add support for legacy vars.
  api/boilerplate_render.go
  api/boilerplate_render_test.go
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
Due: docs-spellcheck

Fix small bug.
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

More minor bug fixes. [skip ci]
  cmd/test_init.go
  web/src/components/mdx/TfModule/TfModule.test.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
Due: web-eslint

Render unresolved text nicely [skip ci]
  testdata/feature-demos/block-outputs/runbook.mdx
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: web-eslint

Add test for inputs/outputs, fix test framework bugs [skip ci]
  api/testing/executor.go
  testdata/feature-demos/inputs-and-outputs/runbook_test.yml
Due: none

Avoid rendering values in console logs. [skip ci]
  web/src/contexts/RunbookContext.tsx
Due: web-eslint

Fix issue where test executor wasn't converting new inputs variables correctly
  api/boilerplate_render.go
Due: none

Be more technically correct on exactly which dependencies are blocking.
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/lib/templateUtils.ts
Due: web-eslint

Make sure we're resolving fully normalized blockIds.
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: web-eslint

Explicitly reject the input names "inputs" and "outputs"
  api/boilerplate_render.go
  api/boilerplate_render_test.go
Due: none

Fix subtle race condition.
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

Fix issue where template rendering backend was not receiving template vars in updated format
  AGENTS.md
  web/src/components/mdx/Template/Template.tsx
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: web-eslint

Clarify fish support
  docs/src/content/docs/authoring/blocks/Command.mdx
Due: docs-spellcheck

Clarify docs
  docs/src/content/docs/authoring/blocks/Check.md
  docs/src/content/docs/authoring/blocks/Command.mdx
  testdata/feature-demos/script-logging/runbook.mdx
Due: docs-spellcheck

Fix missing mkdir
  docs/src/content/docs/authoring/blocks/Command.mdx
Due: docs-spellcheck

De-dedupe valid admonition types
  web/src/components/mdx/Admonition/Admonition.tsx
Due: web-eslint

Fix stale UI state after deleting generated files
  web/src/App.tsx
  web/src/components/layout/GeneratedFilesAlert/GeneratedFilesAlert.tsx
  web/src/hooks/useApiGeneratedFilesDelete.ts
Due: web-eslint

Fix our very first playwright test!
  testdata/sample-runbooks/markdown-only-simple/runbook.mdx
  web/e2e/fixtures.ts
  web/e2e/runbook-rendering.spec.ts
Due: none

Fix second playwright test!
  web/e2e/runbook-rendering.spec.ts
  web/src/components/MDXContainer.tsx
Due: web-eslint

Fix homebrew formula PR not auto-merging
  .github/workflows/update-homebrew.yml
Due: none

Add demo3 test [wip] [skip ci]
  web/e2e/runbook-rendering.spec.ts
  web/src/components/mdx/_shared/components/ErrorDisplay.tsx
Due: web-eslint

Streamline code.
  api/boilerplate_render.go
  api/exec_stream.go
  api/file_tree.go
  api/types.go
  web/src/App.tsx
  web/src/components/artifacts/workspace/ChangeProportionBar.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/artifacts/workspace/Workspace.tsx
  web/src/components/layout/ArtifactsContainer.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/FileTreeContext.types.ts
  web/src/hooks/useApiBoilerplateRender.ts
  web/src/hooks/useFileTree.ts
Due: web-eslint

Streamlined architecture
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/hooks/useFileTreeUpdater.ts
  web/src/hooks/useApiBoilerplateRender.ts
  web/src/lib/changeDetection.ts
Due: web-eslint

Initial pass at test specs for sample runbooks
  web/e2e/fixtures.ts
  web/e2e/global-setup.ts
  web/e2e/runbook-rendering.spec.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/tsconfig.e2e.json
  web/tsconfig.json
Due: web-eslint

Add data-testid identifiers to all blocks.
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitHubAuth/GitHubAuth.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
Due: web-eslint

Add id prop to TemplateInline for consistent data-testid support
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  testdata/feature-demos/block-outputs/runbook.mdx
  testdata/feature-demos/file-workspace/runbook.mdx
  testdata/feature-demos/tf-colocated-module/runbook.mdx
  testdata/feature-demos/tf-custom-template/runbook.mdx
  testdata/feature-demos/tf-dynamic-source/runbook.mdx
  testdata/sample-runbooks/demo2/runbook.mdx
  testdata/sample-runbooks/demo3/runbook.mdx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: docs-spellcheck, web-eslint

Remove data-testid implementation detail from TemplateInline docs
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
Due: docs-spellcheck

Complete demo2 test
  testdata/sample-runbooks/demo2/runbook.mdx
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/artifacts/workspace/Workspace.tsx
Due: web-eslint

Rewrite TemplateInline docs to not focus on data-testid as purpose of id
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: docs-spellcheck, web-eslint

Register TemplateInline with ComponentIdRegistry for duplicate ID detection
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/contexts/ComponentIdRegistry.tsx
Due: web-eslint

Remove GenerateTemplateInlineID and use explicit id prop everywhere
  api/testing/executor.go
  api/testing/executor_test.go
  api/testing/validation.go
  cmd/test_init.go
  docs/src/content/docs/authoring/testing.mdx
  testdata/feature-demos/block-outputs/runbook_test.yml
  testdata/feature-demos/file-workspace/runbook_test.yml
  testdata/sample-runbooks/demo2/runbook_test.yml
  testdata/sample-runbooks/demo3/runbook_test.yml
Due: docs-spellcheck

Add --port CLI flag
  AGENTS.md
  cmd/open.go
  cmd/root.go
  cmd/serve.go
  cmd/server.go
  cmd/watch.go
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/development/workflow.md
  docs/src/content/docs/intro/ui_tour.md
  docs/src/content/docs/security/execution-model.md
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/playwright.config.ts
Due: docs-spellcheck

Add data-testid props to the various CodeFiles we have.
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/artifacts/code/CodeFile.tsx
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/artifacts/workspace/RepositoryFileBrowser.tsx
Due: web-eslint

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
