Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix(main): hand off to the running app when 'runbooks' is launched from a deleted directory (#281)
  docs/src/content/docs/commands/open.mdx
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/launch-dir.test.ts
  electron/main/launch-dir.ts
Due: docs-spellcheck

feat(logs): add a "Copy prompt for LLM" button to the log toolbar (#282)
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.ts
  src/domain/files/manifest.test.ts
  src/layers/NodeFileSystem.ts
  src/services/FileSystem.ts
  src/test-utils/TestFileSystem.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/_shared/components/ViewLogs.tsx
  web/src/components/mdx/_shared/components/__tests__/ViewLogs.test.tsx
  web/src/components/mdx/_shared/lib/llmPrompt.test.ts
  web/src/components/mdx/_shared/lib/llmPrompt.ts
  web/src/contexts/RunbookContext.test.tsx
  web/src/contexts/RunbookContext.tsx
Due: docs-spellcheck, web-eslint

feat(blocks): show the block ID and copy button inline on hover (#283)
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/_shared/components/BlockIdLabel.tsx
  web/src/components/mdx/_shared/components/__tests__/BlockIdLabel.test.tsx
Due: docs-spellcheck, web-eslint

fix(exec): keep log_* lines in order in one RUNBOOK_LOG file
  cli/test/executor.test.ts
  cli/test/executor.ts
  scripts/logging.sh
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/domain/exec/logChannels.test.ts
  src/domain/exec/logChannels.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/layers/ChildProcessSpawner.ts
  src/services/ProcessSpawner.ts
Due: none

docs(exec): document RUNBOOK_LOG and the stderr fallback
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/security/shell-execution-context.md
  testdata/feature-demos/script-logging/runbook.mdx
  testdata/feature-demos/script-logging/scripts/logging-demo.sh
Due: docs-spellcheck

fix(outputs): keep auth secrets sensitive and make masked renders faithful
  cli/test/assertions.test.ts
  cli/test/assertions.ts
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/intro/instruction-mode.mdx
  src/domain/exec/outputValues.test.ts
  src/domain/exec/outputValues.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.block.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.profiles.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.sso.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useInstructionResolution.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/templateUtils.ts
  web/src/test/setup.ts
Due: docs-spellcheck, web-eslint

docs(outputs): spell out 'credentials' in the fromJson example
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
Due: docs-spellcheck

fix(exec): send log_* helpers to RUNBOOK_LOG files so $(...) captures stay clean (#280)
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/security/shell-execution-context.md
  scripts/logging.sh
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/domain/exec/logChannels.test.ts
  src/domain/exec/logChannels.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/layers/ChildProcessSpawner.test.ts
  src/layers/ChildProcessSpawner.ts
  src/services/ProcessSpawner.ts
  testdata/feature-demos/script-logging/runbook.mdx
  testdata/feature-demos/script-logging/scripts/logging-demo.sh
Due: docs-spellcheck

fix(cli): make the 'runbooks' launcher return the shell right away and stay quiet (#287)
  .gitattributes
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/intro/installation.mdx
  electron.vite.config.ts
  electron/main/cli-install.test.ts
  electron/main/cli-install.ts
  electron/main/cli-launcher/runbooks.cmd
  electron/main/cli-launcher/runbooks.sh
  electron/main/text-imports.d.ts
Due: docs-spellcheck

fix(iframe): isolate asset pages per runbook, block popups, harden title bar
  docs/src/content/docs/authoring/blocks/Iframe.md
  electron/e2e/iframe.spec.ts
  electron/e2e/runbook-assets.spec.ts
  electron/main/index.ts
  electron/main/ipc/path-guard.test.ts
  electron/main/ipc/path-guard.ts
  electron/main/ipc/runbook.ts
  electron/main/permissions.test.ts
  electron/main/permissions.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.assets.test.tsx
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.test.tsx
  web/src/components/mdx/_shared/components/InlineMarkdown.tsx
  web/src/components/mdx/_shared/components/__tests__/InlineMarkdown.test.tsx
  web/src/contexts/RunbookContext.tsx
  web/src/hooks/useApiGetFile.ts
  web/src/lib/assetPaths.test.ts
  web/src/lib/assetPaths.ts
  web/src/test/test-utils.tsx
Due: docs-spellcheck, web-eslint

fix(iframe): isolate asset pages per runbook, block popups, harden title bar (#290)
  docs/src/content/docs/authoring/blocks/Iframe.md
  electron/e2e/iframe.spec.ts
  electron/e2e/runbook-assets.spec.ts
  electron/main/index.ts
  electron/main/ipc/path-guard.test.ts
  electron/main/ipc/path-guard.ts
  electron/main/ipc/runbook.ts
  electron/main/permissions.test.ts
  electron/main/permissions.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.assets.test.tsx
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.test.tsx
  web/src/components/mdx/_shared/components/InlineMarkdown.tsx
  web/src/components/mdx/_shared/components/__tests__/InlineMarkdown.test.tsx
  web/src/contexts/RunbookContext.tsx
  web/src/hooks/useApiGetFile.ts
  web/src/lib/assetPaths.test.ts
  web/src/lib/assetPaths.ts
  web/src/test/test-utils.tsx
Due: docs-spellcheck, web-eslint

fix(iframe): run embedded pages in webviews, check IPC senders
  docs/src/content/docs/authoring/blocks/Iframe.md
  docs/src/content/docs/authoring/runbook-structure.mdx
  electron/e2e/iframe.spec.ts
  electron/main/csp.test.ts
  electron/main/csp.ts
  electron/main/embeds.test.ts
  electron/main/embeds.ts
  electron/main/index.ts
  electron/main/ipc/index.ts
  electron/main/ipc/ipc-error-wiring.test.ts
  electron/main/ipc/ipc-sender.test.ts
  electron/main/ipc/ipc-sender.ts
  electron/main/window.ts
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.test.tsx
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

test(e2e): temporary diagnostics for the Linux-only iframe e2e failures
  electron/e2e/iframe.spec.ts
Due: none

test(e2e): retry flaky main-process evaluate in the iframe spec; drop diagnostics
  electron/e2e/iframe.spec.ts
Due: none

docs(path-guard): describe the asset host's identity precisely
  electron/main/ipc/path-guard.ts
Due: none

chore: Adding React Compiler lint
  .github/workflows/test.yml
  .mise.toml
  .oxlintrc.json
  bun.lock
  justfile
  mise.lock
  oxlintrc.json
  package.json
Due: none

feat: Adding Runbook <--> Iframe communication
  cli/test/config.test.ts
  cli/test/config.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Iframe.md
  docs/src/content/docs/authoring/testing.mdx
  electron/e2e/iframe-messaging.spec.ts
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  testdata/feature-demos/iframe/assets/picker/index.html
  testdata/feature-demos/iframe/assets/picker/picker.js
  testdata/feature-demos/iframe/assets/picker/style.css
  testdata/feature-demos/iframe/runbook.mdx
  testdata/feature-demos/iframe/runbook_test.yml
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.messaging.test.tsx
  web/src/components/mdx/Iframe/hooks/useFrameMessaging.ts
  web/src/components/mdx/Iframe/protocol.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/lib/assetPaths.ts
Due: docs-spellcheck, web-eslint

chore: Isolating localstorage per Runbook
  docs/src/content/docs/authoring/blocks/Iframe.md
  electron/e2e/iframe-messaging.spec.ts
  testdata/feature-demos/iframe/assets/picker/picker.js
Due: docs-spellcheck

feat: Adding script refresh functionality
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/security/execution-model.md
  electron/e2e/watch-mode.spec.ts
  electron/main/index.ts
  electron/main/ipc/runbook-watcher.test.ts
  electron/main/ipc/runbook-watcher.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/watch.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  src/errors/index.ts
  src/types.ts
  src/watcher.test.ts
  src/watcher.ts
  web/src/components/artifacts/code/DiffTable.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/mdx/Check/__tests__/Check.instruction.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/ScriptChangeNotice.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.registry.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/hooks/useScriptFileChange.ts
  web/src/lib/unifiedDiff.test.ts
  web/src/lib/unifiedDiff.ts
Due: docs-spellcheck, web-eslint

fix: Fixing flakes in e2e tests
  bun.lock
  electron/e2e/find-in-page.spec.ts
  electron/e2e/long-paths.spec.ts
  electron/e2e/main-process.ts
  electron/e2e/theme.spec.ts
  electron/e2e/vcs-auth.spec.ts
  package.json
  web/e2e/test-sample-runbooks.spec.ts
Due: none

chore: Addressing follow-ups from the lint findings
  .oxlintrc.json
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWarmRenderDispatcher.ts
  src/layers/NodeWasmRuntime.ts
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/contexts/RunbookContext.tsx
Due: web-eslint

chore: Addressing follow-ups from the lint findings (#296)
  .oxlintrc.json
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWarmRenderDispatcher.ts
  src/layers/NodeWasmRuntime.ts
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/contexts/RunbookContext.tsx
Due: web-eslint

fix: Fixing flakes in e2e tests (#306)
  bun.lock
  electron/e2e/find-in-page.spec.ts
  electron/e2e/long-paths.spec.ts
  electron/e2e/main-process.ts
  electron/e2e/theme.spec.ts
  electron/e2e/vcs-auth.spec.ts
  package.json
  web/e2e/test-sample-runbooks.spec.ts
Due: none

chore(iframe): meet main's formatter, lint and knip checks
  electron/e2e/iframe.spec.ts
  electron/main/embeds.test.ts
  electron/main/embeds.ts
  electron/main/ipc/ipc-sender.test.ts
  electron/main/ipc/ipc-sender.ts
  electron/main/ipc/path-guard.ts
  electron/main/permissions.test.ts
  web/src/components/mdx/Iframe/Iframe.tsx
  web/src/components/mdx/Iframe/__tests__/Iframe.test.tsx
  web/src/components/mdx/Iframe/index.ts
Due: web-eslint

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
