Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix(google-auth): publish the project and region actually sent to MAIN
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
Due: docs-spellcheck, web-eslint

refactor(validation): share boilerplate validators with the test CLI
  cli/test/validation.test.ts
  cli/test/validation.ts
  src/domain/boilerplate/validators.test.ts
  src/domain/boilerplate/validators.ts
  web/src/components/mdx/_shared/hooks/useFormValidation.ts
  web/src/components/mdx/_shared/lib/validators.ts
Due: web-eslint

fix(script-exec): re-render after output dependencies return
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/checkAuthDependency.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

fix(changed-files): safe SVG previews, empty-side diffs, real line diff
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/artifacts/workspace/__tests__/ChangedFilesView.diff.test.tsx
  web/src/components/artifacts/workspace/__tests__/ChangedFilesView.svg.test.tsx
  web/src/lib/unifiedDiff.test.ts
  web/src/lib/unifiedDiff.ts
Due: web-eslint

fix(security): reject MDX ESM and non-literal expressions in runbooks
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/security/execution-model.md
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

refactor(vcs): share one spawn-collect helper and drop dead VCS API
  electron/main/ipc/index.ts
  src/domain/git/cli-token.ts
  src/domain/github/auth.ts
  src/domain/gitlab/auth.ts
  src/domain/tls/system-ca.ts
  src/domain/vcs/cli-status.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
  src/services/GitClient.ts
  src/services/GitLabClient.ts
  src/services/ProcessSpawner.test.ts
  src/services/ProcessSpawner.ts
  src/services/VcsCredentials.ts
  src/test-utils/TestLayer.ts
  vcs-auth-v2-design.md
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: web-eslint

fix(main): detect terminal launches via TERM; move system trust out
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/index.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/vcs-tristate.test.ts
  electron/main/ipc/vcs-tristate.ts
  electron/main/shell-env.test.ts
  electron/main/shell-env.ts
  electron/main/system-trust.test.ts
  electron/main/system-trust.ts
Due: docs-spellcheck

fix(aws-auth): make the Local Profile tab work; fail region checks open
  bun.lock
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws-profiles.test.ts
  electron/main/ipc/aws-profiles.ts
  electron/main/ipc/aws.ts
  electron/shared/channels.ts
  package.json
  src/domain/aws/auth.ts
  src/domain/google/auth.test.ts
  src/layers/AwsSdkClient.test.ts
  src/layers/AwsSdkClient.ts
  src/layers/GoogleSdkClient.test.ts
  src/services/AwsClient.ts
  src/services/GoogleClient.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.profiles.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

fix(test-cli): run explicit steps in order and evaluate blocked first
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/testing.mdx
  testdata/feature-demos/github-pull-request/runbook_test.yml
  testdata/sample-runbooks/homepage-demo/runbook_test.yml
  testdata/sample-runbooks/next-app/runbook_test.yml
Due: docs-spellcheck

fix(exec): run the env-capture wrapper under bash, parse trap like bash
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/security/shell-execution-context.md
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
Due: docs-spellcheck

fix(watch): make --watch reload runbooks and remove dead live-reload mode
  docs/src/content/docs/commands/overview.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/security/execution-model.md
  electron/e2e/watch-mode.spec.ts
  electron/main/index.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/runbook-watcher.test.ts
  electron/main/ipc/runbook-watcher.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/runtime.ts
  electron/main/ipc/watch.ts
  electron/main/menu.ts
  src/types.ts
  src/watcher.test.ts
  src/watcher.ts
  web/src/App.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/ExecutableRegistryContext.types.ts
  web/src/contexts/IpcExecutableRegistryContext.test.tsx
  web/src/contexts/IpcExecutableRegistryContext.tsx
  web/src/hooks/useApiExec.ts
  web/src/hooks/useIpcWatchMode.test.tsx
  web/src/hooks/useIpcWatchMode.ts
Due: docs-spellcheck, web-eslint

fix(git-auth): make the GitLab host picker and Other instance work
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  electron/e2e/vcs-auth.spec.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.hostPicker.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitLabAuth.test.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/components/PatForm.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/providers/github.ts
  web/src/components/mdx/GitAuth/providers/gitlab.ts
  web/src/components/mdx/GitAuth/providers/index.ts
Due: docs-spellcheck, web-eslint

fix(git): one SCP remote grammar and a GitLab origin with no fallback
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/gitlab-host.ts
  src/domain/git/operations.pr.test.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.remoteUrl.test.tsx
Due: docs-spellcheck, web-eslint

fix(boilerplate): stop orphaning bundle builds and logging var files
  electron/main/ipc/boilerplate.ts
  src/layers/NodeBundleProducer.test.ts
  src/layers/NodeBundleProducer.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/services/BundleProducer.ts
  src/test-utils/TestSpawner.ts
Due: none

fix(git-clone): honor repo_path with a sparse checkout; drop use_pty
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git-clone-repo-path.test.ts
  electron/main/ipc/git.ts
  electron/shared/channels.ts
  src/domain/git/cloneSteps.test.ts
  src/domain/git/cloneSteps.ts
  testdata/sample-runbooks/dual-clone/runbook.mdx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

fix(aws-auth): re-validate block credentials on confirm; test real hook
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  web/src/components/mdx/AwsAuth/__tests__/AwsAuth.test.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.block.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

test(inputs): compile extractYaml test MDX with remark-gfm like the app
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.test.ts
Due: web-eslint

fix(security): realpath containment for clone, worktrees and assets
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/index.ts
  electron/main/ipc/git.ts
  electron/main/ipc/path-guard.test.ts
  electron/main/ipc/path-guard.ts
  electron/main/ipc/workspace.ts
Due: docs-spellcheck

fix(ui): linkify ANSI logs, unique LocalRepoForm id, scoped key toggle
  web/src/components/artifacts/CollapsibleFileHeader.tsx
  web/src/components/artifacts/__tests__/CollapsibleFileHeader.test.tsx
  web/src/components/mdx/GitClone/__tests__/LocalRepoForm.test.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/shared/TerminalText/TerminalText.css
  web/src/components/shared/TerminalText/__tests__/TerminalText.test.tsx
  web/src/components/shared/TerminalText/index.tsx
Due: web-eslint

fix(forms): match unlisted enum values and short tuples to form state
  docs/src/content/docs/authoring/blocks/Template.mdx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
Due: docs-spellcheck, web-eslint

docs(workspace): drop removed asset helpers from file.ts header
  src/domain/workspace/file.ts
Due: none

test(dir-picker): assert the empty instruction-mode entry exactly
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
Due: web-eslint

fix(google-auth): keep auth on Change Project cancel; show list errors
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.test.tsx
  web/src/components/mdx/GoogleAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/GoogleAuth/components/ProjectSelector.tsx
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
Due: docs-spellcheck, web-eslint

test(git-pr): pin the catch-path cleanup guard and the late-push window
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
Due: web-eslint

fix(aws-auth): ignore SSO role and sign-in replies after a cancel
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.sso.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: web-eslint

fix(web): make useIpc's unmount guard safe under StrictMode
  web/src/hooks/useIpc.test.tsx
  web/src/hooks/useIpc.ts
Due: web-eslint

fix(boilerplate): keep explicitly empty map inputs
  src/domain/boilerplate/flattenInputs.test.ts
  src/domain/boilerplate/flattenInputs.ts
Due: none

fix(path-validation): require containment under kernel and lexical `..`
  src/path-validation.test.ts
  src/path-validation.ts
Due: none

fix(test-cli): fuzz a lone `max: 0` over -100..0
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(test-cli): build template maps from parseComponents; list fences
  cli/test/executor.test.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  src/mdx.test.ts
  src/mdx.ts
Due: none

fix(exec): quote demo clone path and note test-runner template gaps
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  src/domain/exec/render.test.ts
  testdata/feature-demos/aws-auth/scripts/assume-role.sh
  testdata/feature-demos/github-auth/runbook.mdx
Due: docs-spellcheck

fix(remote-source): reject backslash traversal and GitLab browser paths
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

fix(app): key the generated-files alert by runbook path
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/hooks/useIpcGetRunbook.ts
Due: web-eslint

fix(git-auth): honor device-code expiry and slow_down; drop dead params
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.ts
  electron/shared/channels.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  src/services/GitHubClient.ts
  web/src/components/mdx/GitAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/index.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitHubAuth/index.ts
Due: docs-spellcheck, web-eslint

fix(google-auth): release a block's file when it re-auths without one
  electron/main/ipc/google-credential-registry.test.ts
  electron/main/ipc/google-credential-registry.ts
Due: none

fix(logger): don't truncate error fields before redacting them
  src/logger.test.ts
  src/logger.ts
Due: none

docs(session): describe delta env semantics in shell execution context
  docs/src/content/docs/security/shell-execution-context.md
Due: docs-spellcheck

test(workspace): cover the poll-skip and stale error/spinner guards
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
  web/src/hooks/__tests__/useFileContent.test.ts
Due: web-eslint

fix(cli): name the failing value in input validation errors
  cli/test/validation.test.ts
  cli/test/validation.ts
Due: none

fix(ipc): name the id or status of a message-less tagged failure
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
Due: none

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
