Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix(workspace): diff a staged rename against its old path's HEAD content
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
Due: none

fix(test-cli): only an unborn HEAD skips a sparse clone's checkout
  cli/test/executor.test.ts
  cli/test/executor.ts
Due: none

test(watch): unit-test runbook:get's watch mode and frozen registry
  electron/main/ipc/runbook.test.ts
Due: none

docs(watch): correct the reopen advice and the second-instance note
  docs/src/content/docs/commands/watch.mdx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: docs-spellcheck, web-eslint

refactor(channels): drop the unused useExecutableRegistry runbook:get field
  electron/shared/channels.ts
Due: none

test(watch): e2e for an unchanged runbook.mdx save after a script edit
  electron/e2e/watch-mode.spec.ts
Due: none

fix: Use something better than a yellow true
  electron/main/ipc/aws.ts
Due: none

fix(template): live-sync shared vars and show success after real render (#220)
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.mdx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/TemplateInstruction.tsx
  web/src/components/mdx/Template/__tests__/Template.instruction.test.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/Template/useSharedTemplateVars.ts
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/FormStatus.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useFormState.test.ts
  web/src/components/mdx/_shared/hooks/useFormState.ts
Due: docs-spellcheck, web-eslint

fix(ipc): send clean error messages across IPC, not FiberFailure dumps (#243)
  electron/main/index.ts
  electron/main/ipc/index.ts
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
  electron/preload/index.ts
  electron/shared/ipc-error-message.ts
Due: none

Update CODEOWNERS to include new owners
  .github/CODEOWNERS
Due: none

fix(validation): count a list of only blanks and false as empty
  src/domain/boilerplate/validators.test.ts
  src/domain/boilerplate/validators.ts
Due: none

fix(git): name message-less tagged failures in git handler errors
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
Due: none

refactor(ipc): one cleanIpcErrorMessage for the preload and renderer
  electron/shared/ipc-error-message.ts
  web/src/components/layout/WelcomeScreen.tsx
  web/src/lib/ipcError.ts
Due: web-eslint

fix(ipc): install error normalization when ipc/index.ts is imported
  electron/main/index.ts
  electron/main/ipc/index.ts
  electron/main/ipc/ipc-error-wiring.test.ts
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
Due: none

fix(forms): match numeric and blank enum options in EnumSelect
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
Due: web-eslint

fix(ipc): redact secrets from every rejection toIpcError sends
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
Due: none

fix(ipc): describe a failed Cause without stack frames everywhere
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
Due: none

fix(boilerplate): fail warm renders that hit template errors
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/boilerplate.ts
  src/services/WarmRenderDispatcher.ts
Due: none

docs(forms): say what an enum or bool without a default does
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.mdx
  docs/src/content/docs/intro/instruction-mode.mdx
Due: docs-spellcheck

fix(forms): start untouched bools and tuples at the value they show
  src/domain/boilerplate/validators.test.ts
  src/domain/boilerplate/validators.ts
  web/src/components/mdx/Inputs/__tests__/Inputs.test.tsx
  web/src/components/mdx/Template/__tests__/Template.instruction.test.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useFormState.test.ts
  web/src/components/mdx/_shared/hooks/useFormState.ts
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/components/mdx/_shared/lib/untouchedValue.ts
Due: web-eslint

test(boilerplate): build the render test's runbook config from the saved one
  electron/main/ipc/boilerplate.test.ts
Due: none

fix(git-client): NUL-safe status/diff, HEAD diffs, tag refs, hasCommits (#218)
  cli/test/executor.test.ts
  cli/test/executor.ts
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
Due: none

fix(main): caller-cwd launch paths, remote-open errors, drop dead flags (#228)
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/intro/files_workspace.mdx
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
  electron/shared/channels.ts
  testdata/sample-runbooks/my-first-runbook/runbook.mdx
  web/src/App.tsx
  web/src/types/error.ts
Due: docs-spellcheck, web-eslint

fix(watch): make --watch reload runbooks; drop dead live-reload mode (#236)
  docs/src/content/docs/commands/overview.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/intro/runbooks_vs_other.md
  docs/src/content/docs/security/execution-model.md
  electron/e2e/watch-mode.spec.ts
  electron/main/index.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/generated-dir.test.ts
  electron/main/ipc/runbook-watcher.test.ts
  electron/main/ipc/runbook-watcher.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/runtime.ts
  electron/main/ipc/watch.ts
  electron/main/menu.ts
  electron/shared/channels.ts
  src/layers/NodeFileSystem.ts
  src/services/FileSystem.ts
  src/types.ts
  src/watcher.test.ts
  src/watcher.ts
  testdata/sample-runbooks/my-first-runbook/runbook.mdx
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.registry.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/ExecutableRegistryContext.types.ts
  web/src/contexts/IpcExecutableRegistryContext.test.tsx
  web/src/contexts/IpcExecutableRegistryContext.tsx
  web/src/hooks/useApiExec.ts
  web/src/hooks/useIpcWatchMode.test.tsx
  web/src/hooks/useIpcWatchMode.ts
Due: docs-spellcheck, web-eslint

fix: review follow-ups for #220 and #243 (#260)
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.mdx
  docs/src/content/docs/intro/instruction-mode.mdx
  electron/main/index.ts
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/index.ts
  electron/main/ipc/ipc-error-wiring.test.ts
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  electron/shared/ipc-error-message.ts
  src/domain/boilerplate/validators.test.ts
  src/domain/boilerplate/validators.ts
  src/services/WarmRenderDispatcher.ts
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/mdx/Inputs/__tests__/Inputs.test.tsx
  web/src/components/mdx/Template/__tests__/Template.instruction.test.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useFormState.test.ts
  web/src/components/mdx/_shared/hooks/useFormState.ts
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/components/mdx/_shared/lib/untouchedValue.ts
  web/src/lib/ipcError.ts
Due: docs-spellcheck, web-eslint

test(script-exec): match the render-order mock to main's registry context
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.renderOrder.test.tsx
Due: web-eslint

fix(mdx): drop <embed>/<object> from the asset table after #206
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.assets.test.tsx
Due: web-eslint

fix(main): hold a cold launch's remote-open error until the window shows
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
Due: none

fix(git): log git handler defects under ipc:git, not ipc:git:clone
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
Due: none

fix(workspace): give a put-back file's original the form HEAD content has
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
Due: none

fix(ipc): describe a non-Error failure by its message or JSON
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
Due: none

fix(workspace): diff a staged change put back in the worktree as unchanged
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
Due: none

fix(watch): keep the session's working dir on a watch-mode reload
  docs/src/content/docs/commands/watch.mdx
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/shared/channels.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/hooks/useIpc.ts
  web/src/hooks/useIpcGetRunbook.ts
Due: docs-spellcheck, web-eslint

test(git): cover a git:clone defect reaching the renderer without frames
  electron/main/ipc/git.test.ts
Due: none

fix(main): read a leading `open` as the subcommand, not a path
  docs/src/content/docs/commands/open.mdx
  electron/main/cli.test.ts
  electron/main/cli.ts
Due: docs-spellcheck

docs(template): say only a template error leaves the files alone
  docs/src/content/docs/authoring/blocks/Template.mdx
Due: docs-spellcheck

fix(watch): drop a runbook:get that a newer one overtook
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/shared/channels.ts
Due: none

fix(testdata): let the lambda sample generate without its optional fields
  testdata/sample-runbooks/lambda/templates/lambda-unit/boilerplate.yml
Due: none

docs(watch): say the frozen registry is rebuilt after switching runbooks
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/security/execution-model.md
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: docs-spellcheck, web-eslint

fix(test-cli): start unset bools and tuples where the form does
  cli/test/executor.test.ts
  cli/test/executor.ts
  src/domain/boilerplate/untouchedValue.ts
  web/src/components/mdx/_shared/lib/untouchedValue.ts
Due: web-eslint

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
