Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

test(watch): retry the runbook.mdx edit in the watch-mode e2e cases
  electron/e2e/watch-mode.spec.ts
Due: none

fix(boilerplate): name each failing file once in warm render errors
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/boilerplate.ts
Due: none

test(template-inline): pin that unmount drops a pending generateFile render
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
Due: web-eslint

docs(web): say when LogsContext's value changes in ClearLogsOnRunbookChange
  web/src/App.tsx
Due: web-eslint

test(aws-auth): pin aws:check-region's IPC reply end to end
  electron/main/ipc/aws.test.ts
Due: none

fix(inline-markdown): rewrite ./assets URLs in block titles and descriptions
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/_shared/components/InlineMarkdown.tsx
  web/src/components/mdx/_shared/components/__tests__/InlineMarkdown.test.tsx
  web/src/lib/assetPaths.ts
Due: web-eslint

fix(mdx): rewrite srcSet and <track> asset URLs
  docs/src/content/docs/authoring/runbook-structure.mdx
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.assets.test.tsx
  web/src/lib/assetPaths.test.ts
  web/src/lib/assetPaths.ts
Due: docs-spellcheck, web-eslint

fix(workspace): drop the previous repo's tree when the worktree path changes
  web/src/contexts/WorkspaceGitDataContext.tsx
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
Due: web-eslint

fix(test-cli): never let a filled-in value replace the test's own
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

test(electron): e2e guard for runbook-asset images and media
  electron/e2e/fixtures/testsrc-4s.webm
  electron/e2e/runbook-assets.spec.ts
Due: none

fix(workspace): keep one workspace:changes poll in flight
  web/src/contexts/WorkspaceGitDataContext.tsx
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
Due: web-eslint

test(e2e): measure long paths and URLs against their blocks at 900px
  electron/e2e/long-paths.spec.ts
Due: none

fix(watch): supersede a runbook:get still running when the runbook closes
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/watch.ts
Due: none

fix(file-content): let a cache hit wait for the same file's newer read
  web/src/hooks/__tests__/useFileContent.test.ts
  web/src/hooks/useFileContent.ts
Due: web-eslint

refactor(script-exec): render the script template through useApi()
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.renderOrder.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

fix(mdx): let error and warning rows shrink so long paths wrap
  electron/e2e/long-paths.spec.ts
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/AwsAuth/components/AuthSuccess.tsx
  web/src/components/mdx/AwsAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/components/PRResult.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GoogleAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/GoogleAuth/components/ProjectSelector.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: web-eslint

test(watch): cover runbook:get's superseded checks after the read and the resets
  electron/main/ipc/runbook.test.ts
Due: none

fix(css): keep inline code whole inside markdown tables in blocks
  electron/e2e/long-paths.spec.ts
  web/src/css/App.css
Due: none

fix(script-exec): drop an in-flight render when the block falls back to raw
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.renderOrder.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

docs(testing): drop the wrong `options` qualifier on a tuple's untouched value
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(git-pr): keep only the latest label response
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

docs(workspace): say WorkspaceGitDataProvider watches treeVersion
  web/src/contexts/gitWorkTreeTypes.ts
Due: web-eslint

fix(script-block): keep the untitled command box clear of the ID label
  electron/e2e/long-paths.spec.ts
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: web-eslint

fix(electron): answer Range requests so runbook media can seek
  docs/src/content/docs/authoring/runbook-structure.mdx
  electron/e2e/runbook-assets.spec.ts
  electron/main/asset-range.test.ts
  electron/main/asset-range.ts
  electron/main/index.ts
Due: docs-spellcheck

test(electron): load an asset from a subfolder with a space in its name
  electron/e2e/runbook-assets.spec.ts
Due: none

test(workspace): pin the silent tree refresh for a same-path invalidation
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
Due: web-eslint

test(aws-auth): make the check-region no-credentials log assertion real
  electron/main/ipc/aws.test.ts
Due: none

fix(file-content): don't let an older read of a file overwrite its newer cache entry
  web/src/hooks/__tests__/useFileContent.test.ts
  web/src/hooks/useFileContent.ts
Due: web-eslint

fix(google-auth): fail open when google:check-project crashes
  electron/main/ipc/google.test.ts
  electron/main/ipc/google.ts
Due: none

fix: review follow-ups for #218, #220, #228, #236 and #243 (#261)
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/testing.mdx
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/security/execution-model.md
  electron/e2e/watch-mode.spec.ts
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/watch.ts
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
  electron/shared/channels.ts
  src/domain/boilerplate/untouchedValue.ts
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
  testdata/sample-runbooks/lambda/templates/lambda-unit/boilerplate.yml
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/lib/untouchedValue.ts
  web/src/hooks/useIpc.ts
  web/src/hooks/useIpcGetRunbook.ts
Due: docs-spellcheck, web-eslint

fix(mdx): rewrite ./assets paths in JSX media elements (#242)
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/authoring/runbook-structure.mdx
  electron/e2e/fixtures/testsrc-4s.webm
  electron/e2e/runbook-assets.spec.ts
  electron/main/asset-range.test.ts
  electron/main/asset-range.ts
  electron/main/index.ts
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.assets.test.tsx
  web/src/components/mdx/_shared/components/InlineMarkdown.tsx
  web/src/components/mdx/_shared/components/__tests__/InlineMarkdown.test.tsx
  web/src/lib/assetPaths.test.ts
  web/src/lib/assetPaths.ts
Due: docs-spellcheck, web-eslint

fix(workspace): share one git poller and drop superseded IPC responses (#233)
  web/src/components/artifacts/workspace/Workspace.tsx
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.renderOrder.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/WorkspaceGitDataContext.tsx
  web/src/contexts/WorkspaceGitDataContext.types.ts
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
  web/src/contexts/gitWorkTreeTypes.ts
  web/src/hooks/__tests__/useFileContent.test.ts
  web/src/hooks/useFileContent.ts
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useGitFileTree.ts
  web/src/main.tsx
Due: web-eslint

fix(web): stable LogsContext value and useIpc debounce cleanup (#235)
  web/src/App.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/contexts/LogsContext.test.tsx
  web/src/contexts/LogsContext.tsx
  web/src/hooks/useIpc.test.tsx
  web/src/hooks/useIpc.ts
Due: web-eslint

fix: Fixing clone completion looking super busted (#249)
  electron/e2e/long-paths.spec.ts
  web/src/components/mdx/Admonition/Admonition.tsx
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/AwsAuth/components/AuthSuccess.tsx
  web/src/components/mdx/AwsAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/components/PRResult.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GoogleAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/GoogleAuth/components/ProjectSelector.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/css/App.css
Due: web-eslint

fix: Use something better than a yellow true (#251)
  electron/main/ipc/aws.test.ts
  electron/main/ipc/aws.ts
  electron/main/ipc/google.test.ts
  electron/main/ipc/google.ts
Due: none

fix(workspace): keep getContentType for runbook-asset byte ranges
  src/domain/workspace/file.ts
Due: none

fix(session): keep deleteSession for main's test isolation
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
Due: none

docs(cli-install): drop the removed cli:uninstall channel from a comment
  electron/main/cli-install.ts
Due: none

test(web): drop the once stub from the remaining renderer api mocks
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/components/artifacts/workspace/__tests__/RepositoryFileBrowser.test.tsx
  web/src/components/layout/__tests__/WelcomeScreen.test.tsx
  web/src/components/mdx/AwsAuth/__tests__/AwsAuth.test.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.block.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.profiles.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.sso.test.ts
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.githubEnterprise.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.hostPicker.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.remoteUrl.test.tsx
  web/src/components/mdx/GitPullRequest/__tests__/GitPullRequest.retry.test.tsx
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.registry.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.renderOrder.test.tsx
  web/src/contexts/IpcExecutableRegistryContext.test.tsx
  web/src/contexts/IpcGitWorkTreeContext.test.tsx
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
  web/src/hooks/__tests__/useFileContent.test.ts
  web/src/hooks/useIpc.test.tsx
  web/src/hooks/useIpcWatchMode.test.tsx
Due: web-eslint

fix(remote-open): report ssh DNS and connection failures as network errors
  electron/main/remote.test.ts
  electron/main/remote.ts
Due: none

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
