Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

test(e2e): run kitchen-sink specs on a temp copy of the runbook
  electron/e2e/execution-flow.spec.ts
  electron/e2e/kitchen-sink.spec.ts
  electron/main/ipc/generated-dir.test.ts
  src/domain/files/generated.test.ts
  testdata/kitchen-sink/output/config.json
  testdata/kitchen-sink/output/scripts/deploy.sh
Due: none

fix(electron): mark runbook-asset scheme as stream for video/audio
  electron/main/index.ts
Due: none

fix(git-client): skip HEAD reads for paths added relative to HEAD
  src/domain/workspace/workspace.test.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
Due: none

fix(test-cli): isolate test cases and carry bash env/cwd across blocks
  cli/commands/test.test.ts
  cli/commands/test.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/testing.mdx
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  testdata/feature-demos/runbook-execution-model/runbook_test.yml
  testdata/sample-runbooks/dual-clone/runbook_test.yml
Due: docs-spellcheck

docs(gitlab-auth): say the prefixed host vars do not pick the host
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  vcs-auth-v2-design.md
Due: docs-spellcheck

refactor(auth): share SearchInput and Google credential-type labels
  web/src/components/mdx/AwsAuth/components/ProfileSelector.tsx
  web/src/components/mdx/AwsAuth/components/SearchInput.tsx
  web/src/components/mdx/AwsAuth/components/SsoFlow.tsx
  web/src/components/mdx/GoogleAuth/__tests__/credentialTypeLabel.test.tsx
  web/src/components/mdx/GoogleAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GoogleAuth/components/DetectedCredentialsPrompt.tsx
  web/src/components/mdx/GoogleAuth/components/GcloudConfigSelector.tsx
  web/src/components/mdx/GoogleAuth/components/ProjectSelector.tsx
  web/src/components/mdx/GoogleAuth/utils.ts
  web/src/components/mdx/_shared/components/SearchInput.test.tsx
  web/src/components/mdx/_shared/components/SearchInput.tsx
Due: web-eslint

fix(main): capture the shell env for desktops started from a TTY login
  electron/main/shell-env.test.ts
  electron/main/shell-env.ts
Due: none

fix(git-clone): correct GitHub repo listing, surface browser errors
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  web/src/components/mdx/GitClone/__tests__/GitHubBrowser.test.tsx
  web/src/components/mdx/GitClone/components/GitHubBrowser.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
  web/src/hooks/useIpc.ts
  web/src/lib/ipcError.ts
Due: docs-spellcheck, web-eslint

fix(instruction-mode): keep nested Inputs values; no logic placeholders
  docs/src/content/docs/intro/instruction-mode.mdx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

fix(git): respect the user's GIT_SSH_COMMAND, core.sshCommand and plink
  electron/main/ipc/git.ts
  src/domain/git/env.test.ts
  src/domain/git/env.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.ts
Due: none

fix(security): reject raw-HTML props and embedding elements in MDX
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/security/execution-model.md
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

fix(template-inline): remove the old file when outputPath changes
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  electron/e2e/kitchen-sink.spec.ts
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/writeInlineRenderedFiles.test.ts
  src/domain/boilerplate/writeInlineRenderedFiles.ts
  src/domain/files/manifest.ts
  src/types.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/hooks/useApiBoilerplateRender.ts
Due: docs-spellcheck, web-eslint

fix(web): start useIpc's mounted flag as true
  web/src/hooks/useIpc.ts
Due: web-eslint

docs(git-provider): name the repo icon as a deriveProviderFromRepoUrl use
  web/src/components/mdx/_shared/lib/gitProvider.ts
Due: web-eslint

fix(exec): keep sh echo semantics under bash; don't dispose test runtime
  cli/test/executor.test.ts
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/ipc/exec.test.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
Due: docs-spellcheck

fix(watch): watch only the runbook's own directory, not its tree
  docs/src/content/docs/commands/watch.mdx
  electron/main/index.ts
  electron/main/ipc/runbook-watcher.test.ts
  electron/main/ipc/watch.ts
  electron/main/menu.ts
  src/layers/NodeFileSystem.ts
  src/services/FileSystem.ts
  src/watcher.test.ts
  src/watcher.ts
Due: docs-spellcheck

docs(git-clone): show the GitLab username for the script credential helper
  docs/src/content/docs/authoring/blocks/GitClone.mdx
Due: docs-spellcheck

fix(boilerplate): time out hung bundle builds and close spawn-kill gap
  src/layers/NodeBundleProducer.test.ts
  src/layers/NodeBundleProducer.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/services/BundleProducer.ts
  src/test-utils/TestSpawner.ts
Due: none

fix(git-auth): re-auth withdraws outputs; document self-managed GitLab
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.hostPicker.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitHubAuth.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitLabAuth.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: docs-spellcheck, web-eslint

fix(testdata): double-quote interpolations in sample echo commands
  src/layers/AppLayer.ts
  testdata/kitchen-sink/runbook.mdx
  testdata/sample-runbooks/demo2/runbook.mdx
  testdata/sample-runbooks/demo3/runbook.mdx
  testdata/sample-runbooks/error-scenarios/runbook.mdx
  testdata/sample-runbooks/homepage-demo/runbook.mdx
Due: none

fix(logger): never throw while formatting an error argument
  src/logger.test.ts
  src/logger.ts
Due: none

docs(mdx): list the fence shapes the line scanner reads differently
  src/mdx.ts
Due: none

fix(remote-source): keep + in refs, reject URL credentials, clearer SHA errors
  docs/src/content/docs/commands/open.mdx
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: docs-spellcheck

docs(markdown): say image paths must start with ./assets/
  docs/src/content/docs/authoring/markdown.md
Due: docs-spellcheck

perf(app): keep App off LogsContext when clearing logs on switch
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
Due: web-eslint

fix(google-auth): keep a block's file when it re-auths with a token
  electron/main/ipc/google-credential-registry.test.ts
  electron/main/ipc/google-credential-registry.ts
Due: none

fix(path-validation): match Windows `..` in link targets; pin tail walk
  src/path-validation.test.ts
  src/path-validation.ts
Due: none

docs(git-client): note that readline turns a CR in a -z path into \n
  src/layers/GitCliClient.ts
Due: none

fix(google-auth): re-point session on set-project; return region/zone
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google-session-env.test.ts
  electron/main/ipc/google-session-env.ts
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
Due: docs-spellcheck, web-eslint

fix(session): keep the working dir when the pwd capture is empty
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
Due: none

test(ipc): say the render path is not driven in generated-dir.test.ts
  electron/main/ipc/generated-dir.test.ts
Due: none

fix(mdx): keep file line numbers when stripping runbook front matter
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/lib/remarkLiteralOnly.ts
Due: web-eslint

fix(test-cli): support every registered block type and git provider
  cli/commands/test.test.ts
  cli/test/blockTypes.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/testing.mdx
  testdata/feature-demos/git-auth/runbook_test.yml
  testdata/feature-demos/github-pull-request/runbook_test.yml
  testdata/sample-runbooks/next-app/runbook_test.yml
  web/src/components/mdx/__tests__/blockCliCoverage.test.ts
Due: docs-spellcheck, web-eslint

fix(inputs): resume registered values only for an embedded Inputs
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/Inputs/__tests__/Inputs.test.tsx
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
Due: web-eslint

fix(git-clone): re-cloned block reclaims the active worktree
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  src/domain/git/cloneSteps.test.ts
  src/domain/git/cloneSteps.ts
  web/src/contexts/IpcGitWorkTreeContext.test.tsx
  web/src/contexts/IpcGitWorkTreeContext.tsx
  web/src/contexts/gitWorkTreeTypes.ts
Due: docs-spellcheck, web-eslint

fix(template-inline): restore, never delete, files the block overwrote
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/writeInlineRenderedFiles.test.ts
  src/domain/boilerplate/writeInlineRenderedFiles.ts
  src/types.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: docs-spellcheck, web-eslint

docs(google-auth): split the credential registry's release rule
  electron/main/ipc/google-credential-registry.ts
Due: none

fix(exec): keep a reused execution id cancellable; accurate quit comment
  electron/main/index.ts
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
Due: none

test(app): pin the logs reset on close-then-open
  web/src/__tests__/App.runbookSwitch.test.tsx
Due: web-eslint

refactor(boilerplate): share the dispatcher's handle and baseline drop
  src/layers/NodeWarmRenderDispatcher.ts
Due: none

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
