Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Extract shared useInputRegistration hook and DuplicateIdError component
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/_shared/components/DuplicateIdError.tsx
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/components/mdx/_shared/lib/formatHclValue.ts
  web/src/contexts/ComponentIdRegistry.tsx
Due: web-eslint

Fix remote URL handling to support OpenTofu modules
  cmd/remote_open.go
  cmd/root.go
Due: none

Add TF module metadata to parse response
  api/tofu_parse_handler.go
  api/tofu_parser.go
  api/tofu_parser_test.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  testdata/test-fixtures/tofu-modules/s3-bucket/README.md
  testdata/test-fixtures/tofu-modules/s3-bucket/main.tf
  testdata/test-fixtures/tofu-modules/s3-bucket/outputs.tf
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/types/boilerplateConfig.ts
Due: docs-spellcheck, web-eslint

Refactor parseTFFile and extractOutputsAndResources to be pure
  api/tofu_parser.go
Due: none

Add Template examples and fix MDX parse error in TfModule docs
  docs/src/content/docs/authoring/blocks/TfModule.mdx
Due: docs-spellcheck

Replace vs. Inputs table with prose in TfModule docs
  docs/src/content/docs/authoring/blocks/TfModule.mdx
Due: docs-spellcheck

Lots of docs updates
  .gitignore
  docs/astro.config.mjs
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/authoring/overview.md
  docs/src/content/docs/authoring/variables.md
  testdata/feature-demos/tf-custom-template/runbook.mdx
  testdata/feature-demos/tf-custom-template/templates/lambda-deploy/boilerplate.yml
  testdata/feature-demos/tf-custom-template/templates/lambda-deploy/config.yaml
  testdata/feature-demos/tf-custom-template/templates/lambda-deploy/terragrunt.hcl
Due: docs-spellcheck

Finish inputs and outputs
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
Due: docs-spellcheck

Add tf-runbook/tf-template flags and $source
  api/tofu_generator_test.go
  api/tofu_parse_handler.go
  cmd/open.go
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  templates/tofu/copy-to-target.sh
  templates/tofu/full.go
  templates/tofu/full.mdx.tmpl
  templates/tofu/place-in-repo.sh
  testdata/feature-demos/tf-colocated-module/main.tf
  testdata/feature-demos/tf-colocated-module/outputs.tf
  testdata/feature-demos/tf-colocated-module/runbook.mdx
  testdata/feature-demos/tf-colocated-module/variables.tf
  testdata/feature-demos/tf-dynamic-source/runbook.mdx
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/RunbookContext.tsx
Due: docs-spellcheck, web-eslint

Simplify code
  api/tofu_generator.go
  cmd/open.go
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

Improve test coverage
  api/boilerplate_config_test.go
  api/tofu_parse_handler_test.go
  cmd/root_test.go
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/README.md
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/main.tf
  testdata/test-fixtures/tofu-modules/lambda-s3-complex/outputs.tf
  web/src/components/mdx/TfModule/TfModule.test.tsx
  web/src/components/mdx/_shared/hooks/checkAuthDependency.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/lib/formatHclValue.test.ts
  web/src/contexts/RunbookContext.test.tsx
Due: web-eslint

Add support for rendering only non-empty values.
  cmd/root.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  templates/tofu/registry.go
  testdata/feature-demos/tf-custom-template/runbook.mdx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/_shared/lib/formatHclValue.test.ts
  web/src/components/mdx/_shared/lib/formatHclValue.ts
  web/src/types/boilerplateVariable.ts
Due: docs-spellcheck, web-eslint

Denote CLI keywords with $
  api/path_validation.go
  api/tofu_generator.go
  api/tofu_generator_test.go
  cmd/remote_open.go
  cmd/root.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/intro/files_workspace.mdx
  templates/tofu/registry.go
  testdata/feature-demos/tf-dynamic-source/runbook.mdx
  web/src/components/mdx/TfModule/TfModule.test.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/contexts/RunbookContext.tsx
Due: docs-spellcheck, web-eslint

Use pure MDX templates for Tofu defaults
  api/tofu_generator.go
  api/tofu_generator_test.go
  cmd/root.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  templates/tf/opentofu/opentofu.go
  templates/tf/opentofu/opentofu.mdx
  templates/tf/registry.go
  templates/tf/terragrunt/terragrunt.go
  templates/tf/terragrunt/terragrunt.mdx
  templates/tofu/basic.go
  templates/tofu/basic.mdx.tmpl
  templates/tofu/full.go
  templates/tofu/full.mdx.tmpl
  templates/tofu/place-in-repo.sh
  templates/tofu/registry.go
Due: docs-spellcheck

Add a new DirPicker block
  api/server.go
  api/tofu_generator_test.go
  api/workspace.go
  api/workspace_test.go
  cmd/root.go
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  templates/tf/registry.go
  templates/tf/terragrunt-github/terragrunt-github.mdx
  templates/tf/terragrunt-github/terragrunt_github.go
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/DirPicker/index.ts
  web/src/components/mdx/DirPicker/types.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/contexts/ComponentIdRegistry.tsx
  web/src/lib/utils.ts
Due: docs-spellcheck, web-eslint

Tweaks to dirPicker and other minutiae
  api/tofu_generator_test.go
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  templates/tf/terragrunt-github/terragrunt-github.mdx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/components/PRForm.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: docs-spellcheck, web-eslint

Rename hcl_inputs_non_empty to hcl_inputs_non_default
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  templates/tf/terragrunt-github/terragrunt-github.mdx
  testdata/feature-demos/tf-custom-template/runbook.mdx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/_shared/lib/formatHclValue.test.ts
  web/src/components/mdx/_shared/lib/formatHclValue.ts
Due: docs-spellcheck, web-eslint

Simplify the feature branch
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  api/tofu_parse_handler.go
  api/tofu_parser.go
  cmd/open.go
  cmd/remote_open.go
  cmd/root.go
  cmd/server.go
  cmd/watch.go
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/lib/formatHclValue.ts
  web/src/contexts/RunbookContext.tsx
  web/src/lib/templateUtils.ts
Due: web-eslint

Minor frontend tests update
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/TfModule/TfModule.test.tsx
Due: web-eslint

Automatically create new homebrew releases
  .github/workflows/update-homebrew.yml
Due: none

Add idempotency
  .github/workflows/update-homebrew.yml
Due: none

Add brew installation instructions
  docs/src/content/docs/index.mdx
  docs/src/content/docs/intro/installation.mdx
Due: docs-spellcheck

Run brew publish explicitly after assets are published
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Due: none

Automatically delete branches after merge
  .github/workflows/update-homebrew.yml
Due: none

Rename @group annotations
  api/tofu_parser.go
  api/tofu_parser_test.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  testdata/test-fixtures/tofu-modules/lambda-function/settings.tf
  testdata/test-fixtures/tofu-modules/s3-bucket/variables.tf
Due: docs-spellcheck

Rename all instances of Tofu to Tf
  api/files.go
  api/remote_source.go
  api/remote_source_test.go
  api/server.go
  api/tf_generator.go
  api/tf_generator_test.go
  api/tf_parse_handler.go
  api/tf_parse_handler_test.go
  api/tf_parser.go
  api/tf_parser_test.go
  cmd/root.go
  testdata/test-fixtures/tf-modules/lambda-function/settings.tf
  testdata/test-fixtures/tf-modules/lambda-function/variables.tf
  testdata/test-fixtures/tf-modules/lambda-s3-complex/README.md
  testdata/test-fixtures/tf-modules/lambda-s3-complex/common.tf
  testdata/test-fixtures/tf-modules/lambda-s3-complex/lambda.tf
  testdata/test-fixtures/tf-modules/lambda-s3-complex/main.tf
  testdata/test-fixtures/tf-modules/lambda-s3-complex/network.tf
  testdata/test-fixtures/tf-modules/lambda-s3-complex/outputs.tf
  testdata/test-fixtures/tf-modules/lambda-s3-complex/s3.tf
  testdata/test-fixtures/tf-modules/s3-bucket/README.md
  testdata/test-fixtures/tf-modules/s3-bucket/main.tf
  testdata/test-fixtures/tf-modules/s3-bucket/outputs.tf
  testdata/test-fixtures/tf-modules/s3-bucket/variables.tf
  web/src/hooks/useApiParseTfModule.ts
  web/src/types/boilerplateConfig.ts
Due: web-eslint

Simplify code
  api/boilerplate_config_test.go
  api/test_helpers_test.go
  api/tf_generator.go
  api/tf_parse_handler_test.go
  api/tf_parser.go
  api/tf_parser_test.go
  cmd/remote_open.go
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TfModule/TfModule.test.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/lib/formatHclValue.test.ts
  web/src/contexts/RunbookContext.test.tsx
  web/src/test/make-config.ts
  web/src/test/test-utils.tsx
Due: web-eslint

Update and standardize help text for major commands
  cmd/open.go
  cmd/root.go
  cmd/serve.go
  cmd/watch.go
Due: none

Update tfmodule ::source keyword to ::cli_runbook_source
  api/tf_generator_test.go
  cmd/root.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  templates/tf/opentofu/opentofu.mdx
  templates/tf/terragrunt-github/terragrunt-github.mdx
  templates/tf/terragrunt/terragrunt.mdx
  testdata/feature-demos/tf-dynamic-source/runbook.mdx
  web/src/components/mdx/TfModule/TfModule.test.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/contexts/RunbookContext.tsx
Due: docs-spellcheck, web-eslint

Lots of updates to TfModule docs
  cmd/root.go
  docs/astro.config.mjs
  docs/src/assets/screenshots/blocks/tf-module-form.webp
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
Due: docs-spellcheck

Update docs on opening runbooks
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/opening-runbooks.mdx
  templates/tf/opentofu/opentofu.mdx
  templates/tf/terragrunt/terragrunt.mdx
Due: docs-spellcheck

Update to DirPicker docs (wip)
  docs/src/assets/screenshots/blocks/dir-picker-form.webp
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: docs-spellcheck, web-eslint

Make home page redirect tmp instead of permanent
  vercel.json
Due: none

DirPicker: add rootDir & uppercase block outputs
  api/tf_generator_test.go
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  templates/tf/terragrunt-github/terragrunt-github.mdx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/DirPicker/types.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
Due: docs-spellcheck, web-eslint

Minor changes to inputs & outputs page
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
Due: docs-spellcheck

Clean up tf parser tests a little
  api/files.go
  api/tf_parser_test.go
  cmd/root.go
Due: none

Add additional tests. More tweaks to TfModule docs
  AGENTS.md
  api/tf_parser_test.go
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  testdata/test-fixtures/tf-modules/lambda-s3-complex/network.tf
Due: docs-spellcheck

Improve comments on root.go new functions
  api/tf_parse_handler.go
  cmd/root.go
  templates/tf/opentofu/opentofu.mdx
  templates/tf/terragrunt-github/terragrunt-github.mdx
  templates/tf/terragrunt/terragrunt.mdx
Due: none

Explicitly reject remote URLs for --tf-runbook (in docs)
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/commands/serve.mdx
  docs/src/content/docs/commands/watch.mdx
Due: docs-spellcheck
