Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix(workspace-ui): repo links, basenames, safe diffs, fresh All files (#212)
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
  web/src/components/artifacts/CollapsibleFileHeader.tsx
  web/src/components/artifacts/__tests__/CollapsibleFileHeader.test.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/artifacts/workspace/GeneratedFilesMetadataBar.tsx
  web/src/components/artifacts/workspace/RepositoryFileBrowser.tsx
  web/src/components/artifacts/workspace/RepositoryMetadataBar.tsx
  web/src/components/artifacts/workspace/__tests__/ChangedFilesView.diff.test.tsx
  web/src/components/artifacts/workspace/__tests__/ChangedFilesView.svg.test.tsx
  web/src/components/artifacts/workspace/__tests__/RepositoryFileBrowser.test.tsx
  web/src/components/artifacts/workspace/__tests__/RepositoryMetadataBar.test.tsx
  web/src/components/artifacts/workspace/__tests__/WorktreeRows.test.tsx
  web/src/components/artifacts/workspace/rows/RepoLabel.tsx
  web/src/components/artifacts/workspace/rows/WorktreeStaticRow.tsx
  web/src/components/artifacts/workspace/rows/WorktreeSwitcherRow.tsx
  web/src/components/icons/GitLabIcon.tsx
  web/src/components/mdx/GitClone/__tests__/LocalRepoForm.test.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
  web/src/components/shared/TerminalText/TerminalText.css
  web/src/components/shared/TerminalText/__tests__/TerminalText.test.tsx
  web/src/components/shared/TerminalText/index.tsx
  web/src/lib/unifiedDiff.test.ts
  web/src/lib/unifiedDiff.ts
  web/src/lib/utils.test.ts
  web/src/lib/utils.ts
Due: web-eslint

fix: review follow-ups for #217 and #254 (#256)
  docs/src/content/docs/intro/instruction-mode.mdx
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/hooks/useInstructionResolution.ts
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

fix(exec): enforce timeoutMs, stop scripts on quit, run sh under bash (#216)
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/index.ts
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  src/layers/ChildProcessSpawner.ts
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: docs-spellcheck, web-eslint

fix(vcs): honor GitLab env prefix, share CLI spawn helper, drop dead API (#219)
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  electron/main/ipc/github.test.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/index.ts
  src/domain/git/cli-token.ts
  src/domain/github/auth.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/domain/tls/system-ca.ts
  src/domain/vcs/cli-status.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
  src/services/GitClient.ts
  src/services/GitLabClient.ts
  src/services/ProcessSpawner.test.ts
  src/services/ProcessSpawner.ts
  src/services/VcsCredentials.ts
  src/test-utils/TestLayer.ts
  vcs-auth-v2-design.md
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: docs-spellcheck, web-eslint

fix(google-auth): treat slash-less special-scheme URLs as request targets (#208)
  src/domain/google/credential-policy.test.ts
  src/domain/google/credential-policy.ts
  src/layers/GoogleSdkClient.test.ts
Due: none

fix(git-auth): unstick detection, wait for hosts, withdraw on re-auth (#211)
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  electron/e2e/vcs-auth.spec.ts
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.ts
  electron/shared/channels.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  src/services/GitHubClient.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/GitAuthInstruction.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.githubEnterprise.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.hostPicker.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitHubAuth.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitLabAuth.test.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GitAuth/components/PatForm.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/index.ts
  web/src/components/mdx/GitAuth/providers/github.ts
  web/src/components/mdx/GitAuth/providers/gitlab.ts
  web/src/components/mdx/GitAuth/providers/index.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitHubAuth/index.ts
Due: docs-spellcheck, web-eslint

fix(app): reset per-runbook state on switch and surface failed opens (#223)
  electron/main/ipc/runbook.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/MDXContainer.tasklist.test.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/layout/OpenUrlModal.test.tsx
  web/src/components/layout/OpenUrlModal.tsx
  web/src/components/layout/RunbookOpenError.tsx
  web/src/components/layout/__tests__/OpenUrlModal.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useBlockCompletion.test.tsx
  web/src/components/mdx/_shared/hooks/useBlockCompletion.ts
  web/src/components/mdx/_shared/hooks/useTaskCheckbox.ts
  web/src/components/mdx/_shared/lib/runbookStorageKey.ts
  web/src/contexts/RunbookContext.tsx
  web/src/hooks/useIpcGeneratedFilesCheck.ts
  web/src/hooks/useIpcGetRunbook.ts
Due: web-eslint

fix(files): use one generated-files dir for render, capture and delete (#232)
  .gitignore
  cli/test/config.ts
  docs/src/content/docs/intro/files_workspace.mdx
  electron/e2e/execution-flow.spec.ts
  electron/e2e/kitchen-sink.spec.ts
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/files.ts
  electron/main/ipc/generated-dir.test.ts
  electron/main/ipc/path-guard.ts
  src/domain/files/generated.test.ts
  src/domain/files/generated.ts
  src/layers/NodeFileSystem.ts
  testdata/kitchen-sink/output/config.json
  testdata/kitchen-sink/output/scripts/deploy.sh
  web/src/components/mdx/_shared/lib/instructionCommands.test.ts
  web/src/components/mdx/_shared/lib/instructionCommands.ts
Due: docs-spellcheck, web-eslint

fix(git): harden remote URL parsing and fail closed on unparsed remotes
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  src/domain/git/clone-args.test.ts
  src/domain/git/clone-args.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/gitlab-host.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/git/remote-url.test.ts
  src/domain/git/remote-url.ts
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/services/GitLabClient.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
  web/src/lib/gitRemoteUrl.ts
Due: docs-spellcheck, web-eslint

fix(gitlab-auth): bind VCS tokens to the auth block's host, never over http
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/runtime.test.ts
  electron/main/ipc/runtime.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/gitlab-host.ts
  src/domain/git/operations.ts
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
Due: docs-spellcheck

fix(git): harden remote URL handling and bind VCS tokens to their host over https (#257)
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/runtime.test.ts
  electron/main/ipc/runtime.ts
  src/domain/git/clone-args.test.ts
  src/domain/git/clone-args.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/gitlab-host.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/git/remote-url.test.ts
  src/domain/git/remote-url.ts
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
  src/services/GitLabClient.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
  web/src/lib/gitRemoteUrl.ts
Due: docs-spellcheck, web-eslint

fix(session): drop auth and clone results that outlive their runbook
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/ipc/git.ts
  electron/main/ipc/github.test.ts
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/google.test.ts
  electron/main/ipc/google.ts
  electron/main/ipc/vcs-tristate.ts
  electron/main/ipc/workspace.ts
  electron/main/ipc/worktree-session.test.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
Due: docs-spellcheck

test(git): keep the real-git clone-args cases out of src/domain
  src/domain/git/clone-args.test.ts
  src/layers/gitCloneArgs.test.ts
Due: none

fix(gitlab-auth): refuse a malformed instance instead of reading it as gitlab.com
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
Due: none

fix(session): drop auth and clone results that outlive their runbook (#258)
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/ipc/git.ts
  electron/main/ipc/github.test.ts
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/google.test.ts
  electron/main/ipc/google.ts
  electron/main/ipc/vcs-tristate.ts
  electron/main/ipc/workspace.ts
  electron/main/ipc/worktree-session.test.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
Due: docs-spellcheck

fix(main): detect terminal launches via TERM and split out system trust (#238)
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/index.ts
  electron/main/ipc/github.test.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/vcs-tristate.test.ts
  electron/main/ipc/vcs-tristate.ts
  electron/main/shell-env.test.ts
  electron/main/shell-env.ts
  electron/main/system-trust.test.ts
  electron/main/system-trust.ts
Due: docs-spellcheck

fix(google-auth): release every superseded credential file of a block (#239)
  electron/main/ipc/google-credential-registry.test.ts
  electron/main/ipc/google-credential-registry.ts
  electron/main/ipc/google-credentials.ts
Due: none

fix(cli-install): ship working launchers, never clobber foreign runbooks (#237)
  docs/src/content/docs/intro/installation.mdx
  electron/main/cli-install.test.ts
  electron/main/cli-install.ts
  electron/main/menu.ts
  resources/bin/runbooks.cmd
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/layout/__tests__/WelcomeScreen.test.tsx
Due: docs-spellcheck, web-eslint

fix(test): mock electron through mockElectron in cli-install.test.ts
  electron/main/cli-install.test.ts
Due: none

fix(boilerplate): drop a render that outlives its runbook
  electron/main/ipc/boilerplate.ts
Due: none

fix(test-cli): fail loudly, run steps in order, and match the app (#210)
  AGENTS.md
  cli/commands/test.test.ts
  cli/commands/test.ts
  cli/index.ts
  cli/test/assertions.test.ts
  cli/test/assertions.ts
  cli/test/blockTypes.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/reporter.test.ts
  cli/test/reporter.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/testing.mdx
  electron/main/cli-install.test.ts
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
  testdata/feature-demos/block-outputs/runbook_test.yml
  testdata/feature-demos/git-auth/runbook_test.yml
  testdata/feature-demos/github-pull-request/runbook_test.yml
  testdata/feature-demos/pseudo-tty/runbook_test.yml
  testdata/feature-demos/runbook-execution-model/runbook_test.yml
  testdata/feature-demos/runbook-testing/runbook_test.yml
  testdata/feature-demos/script-logging/runbook_test.yml
  testdata/sample-runbooks/demo1/runbook_test.yml
  testdata/sample-runbooks/dual-clone/runbook_test.yml
  testdata/sample-runbooks/error-scenarios/runbook_test.yml
  testdata/sample-runbooks/homepage-demo/runbook_test.yml
  testdata/sample-runbooks/markdown-only-full/runbook_test.yml
  web/src/components/mdx/__tests__/blockCliCoverage.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
Due: docs-spellcheck, web-eslint

fix(boilerplate): keep warm-render caches in sync with template and disk (#215)
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/runbook.ts
  src/domain/boilerplate/flattenInputs.test.ts
  src/domain/boilerplate/flattenInputs.ts
  src/domain/files/manifest.test.ts
  src/domain/files/manifest.ts
  src/layers/NodeBundleProducer.test.ts
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWarmRenderDispatcher.test.ts
  src/layers/NodeWarmRenderDispatcher.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/services/BundleProducer.ts
  src/services/WarmRenderDispatcher.ts
  src/test-utils/TestSpawner.ts
Due: none

fix(template-inline): write generateFile output and publish real trees (#225)
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  electron/e2e/kitchen-sink.spec.ts
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/writeInlineRenderedFiles.test.ts
  src/domain/boilerplate/writeInlineRenderedFiles.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/domain/files/manifest.ts
  src/types.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiBoilerplateRender.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: docs-spellcheck, web-eslint

fix(web): import cleanIpcErrorMessage from its new home in OpenUrlModal
  web/src/components/layout/OpenUrlModal.tsx
Due: web-eslint

test(git-clone): match the merged GitHub browser fetchers
  web/src/components/mdx/GitClone/__tests__/GitHubBrowser.test.tsx
  web/src/components/mdx/GitClone/components/__tests__/GitHubBrowser.test.tsx
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
Due: web-eslint

refactor(git-clone): build the clone step with main's gitCloneArgs
  src/domain/git/cloneSteps.test.ts
  src/domain/git/cloneSteps.ts
Due: none

test(google-auth): scope set-project's whole-credential re-point to its runbook
  electron/main/ipc/google.test.ts
Due: none

fix(remote): run the ref lookup with the user's core.sshCommand
  electron/main/remote.test.ts
  electron/main/remote.ts
Due: none

test(git): cover git:clone with a custom SSH user and core.sshCommand
  electron/main/ipc/git.test.ts
Due: none

fix(git-pr): bound the wait on a canceled run
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix(git-pr): log the PR/MR a canceled run opened
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix(google-auth): publish the region/zone MAIN wrote on sign-in and gcloud auth
  electron/main/ipc/google.test.ts
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
Due: web-eslint

fix(git-clone): leave no worktree or checkout behind a late cancel
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git-clone-late-cancel.test.ts
  electron/main/ipc/git.ts
Due: docs-spellcheck

fix(ipc): wrap github:labels in { labels } so the label picker fills
  electron/main/ipc/github.test.ts
  electron/main/ipc/github.ts
Due: none

fix(git-clone): drop a default-branch seed that outlived its repo
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: web-eslint

fix(github-browser): list another user's public repos with shared ones
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
Due: none

docs(google-auth): say which session variables a block switches
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google-session-env.ts
  electron/shared/channels.ts
Due: docs-spellcheck

fix(ipc): return the declared result from runbook:get, session and delete-branch handlers
  electron/main/ipc/git.test.ts
  electron/main/ipc/git.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session.test.ts
  electron/main/ipc/session.ts
Due: none

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
