Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

chore: clean up references to auth block to follow the way we refer to github everywhere else
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/Check.md
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  testdata/feature-demos/git-clone/runbook.mdx
  testdata/feature-demos/git-clone/runbook_test.yml
  testdata/feature-demos/github-pull-request/runbook.mdx
  testdata/sample-runbooks/new-infra-live-repo/runbook.mdx
  testdata/sample-runbooks/next-app/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook.mdx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/types.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.test.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

feat: improve ux whens electing a folder without a runbooks.mdx file
  electron/main/ipc/runbook.ts
  web/src/App.tsx
  web/src/hooks/useIpc.ts
Due: web-eslint

chore: clean up references to auth block to follow the way we refer to github everywhere else (#161)
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/Check.md
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  testdata/feature-demos/git-clone/runbook.mdx
  testdata/feature-demos/git-clone/runbook_test.yml
  testdata/feature-demos/github-pull-request/runbook.mdx
  testdata/sample-runbooks/new-infra-live-repo/runbook.mdx
  testdata/sample-runbooks/next-app/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook.mdx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/types.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.test.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

feat: improve ux whens electing a folder without a runbooks.mdx file (#162)
  electron/main/ipc/runbook.ts
  web/src/App.tsx
  web/src/hooks/useIpc.ts
Due: web-eslint

chore: drop blockmaps from release to declutter assets
  .github/scripts/release/generate-checksums.sh
  .github/workflows/release.yml
Due: none

clean up spurious comments
  .github/workflows/release.yml
Due: none

fix: open runbook on double click
  electron/main/index.ts
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
Due: none

chore: drop blockmaps from release to declutter assets (#164)
  .github/scripts/release/generate-checksums.sh
  .github/workflows/release.yml
Due: none

fix: open runbook on double click (#165)
  electron/main/index.ts
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
Due: none

make the git clone block more vendor neutral by accepting nested gitlab groups
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/remote-source.test.ts
  src/remote-source.ts
  web/src/components/mdx/GitClone/GitClone.tsx
Due: web-eslint

chore: docs deps sweep and pin actions
  .github/scripts/release/generate-checksums.sh
  .github/workflows/release.yml
  .github/workflows/test.yml
  cli/test/executor.ts
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/src/components/SourceFile.astro
  docs/src/content/docs/authoring/blocks/Check.md
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/lib/llms-content.ts
  electron/main/ipc/runbook.ts
  testdata/feature-demos/git-clone/runbook.mdx
  testdata/feature-demos/git-clone/runbook_test.yml
  testdata/feature-demos/github-pull-request/runbook.mdx
  testdata/sample-runbooks/new-infra-live-repo/runbook.mdx
  testdata/sample-runbooks/next-app/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook.mdx
  web/src/App.tsx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/types.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.test.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
  web/src/hooks/useIpc.ts
Due: docs-spellcheck, web-eslint

add support for gitlab logged in with glab cli
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  electron/main/ipc/gitlab.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/services/GitLabClient.ts
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/providers/gitlab.ts
  web/src/components/mdx/GitAuth/providers/index.ts
Due: docs-spellcheck, web-eslint

Feat: make the git clone block more vendor neutral by accepting nested gitlab groups (#167)
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/remote-source.test.ts
  src/remote-source.ts
  web/src/components/mdx/GitClone/GitClone.tsx
Due: web-eslint

chore: docs deps sweep and pin actions (#166)
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/src/components/SourceFile.astro
  docs/src/lib/llms-content.ts
Due: none

update output of block to reflect permissions
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  electron/main/ipc/gitlab.ts
  src/domain/gitlab/auth.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
Due: docs-spellcheck, web-eslint

add more fixtures for tests
  cli/test/executor.ts
  cli/test/validation.ts
Due: none

provisionally cut a release
  package.json
Due: none

fix: add CSP for gravatar- gitlab's unhosted user icon host of choice
  electron/main/window.ts
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
Due: web-eslint

fix mr block
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  src/types.ts
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useIpcGitFileChanges.ts
Due: web-eslint

Fix PR block to use the connected auth blocks type if authed git providers is ambiguous (i.e. you log into both)
  electron/main/ipc/git.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.test.tsx
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix reviews
  electron/main/ipc/git.ts
  src/layers/GitLabHttpClient.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

make sure we update status after running merge
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix: don't hardcode gitlab.com
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.ts
  electron/main/remote.ts
  electron/shared/channels.ts
  src/domain/git/env.test.ts
  src/domain/git/env.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/gitlab-host.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
  src/services/GitLabClient.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.test.tsx
  web/src/components/mdx/GitAuth/__tests__/utils.test.ts
  web/src/components/mdx/GitAuth/components/PatForm.tsx
  web/src/components/mdx/GitAuth/components/__tests__/PatForm.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitAuth/utils.ts
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
Due: web-eslint

fix: don't hardcode gitlab.com (#170)
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.ts
  electron/main/remote.ts
  electron/shared/channels.ts
  src/domain/git/env.test.ts
  src/domain/git/env.ts
  src/domain/git/gitlab-host.test.ts
  src/domain/git/gitlab-host.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
  src/services/GitLabClient.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.test.tsx
  web/src/components/mdx/GitAuth/__tests__/utils.test.ts
  web/src/components/mdx/GitAuth/components/PatForm.tsx
  web/src/components/mdx/GitAuth/components/__tests__/PatForm.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitAuth/utils.ts
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
Due: web-eslint

add a selector for which gitlab instance to use if multiple present in glab config
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/operations.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/services/GitLabClient.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/providers/gitlab.ts
  web/src/components/mdx/GitAuth/providers/index.ts
  web/src/components/mdx/GitAuth/types.ts
Due: web-eslint

feedback fixes
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.ts
  src/domain/git/operations.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/types.ts
Due: web-eslint

add a selector for which gitlab instance to use (#171)
  electron/main/ipc/git.ts
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/operations.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/GitLabHttpClient.ts
  src/services/GitClient.ts
  src/services/GitLabClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/providers/gitlab.ts
  web/src/components/mdx/GitAuth/providers/index.ts
  web/src/components/mdx/GitAuth/types.ts
Due: web-eslint

simplify sweep
  bun.lock
  cli/commands/test.ts
  cli/test/executor.ts
  cli/test/validation.ts
  cli/tsconfig.json
  electron.vite.config.ts
  electron/main/ipc/git.ts
  electron/main/ipc/runtime.ts
  electron/main/ipc/watch.ts
  package.json
  src/domain/exec/script.ts
  tsconfig.base.json
  tsconfig.main.json
  tsconfig.preload.json
  tsconfig.src.json
  web/bun.lock
  web/package.json
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/AwsAuth/utils.ts
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/utils.ts
  web/src/components/mdx/__tests__/instructionModeRegistry.test.ts
  web/src/components/mdx/_shared/components/DuplicateIdError.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/index.ts
  web/src/components/mdx/_shared/lib/statusStyles.ts
  web/src/components/mdx/_shared/types.ts
  web/src/components/ui/collapsible.tsx
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/fileListDisplay.ts
Due: web-eslint

checkpoint
  .github/workflows/test.yml
  bun.lock
  cli/test/executor.ts
  cli/tsconfig.json
  electron/main/ipc/git.ts
  electron/main/ipc/gitlab.ts
  electron/shared/channels.ts
  package.json
  src/domain/aws/auth.test.ts
  src/domain/boilerplate/config.ts
  src/domain/exec/executor.ts
  src/domain/exec/script.test.ts
  src/domain/files/manifest.test.ts
  src/domain/git/operations.test.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/domain/workspace/file-tree.ts
  src/domain/workspace/file.ts
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
  src/ini.d.ts
  src/layers/AwsSdkClient.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitLabHttpClient.test.ts
  src/layers/NodeWasmRuntime.ts
  src/services/GitClient.ts
  src/types.ts
  tsconfig.main.json
  tsconfig.src.json
  web/e2e/fixtures.ts
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/code/CodeFileHeader.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/layout/ErrorSummaryBanner.tsx
  web/src/components/mdx/GitAuth/components/OAuthFlow.tsx
  web/src/components/mdx/_shared/components/CodeBlock.tsx
  web/src/components/mdx/_shared/components/ViewLogs.tsx
  web/src/components/mdx/_shared/components/ViewOutputs.tsx
  web/src/hooks/useCollapsibleFileList.ts
Due: web-eslint

fix tests
  web/tsconfig.app.json
  web/tsconfig.json
Due: none

fix coderabbit review
  src/layers/NodeWasmRuntime.ts
  web/src/hooks/useCollapsibleFileList.ts
  web/src/hooks/useIpc.ts
Due: web-eslint

Fix dead test
  .github/workflows/test.yml
Due: none
