Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix: Allow for scrolling in the main Window when there is nothing else being scrolled on (#248)
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/hooks/useWheelScrollFallback.test.tsx
  web/src/hooks/useWheelScrollFallback.ts
Due: web-eslint

docs(file-tree): describe the 500-file cap accurately and test it (#245)
  src/domain/workspace/file-tree.test.ts
  src/domain/workspace/file-tree.ts
Due: none

refactor(validation): share boilerplate validators with the test CLI (#241)
  cli/test/validation.test.ts
  cli/test/validation.ts
  src/domain/boilerplate/validators.test.ts
  src/domain/boilerplate/validators.ts
  web/src/components/mdx/_shared/hooks/useFormValidation.ts
  web/src/components/mdx/_shared/lib/validators.ts
Due: web-eslint

fix(registry): parse component props, fences and source order robustly (#226)
  cli/test/executor.test.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  src/mdx.test.ts
  src/mdx.ts
Due: none

fix(security): make runbook MDX declarative so opening it runs no code (#206)
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/security/execution-model.md
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

fix(path-validation): resolve symlinks component-by-component (#207)
  src/path-validation.test.ts
  src/path-validation.ts
Due: none

fix(exec): render scripts verbatim and fail on template errors (#230)
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  electron/main/ipc/exec.ts
  src/domain/exec/render.test.ts
  src/domain/exec/render.ts
  src/layers/AppLayer.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/services/BoilerplateRenderer.ts
  src/test-utils/TestLayer.ts
  testdata/feature-demos/aws-auth/scripts/assume-role.sh
  testdata/feature-demos/github-auth/runbook.mdx
  testdata/kitchen-sink/runbook.mdx
  testdata/sample-runbooks/demo2/runbook.mdx
  testdata/sample-runbooks/demo3/runbook.mdx
  testdata/sample-runbooks/error-scenarios/runbook.mdx
  testdata/sample-runbooks/homepage-demo/runbook.mdx
Due: docs-spellcheck

fix(git-clone): scope the token credential helper to its https host
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  testdata/sample-runbooks/openclaw/scripts/release-catalog.sh
Due: docs-spellcheck

test(git): don't assume GIT_CONFIG_COUNT is unset in the SSH push test
  src/layers/GitCliClient.test.ts
Due: none

fix(security): keep git tokens out of .git/config; realpath containment (#205)
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/index.ts
  electron/main/ipc/git.ts
  electron/main/ipc/path-guard.test.ts
  electron/main/ipc/path-guard.ts
  electron/main/ipc/workspace.ts
  electron/main/remote.ts
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.ts
  src/services/GitClient.ts
  testdata/sample-runbooks/openclaw/scripts/release-catalog.sh
Due: docs-spellcheck

fix(path-validation): fail closed on lstat errors other than ENOENT/ENOTDIR
  src/path-validation.test.ts
  src/path-validation.ts
Due: none

fix(session): strip AWS creds for <AwsAuth>, apply script env as a delta (#231)
  docs/src/content/docs/security/shell-execution-context.md
  electron/main/ipc/exec.ts
  electron/main/ipc/github.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session-env.test.ts
  electron/main/test-utils/mock-electron.ts
  electron/main/theme-store.test.ts
  src/domain/aws/protected-env.test.ts
  src/domain/aws/protected-env.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/types.ts
Due: docs-spellcheck

docs: quote interpolated values in Command/Check examples
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/Inputs.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
Due: docs-spellcheck

fix(session): diff captured env against the env the script started with
  electron/main/ipc/exec.ts
  electron/main/ipc/session-env.test.ts
Due: none

fix(security): reject javascript: URLs in any runbook MDX prop
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/security/execution-model.md
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

fix(remote): open runbooks in repo subdirectories from any GitHub/GitLab URL or go-getter source
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
  src/services/GitClient.ts
  src/types.ts
  web/src/components/layout/OpenUrlModal.test.tsx
  web/src/components/layout/OpenUrlModal.tsx
  web/src/hooks/useIpc.ts
Due: docs-spellcheck, web-eslint

fix(git): GitHub username for GHES remote runbooks; no prompt in test CLI clone
  cli/test/executor.ts
  electron/main/remote.ts
Due: none

fix(git): don't send the push token to a push URL on another origin
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
Due: none

fix: review follow-ups for #205, #206, #207, #230 and #231 (#253)
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/Inputs.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/security/execution-model.md
  electron/main/ipc/exec.ts
  electron/main/ipc/session-env.test.ts
  electron/main/remote.ts
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/path-validation.test.ts
  src/path-validation.ts
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

fix(changed-files): split HEAD and disk content the way git show was split
  web/src/lib/unifiedDiff.test.ts
  web/src/lib/unifiedDiff.ts
Due: web-eslint

fix(workspace): count an added file's lines without its final newline
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
Due: none

fix(git-provider): link SCP-style remotes on an IPv6 host
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
Due: web-eslint

fix(exec): run subshell EXIT traps natively
  src/domain/exec/script.test.ts
  src/domain/exec/script.ts
Due: none

test(exec): de-flake the timeout and background-job kill tests
  src/domain/exec/executor.kill.test.ts
Due: none

fix(gitlab-auth): never auto-send env tokens over http
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  electron/main/ipc/github.test.ts
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
Due: docs-spellcheck

fix(tls): read the cold system CA set without truncation
  src/domain/tls/system-ca.ts
  test/integration/tls-custom-ca.test.ts
Due: none

fix(gitlab-auth): bind the chained session token to its host, https only
  electron/main/ipc/gitlab.test.ts
  electron/main/ipc/gitlab.ts
Due: none

fix(gitlab-auth): treat a blank env token as unset in detection
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
Due: none

fix(remote): keep credentials typed into a source out of clone URLs, logs and errors
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

docs(remote): docstrings for the remaining functions this PR adds
  src/remote-source.ts
  web/src/components/layout/OpenUrlModal.test.tsx
  web/src/components/layout/OpenUrlModal.tsx
Due: web-eslint

fix(tls): read the cold system CA set without truncation (#255)
  src/domain/tls/system-ca.ts
  test/integration/tls-custom-ca.test.ts
Due: none

Refactor remote source parsing to support git SSH and scp-like URLs (#254)
  docs/src/content/docs/authoring/opening-runbooks.mdx
  docs/src/content/docs/commands/open.mdx
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
  src/services/GitClient.ts
  src/types.ts
  web/src/components/layout/OpenUrlModal.test.tsx
  web/src/components/layout/OpenUrlModal.tsx
  web/src/hooks/useIpc.ts
Due: docs-spellcheck, web-eslint

fix(command/check): nested Inputs and placeholders in instruction mode (#217)
  docs/src/content/docs/intro/instruction-mode.mdx
  web/src/components/mdx/Check/__tests__/Check.instruction.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/Inputs/__tests__/Inputs.test.tsx
  web/src/components/mdx/_shared/components/Instruction.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/checkAuthDependency.test.ts
  web/src/components/mdx/_shared/hooks/useInstructionResolution.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

fix(template-utils): look up input paths by own keys only
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: web-eslint

fix(instruction-mode): keep engine output that contains {{ on purpose
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/hooks/useInstructionResolution.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
Due: web-eslint

fix(instruction-mode): placeholder only inputs with no value
  docs/src/content/docs/intro/instruction-mode.mdx
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

fix(remote): no token hint for http:// sources; test the remote open end to end
  electron/main/remote.test.ts
  electron/main/remote.ts
Due: none

fix(remote-source): keep ?ref= on repo URLs, drop fragments, pass -- to git
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
