Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix(gitlab-auth): honor the {env:{prefix}} detection source
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitLabAuth.mdx
  electron/main/ipc/gitlab.ts
  src/domain/gitlab/auth.test.ts
  src/domain/gitlab/auth.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
  src/services/VcsCredentials.ts
Due: docs-spellcheck

fix(workspace-ui): repo links and labels, basenames, All-files refresh
  web/src/components/artifacts/workspace/GeneratedFilesMetadataBar.tsx
  web/src/components/artifacts/workspace/RepositoryFileBrowser.tsx
  web/src/components/artifacts/workspace/RepositoryMetadataBar.tsx
  web/src/components/artifacts/workspace/__tests__/RepositoryFileBrowser.test.tsx
  web/src/components/artifacts/workspace/__tests__/RepositoryMetadataBar.test.tsx
  web/src/components/artifacts/workspace/__tests__/WorktreeRows.test.tsx
  web/src/components/artifacts/workspace/rows/RepoLabel.tsx
  web/src/components/artifacts/workspace/rows/WorktreeStaticRow.tsx
  web/src/components/artifacts/workspace/rows/WorktreeSwitcherRow.tsx
  web/src/components/icons/GitLabIcon.tsx
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
  web/src/lib/utils.test.ts
  web/src/lib/utils.ts
Due: web-eslint

fix(google-auth): fail open on disabled-API 403s; read only the ADC file
  electron/main/ipc/google.ts
  src/domain/google/gcloud-config.ts
  src/layers/GoogleSdkClient.test.ts
  src/layers/GoogleSdkClient.ts
  web/src/components/artifacts/code/FileTree.tsx
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
Due: web-eslint

fix(workspace): NUL-safe git parsing, HEAD diffs, one numstat per poll
  src/domain/workspace/workspace.test.ts
  src/domain/workspace/workspace.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
Due: none

fix(command/check): render nested Inputs in instruction mode
  docs/src/content/docs/intro/instruction-mode.mdx
  web/src/components/mdx/Check/__tests__/Check.instruction.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/_shared/components/Instruction.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/instructionGuarantees.test.tsx
  web/src/components/mdx/_shared/hooks/useInstructionResolution.ts
  web/src/components/mdx/_shared/lib/instructionResolution.test.ts
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

fix(test-cli): fail on bad configs and unmatched --test, run cleanup
  cli/commands/test.test.ts
  cli/commands/test.ts
  cli/index.ts
  cli/test/assertions.test.ts
  cli/test/assertions.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/reporter.test.ts
  cli/test/reporter.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(template): live-sync shared vars and show success after real render
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.mdx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/TemplateInstruction.tsx
  web/src/components/mdx/Template/__tests__/Template.instruction.test.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/Template/useSharedTemplateVars.ts
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/components/FormStatus.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/components/__tests__/FormControls.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useFormState.test.ts
  web/src/components/mdx/_shared/hooks/useFormState.ts
Due: docs-spellcheck, web-eslint

chore(blocks): remove dead props and legacy YAML paths
  docs/src/content/docs/authoring/blocks/Admonition.md
  web/src/components/mdx/Admonition/Admonition.tsx
  web/src/components/mdx/Admonition/__tests__/Admonition.test.tsx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/_shared/components/ErrorDisplay.tsx
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.test.ts
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.ts
Due: docs-spellcheck, web-eslint

fix(git-auth): gate detection per provider and fall through empty blocks
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/GitAuthInstruction.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/providers/index.ts
Due: docs-spellcheck, web-eslint

fix(git-pr): resumable retries, non-fatal labels, documented outputs
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/ipc/git-pr-result.test.ts
  electron/main/ipc/git-pr-result.ts
  electron/main/ipc/git.ts
  src/domain/git/operations.pr.test.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  src/services/GitHubClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/__tests__/GitPullRequest.retry.test.tsx
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
  web/src/components/mdx/GitPullRequest/types.ts
Due: docs-spellcheck, web-eslint

fix(boilerplate): rebuild warm render state and commit vars after writes
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/runbook.ts
  src/domain/files/manifest.test.ts
  src/domain/files/manifest.ts
  src/layers/NodeWarmRenderDispatcher.test.ts
  src/layers/NodeWarmRenderDispatcher.ts
  src/services/BundleProducer.ts
  src/services/WarmRenderDispatcher.ts
Due: none

fix(dir-picker): fill dropdowns from workspace:dirs and sync PATH output
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  electron/main/ipc/workspace.test.ts
  electron/main/ipc/workspace.ts
  electron/main/theme-store.test.ts
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/DirPicker/DirPickerInstruction.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/DirPicker/types.ts
Due: docs-spellcheck, web-eslint

fix(aws-auth): make env detection and confirm honor contract and prefix
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws-env.test.ts
  electron/main/ipc/aws-env.ts
  electron/main/ipc/aws.ts
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/domain/env-prefix.ts
  src/domain/github/auth.ts
  src/domain/google/auth.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

fix(exec): enforce timeoutMs, kill groups only on cancel, stop on quit
  docs/src/content/docs/authoring/blocks/Command.mdx
  electron/main/index.ts
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
  electron/main/test-utils/mock-electron.ts
  electron/main/theme-store.test.ts
  src/domain/exec/executor.kill.test.ts
  src/domain/exec/executor.ts
  src/layers/ChildProcessSpawner.ts
Due: docs-spellcheck

chore(deps): drop unused packages and dead workspace UI code
  bun.lock
  electron.vite.config.ts
  package.json
  web/bun.lock
  web/package.json
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/code/FileTree.types.ts
  web/src/components/artifacts/workspace/RepositoryTabs.tsx
  web/src/components/artifacts/workspace/Workspace.tsx
Due: web-eslint

fix(git-clone): real cancel, no status resets mid-clone, clean re-clone
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git.ts
  electron/main/theme-store.test.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.emptyRepo.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/contexts/IpcGitWorkTreeContext.test.tsx
  web/src/contexts/IpcGitWorkTreeContext.tsx
  web/src/contexts/gitWorkTreeTypes.ts
Due: docs-spellcheck, web-eslint

fix(git): keep tokens out of .git/config and use provider usernames
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/main/remote.ts
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  src/domain/git/url.test.ts
  src/domain/git/url.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.ts
  src/services/GitClient.ts
  testdata/sample-runbooks/openclaw/scripts/release-catalog.sh
Due: docs-spellcheck

chore(ipc): remove unused IPC channels and session-token machinery
  electron/main/index.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/domain/workspace/file.ts
  src/layers/ProcessEnvironment.ts
  src/services/Environment.ts
  src/test-utils/TestEnvironment.ts
  src/types.ts
  web/src/api.d.ts
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.test.tsx
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/hooks/useApiExec.test.ts
  web/src/test-utils/mock-api.ts
Due: web-eslint

fix(git-pr): route push failures inline and ignore cancelled runs
  web/src/components/mdx/GitPullRequest/hooks/__tests__/useGitPullRequest.test.ts
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
Due: web-eslint

fix(registry): parse component props, fences and source order robustly
  cli/test/executor.test.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  src/domain/registry/executable.test.ts
  src/domain/registry/executable.ts
  src/mdx.test.ts
  src/mdx.ts
Due: none

fix(exec): render scripts verbatim and fail on template errors
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  electron/main/ipc/exec.ts
  src/domain/exec/render.test.ts
  src/domain/exec/render.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/services/BoilerplateRenderer.ts
  src/test-utils/TestLayer.ts
Due: docs-spellcheck

fix(web): stable LogsContext value and useIpc debounce cleanup
  web/src/contexts/LogsContext.test.tsx
  web/src/contexts/LogsContext.tsx
  web/src/hooks/useIpc.test.tsx
  web/src/hooks/useIpc.ts
Due: web-eslint

fix(app): reset per-runbook state on switch and surface failed opens
  electron/main/ipc/runbook.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/MDXContainer.tasklist.test.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/layout/OpenUrlModal.tsx
  web/src/components/layout/RunbookOpenError.tsx
  web/src/components/layout/__tests__/OpenUrlModal.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useBlockCompletion.test.tsx
  web/src/components/mdx/_shared/hooks/useBlockCompletion.ts
  web/src/components/mdx/_shared/hooks/useTaskCheckbox.ts
  web/src/components/mdx/_shared/lib/runbookStorageKey.ts
  web/src/contexts/RunbookContext.tsx
  web/src/hooks/useIpcGeneratedFilesCheck.ts
  web/src/hooks/useIpcGetRunbook.ts
Due: web-eslint

fix(remote-source): normalize URLs, support commit SHAs, fix auth hints
  docs/src/content/docs/commands/open.mdx
  electron/main/ipc/runtime.test.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/remote-source.test.ts
  src/remote-source.ts
  src/types.ts
Due: docs-spellcheck

fix(main): caller-cwd launch paths, remote-open errors, drop dead flags
  docs/src/content/docs/commands/open.mdx
  docs/src/content/docs/intro/files_workspace.mdx
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/open-runbook.test.ts
  electron/main/open-runbook.ts
  electron/shared/channels.ts
  testdata/sample-runbooks/my-first-runbook/runbook.mdx
  web/src/App.tsx
  web/src/types/error.ts
Due: docs-spellcheck, web-eslint

fix(google-auth): treat slash-less special-scheme URLs as request targets
  src/domain/google/credential-policy.test.ts
  src/domain/google/credential-policy.ts
  src/layers/GoogleSdkClient.test.ts
Due: none

fix(path-validation): resolve symlinks component-by-component
  src/path-validation.test.ts
  src/path-validation.ts
Due: none

fix(google-auth): release every superseded credential file of a block
  electron/main/ipc/google-credential-registry.test.ts
  electron/main/ipc/google-credential-registry.ts
  electron/main/ipc/google-credentials.ts
Due: none

fix(workspace): share one git poller and drop superseded IPC responses
  web/src/components/artifacts/workspace/Workspace.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.renderOrder.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/WorkspaceGitDataContext.tsx
  web/src/contexts/WorkspaceGitDataContext.types.ts
  web/src/contexts/__tests__/WorkspaceGitDataContext.test.tsx
  web/src/hooks/__tests__/useFileContent.test.ts
  web/src/hooks/useFileContent.ts
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useGitFileTree.ts
  web/src/main.tsx
Due: web-eslint

fix(files): use one generated-files dir for render, capture and delete
  .gitignore
  cli/test/config.ts
  docs/src/content/docs/intro/files_workspace.mdx
  electron/main/ipc/boilerplate.ts
  electron/main/ipc/exec.ts
  electron/main/ipc/files.ts
  electron/main/ipc/generated-dir.test.ts
  electron/main/ipc/path-guard.ts
  electron/main/theme-store.test.ts
  src/domain/files/generated.test.ts
  src/domain/files/generated.ts
  src/layers/NodeFileSystem.ts
  web/src/components/mdx/_shared/lib/instructionCommands.test.ts
  web/src/components/mdx/_shared/lib/instructionCommands.ts
Due: docs-spellcheck, web-eslint

fix(aws-auth): make the SSO device flow complete end to end
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws-sso.test.ts
  electron/main/ipc/aws-sso.ts
  electron/main/ipc/aws.ts
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/layers/AwsSdkClient.test.ts
  src/layers/AwsSdkClient.ts
  src/services/AwsClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.sso.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

fix(test-cli): keep fuzzed values within configured constraints
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(template-inline): write generateFile output and publish real trees
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  electron/e2e/kitchen-sink.spec.ts
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/writeInlineRenderedFiles.test.ts
  src/domain/boilerplate/writeInlineRenderedFiles.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  src/types.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: docs-spellcheck, web-eslint

fix(session): strip AWS creds for <AwsAuth>, apply script env as a delta
  electron/main/ipc/exec.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session-env.test.ts
  electron/main/test-utils/mockElectron.ts
  electron/main/theme-store.test.ts
  src/domain/aws/protected-env.test.ts
  src/domain/aws/protected-env.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/types.ts
Due: none

docs(file-tree): describe the 500-file cap accurately and test it
  src/domain/workspace/file-tree.test.ts
  src/domain/workspace/file-tree.ts
Due: none

fix(mdx): rewrite ./assets paths in JSX media elements
  docs/src/content/docs/authoring/runbook-structure.mdx
  web/src/components/MDXContainer.tsx
  web/src/components/__tests__/MDXContainer.assets.test.tsx
Due: docs-spellcheck, web-eslint

fix(logger): keep TaggedError fields and FiberFailure causes in logs
  src/logger.test.ts
  src/logger.ts
Due: none

fix(git-client): report tag checkouts correctly, stop hasCommits lying
  src/layers/GitCliClient.test.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
Due: none

fix(ipc): send clean error messages across IPC instead of FiberFailure dumps
  electron/main/index.ts
  electron/main/ipc/index.ts
  electron/main/ipc/ipc-error.test.ts
  electron/main/ipc/ipc-error.ts
  electron/preload/index.ts
  electron/shared/ipc-error-message.ts
Due: none

fix(cli-install): ship working launchers, never clobber foreign runbooks
  docs/src/content/docs/intro/installation.mdx
  electron/main/cli-install.test.ts
  electron/main/cli-install.ts
  electron/main/menu.ts
  resources/bin/runbooks.cmd
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/layout/__tests__/WelcomeScreen.test.tsx
Due: docs-spellcheck, web-eslint

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
