Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Improve security posture
  api/server.go
  api/tf_parse_handler.go
  cmd/root.go
Due: none

Update to the latest boilerplate and cut out a whole bunch of code
  AGENTS.md
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  api/tf_generator.go
  api/tf_generator_test.go
  cmd/test.go
  docs/src/content/docs/authoring/blocks/Check.md
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/Inputs.mdx
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  docs/src/content/docs/authoring/boilerplate.md
  docs/src/content/docs/intro/ui_tour.md
  go.mod
  go.sum
  testdata/feature-demos/block-outputs/runbook.mdx
  testdata/feature-demos/block-outputs/templates/account-config/boilerplate.yml
  testdata/sample-runbooks/demo2/runbook.mdx
  testdata/sample-runbooks/demo2/templates/mise-config/boilerplate.yml
  testdata/sample-runbooks/demo3/runbook.mdx
  testdata/sample-runbooks/demo3/templates/mise-config/boilerplate.yml
  testdata/sample-runbooks/lambda/runbook.mdx
  testdata/sample-runbooks/lambda/templates/lambda-unit/boilerplate.yml
  testdata/test-fixtures/boilerplate-yaml/invalid-validations.yml
  testdata/test-fixtures/boilerplate-yaml/valid-with-validations.yml
Due: docs-spellcheck

Minor fixes
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/contexts/RunbookContext.test.tsx
Due: docs-spellcheck, web-eslint

Upgrade to Go 1.26.0
  .github/workflows/release.yml
  .github/workflows/test.yml
  go.mod
Due: none

Fix broken auth header for protected endpoint; consolidate protected endpoint tests [skip ci]
  api/auth_enforcement_test.go
  api/aws_auth_test.go
  api/github_auth_test.go
  api/test_helpers_test.go
  web/src/hooks/useApi.ts
  web/src/hooks/useApiParseTfModule.ts
Due: web-eslint

Fix infinite loop
  web/src/hooks/useApi.ts
Due: web-eslint

Prevent ref-triggered re-fetch in useApi
  testdata/feature-demos/tf-colocated-module/runbook.mdx
  testdata/feature-demos/tf-colocated-module/variables.tf
  web/src/hooks/useApi.test.ts
  web/src/hooks/useApi.ts
  web/src/hooks/useApiExec.test.ts
Due: web-eslint

Don't attempt to render invalid int or float values
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/lib/templateUtils.ts
Due: web-eslint

Put GitClone extra settings under a collapsible toggle
  web/src/components/mdx/GitClone/GitClone.tsx
Due: web-eslint

Fix broken runbook
  api/testing/executor.go
  testdata/feature-demos/tf-custom-template/runbook.mdx
  testdata/feature-demos/tf-custom-template/templates/lambda-deploy/boilerplate.yml
Due: none

CodeRabbit fixes
  api/boilerplate_config.go
  api/testing/validation.go
  api/tf_parser.go
  api/tf_parser_test.go
  api/types.go
  cmd/server.go
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.md
  testdata/feature-demos/tf-colocated-module/variables.tf
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/lib/extractTemplateVariables.test.ts
  web/src/components/mdx/TemplateInline/lib/extractTemplateVariables.ts
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/components/mdx/_shared/lib/formatHclValue.test.ts
  web/src/components/mdx/_shared/lib/formatHclValue.ts
  web/src/types/boilerplateVariable.ts
Due: docs-spellcheck, web-eslint

Update to boilerplate v0.12.1. Also, return HTTP 400 for invalid YAML instead of 500.
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  go.mod
  go.sum
Due: none

Add Cursor Cloud specific instructions to AGENTS.md
  AGENTS.md
Due: none

Additional fixes.
  api/boilerplate_config.go
  api/tf_parser_test.go
  docs/src/content/docs/authoring/boilerplate.md
  testdata/test-fixtures/tf-modules/lambda-s3-complex/common.tf
Due: docs-spellcheck

Final set of fixes.
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
Due: docs-spellcheck, web-eslint

Remove specious typecast; fix subtle race condition.
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

Fix subtle RegeEx issues
  api/boilerplate_config.go
  testdata/sample-runbooks/my-first-runbook/runbook.mdx
  testdata/test-fixtures/output-dependencies/patterns.json
  web/src/components/mdx/TemplateInline/lib/extractOutputDependencies.ts
  web/src/components/mdx/TemplateInline/lib/extractTemplateVariables.test.ts
  web/src/components/mdx/TemplateInline/lib/extractTemplateVariables.ts
Due: web-eslint

Improve Admonition type error with runtime validation and helpful message
  web/src/components/mdx/Admonition/Admonition.tsx
  web/src/components/mdx/Admonition/index.ts
Due: web-eslint

Fix stale file tree after deleting generated files (including hidden files)
  api/generated_files_test.go
  web/src/App.tsx
  web/src/components/layout/GeneratedFilesAlert/GeneratedFilesAlert.tsx
  web/src/hooks/useApiGeneratedFilesDelete.ts
Due: web-eslint

Remove redundant type cast and report invalid admonition types via useErrorReporting
  web/src/components/mdx/Admonition/Admonition.tsx
Due: web-eslint

Add Playwright E2E test infrastructure for runbook rendering
  Taskfile.yml
  web/.gitignore
  web/bun.lock
  web/e2e/fixtures.ts
  web/e2e/global-setup.ts
  web/e2e/runbook-rendering.spec.ts
  web/eslint.config.js
  web/package.json
  web/playwright.config.ts
  web/vitest.config.ts
Due: none

Block TemplateInline file generation until "delete existing files" alert resolves
  web/src/App.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/contexts/GeneratedFilesContext.tsx
  web/src/contexts/GeneratedFilesContext.types.ts
Due: web-eslint

Initial pass at app scaffolder
  testdata/sample-runbooks/prototype-factory/checks/check-gh.sh
  testdata/sample-runbooks/prototype-factory/checks/check-node.sh
  testdata/sample-runbooks/prototype-factory/runbook.mdx
  testdata/sample-runbooks/prototype-factory/scripts/configure-cache-rate-limiting.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-content-api.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-conversation-api.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-supabase-auth.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-telemetry.sh
  testdata/sample-runbooks/prototype-factory/scripts/create-pr.sh
  testdata/sample-runbooks/prototype-factory/scripts/provision-vector-db.sh
  testdata/sample-runbooks/prototype-factory/scripts/scaffold-nextjs.sh
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/.env.local
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/.github/workflows/ci.yml
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/boilerplate.yml
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/config/services.yaml
Due: none

Support inputs and outputs in prefilled vals
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/types.ts
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: web-eslint

Initial pass at updated inputs/outputs
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/types.ts
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/UnmetDependenciesWarning.tsx
  web/src/components/mdx/_shared/components/UnmetOutputDependenciesWarning.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/hooks/useTemplateDependencies.ts
  web/src/contexts/RunbookContext.tsx
  web/src/contexts/useRunbook.ts
  web/src/lib/extractTemplateDependencies.test.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/templateUtils.test.ts
  web/src/lib/templateUtils.ts
Due: web-eslint

Add additional tests
  web/src/lib/extractTemplateDependencies.test.ts
  web/src/lib/templateUtils.test.ts
Due: web-eslint

Improve demo runbook
  testdata/feature-demos/inputs-and-outputs/runbook.mdx
Due: none

Fix browser crash when runbook generates large number of files
  api/workspace.go
  api/workspace_test.go
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
Due: web-eslint

Fix OOM crash in generated files view when template output is large
  api/boilerplate_render.go
  api/exec_stream.go
  api/file_tree.go
  api/file_tree_test.go
  api/types.go
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/code/FileTree.types.ts
Due: web-eslint

Respect .gitignore in file tree and recommend exclusions for heavy dirs
  api/boilerplate_render.go
  api/file_tree.go
  api/file_tree_test.go
  api/gitignore.go
  api/gitignore_test.go
  api/types.go
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/workspace/Workspace.tsx
  web/src/components/layout/ArtifactsContainer.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/contexts/GeneratedFilesContext.tsx
  web/src/contexts/GeneratedFilesContext.types.ts
  web/src/hooks/useApiBoilerplateRender.ts
  web/src/hooks/useFileTree.ts
Due: web-eslint

Auto-inject logging functions into bash script wrapper
  api/exec_script.go
  api/session.go
  api/session_test.go
  docs/src/content/docs/authoring/blocks/Check.md
  docs/src/content/docs/authoring/blocks/Command.mdx
  testdata/feature-demos/script-logging/checks/debug-check.sh
  testdata/feature-demos/script-logging/runbook.mdx
  testdata/feature-demos/script-logging/scripts/logging-demo.sh
Due: docs-spellcheck

Remove OSC characters from ANSI output The `gh` command was emitting some gibberish we didn't need
  web/src/components/shared/TerminalText/index.tsx
Due: web-eslint

Add more useful delete warning by including path
  web/src/components/mdx/GitClone/GitClone.tsx
Due: web-eslint

Add support for gitignored files and lazy loading
  api/workspace.go
  testdata/sample-runbooks/prototype-factory/runbook.mdx
  testdata/sample-runbooks/prototype-factory/scripts/scaffold-nextjs.sh
  web/src/components/artifacts/code/FileTree.tsx
  web/src/components/artifacts/code/FileTree.types.ts
  web/src/components/artifacts/workspace/RepositoryFileBrowser.tsx
  web/src/components/artifacts/workspace/Workspace.tsx
  web/src/hooks/useWorkspaceTree.ts
Due: web-eslint

Create empty initial commit for pull requests when needed
  api/github_pull_request.go
  testdata/sample-runbooks/prototype-factory/runbook.mdx
  testdata/sample-runbooks/prototype-factory/scripts/create-pr.sh
Due: none

Remove prototype-factory (moved to sample-runbook branch)
  testdata/sample-runbooks/prototype-factory/checks/check-gh.sh
  testdata/sample-runbooks/prototype-factory/checks/check-node.sh
  testdata/sample-runbooks/prototype-factory/runbook.mdx
  testdata/sample-runbooks/prototype-factory/scripts/configure-cache-rate-limiting.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-content-api.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-conversation-api.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-supabase-auth.sh
  testdata/sample-runbooks/prototype-factory/scripts/configure-telemetry.sh
  testdata/sample-runbooks/prototype-factory/scripts/provision-vector-db.sh
  testdata/sample-runbooks/prototype-factory/scripts/scaffold-nextjs.sh
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/.env.local
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/.github/workflows/ci.yml
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/boilerplate.yml
  testdata/sample-runbooks/prototype-factory/templates/prototype-config/config/services.yaml
Due: none

Update file tree to avoid gitignoring files
  api/boilerplate_render.go
  api/exec_stream.go
  api/file_tree.go
  api/file_tree_test.go
  api/gitignore.go
  api/gitignore_test.go
Due: none

Update "heavy dir" recommended warnings
  api/types.go
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/hooks/useApiBoilerplateRender.ts
Due: web-eslint

Fix edge cases with creating an empty commit in GitHubPullRequest
  api/github_pull_request.go
Due: none

Minor fix of unlikely edge case
  web/src/components/artifacts/code/CodeFileCollection.tsx
Due: web-eslint
