Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

Add explicit id check for TemplateInline in validateComponent
  api/testing/validation.go
Due: none

Add isDuplicate guard to TemplateInline render effect
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Add error reporting and update testing docs for TemplateInline
  docs/src/content/docs/authoring/testing.mdx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: docs-spellcheck, web-eslint

Demo2 test now passes
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/layout/GeneratedFilesAlert/GeneratedFilesAlert.tsx
Due: web-eslint

Define fixtures specially for testing files
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Fix error reporting useEffect ordering in TemplateInline
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Add more data-testids to support deep form testing
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/TfModule/TfModule.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormControls.tsx
Due: web-eslint

Add trackBlockRender telemetry to TemplateInline
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Limit reportError to config errors only in TemplateInline
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Improve TemplateInline error reporting and fix variable shadowing
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Use shared DuplicateIdError component in TemplateInline
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Add remaining tests [skip ci]
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Add missing-id validation to TemplateInline
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Add missing-id validation to all remaining MDX block components
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitHubAuth/GitHubAuth.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
Due: web-eslint

Parallelize tests
  web/e2e/fixtures.ts
  web/playwright.config.ts
Due: none

Run playwright tests in CI
  .github/workflows/release.yml
  .github/workflows/test.yml
  web/package.json
Due: none

Fix race condition on server teardown
  web/e2e/fixtures.ts
Due: none

Expose optional testId prop for ErrorDisplay
  web/src/components/mdx/_shared/components/ErrorDisplay.tsx
Due: web-eslint

Fix TemplateInline rendering issue
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/hooks/useApi.ts
Due: web-eslint

Render SVGs in file previews
  api/workspace.go
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
Due: web-eslint

Use clearer messages for showing logs are running.
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

Add next-app-runbook
  testdata/sample-runbooks/next-app/runbook.mdx
  testdata/sample-runbooks/next-app/runbook_test.yml
  testdata/sample-runbooks/next-app/scripts/create-next-app.sh
  testdata/sample-runbooks/next-app/templates/welcome-card/boilerplate.yml
  testdata/sample-runbooks/next-app/templates/welcome-card/src/components/WelcomeCard.tsx
Due: none

Code review fixes: security, test quality, and code hygiene
  api/generated_files_test.go
  web/e2e/test-sample-runbooks.spec.ts
  web/eslint.config.js
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

Add unit tests for untested Go functions and Playwright test for next-app runbook
  api/workspace_test.go
  web/e2e/test-sample-runbooks.spec.ts
Due: none

First pass homepage.
  docs/astro.config.mjs
  docs/src/content/docs/index.mdx
  vercel.json
Due: docs-spellcheck

Continuing to iterate on homepage
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
  testdata/sample-runbooks/homepage-demo/checks/node-version.sh
  testdata/sample-runbooks/homepage-demo/runbook.mdx
Due: docs-spellcheck

Home page looking pretty good now
  docs/src/assets/screenshots/homepage-checks.webp
  docs/src/assets/screenshots/homepage-configure.webp
  docs/src/assets/screenshots/homepage-deploy.webp
  docs/src/components/SourceFile.astro
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
  testdata/sample-runbooks/homepage-demo/runbook.mdx
Due: docs-spellcheck

Slight tweaks for mobile
  docs/src/styles/custom.css
Due: none

Code cleanup
  docs/astro.config.mjs
  docs/src/assets/screenshots/homepage-configure.webp
  docs/src/assets/screenshots/homepage-deploy.webp
  docs/src/components/SourceFile.astro
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
Due: docs-spellcheck

Add Playwright test for homepage runbook
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Update node-version.sh
  testdata/sample-runbooks/homepage-demo/checks/node-version.sh
Due: none

Add custom footer, hero assets, and splash styles
  docs/astro.config.mjs
  docs/src/assets/runbooks-logomark-dark.svg
  docs/src/assets/runbooks-logomark-light.svg
  docs/src/components/Footer.astro
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
Due: docs-spellcheck

Update cspell.json
  docs/cspell.json
Due: none

Add codegen section to homepage
  docs/src/content/docs/index.mdx
Due: docs-spellcheck

Cache playwright-chromium
  .github/workflows/test.yml
Due: none

Add runbook for ingesting existing AWS accounts into Reference Architecture
  testdata/sample-runbooks/ingest-existing-aws-account/checks/verify-mgmt-account.sh
  testdata/sample-runbooks/ingest-existing-aws-account/checks/verify-resources.sh
  testdata/sample-runbooks/ingest-existing-aws-account/checks/verify-state-bucket.sh
  testdata/sample-runbooks/ingest-existing-aws-account/checks/verify-target-account.sh
  testdata/sample-runbooks/ingest-existing-aws-account/runbook.mdx
  testdata/sample-runbooks/ingest-existing-aws-account/runbook_test.yml
  testdata/sample-runbooks/ingest-existing-aws-account/scripts/cleanup-resources.sh
  testdata/sample-runbooks/ingest-existing-aws-account/scripts/create-state-bucket.sh
  testdata/sample-runbooks/ingest-existing-aws-account/scripts/create-tags-bucket.sh
  testdata/sample-runbooks/ingest-existing-aws-account/scripts/register-account.sh
Due: none

Fix rendering issue; add nicer error message
  testdata/sample-runbooks/ingest-existing-aws-account/runbook.mdx
  testdata/sample-runbooks/ingest-existing-aws-account/runbook_test.yml
  web/src/components/MDXContainer.tsx
Due: web-eslint

Update ProfileSelector.tsx
  web/src/components/mdx/AwsAuth/components/ProfileSelector.tsx
Due: web-eslint

CodeRabbit feedback
  api/file_tree_test.go
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/workspace/RepositoryFileBrowser.tsx
  web/src/hooks/useWorkspaceTree.ts
  web/src/lib/utils.ts
Due: web-eslint

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
