Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

docs(watch): correct the reload advice in the docs and drift warning
  docs/src/content/docs/commands/watch.mdx
  docs/src/content/docs/intro/runbooks_vs_other.md
  testdata/sample-runbooks/my-first-runbook/runbook.mdx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: docs-spellcheck, web-eslint

chore(deps): collapse web/ and cli/ onto the root package.json
  .github/workflows/test.yml
  AGENTS.md
  README.md
  bun.lock
  cli/package.json
  components.json
  docs/src/content/docs/development/workflow.md
  justfile
  package.json
  tsconfig.json
  web/bun.lock
  web/package.json
Due: docs-spellcheck

test(path-validation): pin `\` as a filename character on POSIX
  src/path-validation.test.ts
Due: none

docs(git-pr): note two edge cases of resumed PR/MR runs in runGitSteps
  src/domain/git/operations.ts
Due: none

fix(git-auth): drop stale {block} and PAT results after a provider switch
  electron/shared/channels.ts
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: web-eslint

docs(test-cli): document the real runner and make files_generated count
  AGENTS.md
  cli/commands/test.test.ts
  cli/commands/test.ts
  cli/test/assertions.test.ts
  cli/test/assertions.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/testing.mdx
  testdata/feature-demos/block-outputs/runbook_test.yml
  testdata/feature-demos/pseudo-tty/runbook_test.yml
  testdata/feature-demos/runbook-testing/runbook_test.yml
  testdata/feature-demos/script-logging/runbook_test.yml
  testdata/sample-runbooks/demo1/runbook_test.yml
  testdata/sample-runbooks/error-scenarios/runbook_test.yml
  testdata/sample-runbooks/markdown-only-full/runbook_test.yml
  web/src/components/mdx/_shared/lib/instructionResolution.ts
Due: docs-spellcheck, web-eslint

fix(google-auth): type-check ErrorInfo fields; document session-env gap
  electron/main/ipc/google-session-env.ts
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  src/layers/GoogleSdkClient.test.ts
  src/layers/GoogleSdkClient.ts
Due: none

fix(security): reject namespaced element names in runbook MDX
  docs/src/content/docs/authoring/markdown.md
  docs/src/content/docs/security/execution-model.md
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/lib/remarkLiteralOnly.test.ts
  web/src/lib/remarkLiteralOnly.ts
Due: docs-spellcheck, web-eslint

fix(template-inline): clean up only inside the dir the block writes to
  docs/src/content/docs/authoring/blocks/TemplateInline.mdx
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/writeInlineRenderedFiles.test.ts
  src/domain/boilerplate/writeInlineRenderedFiles.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: docs-spellcheck, web-eslint

fix(git-clone): clone an empty repo with a repo path; review follow-ups
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git-clone-repo-path.test.ts
  electron/main/ipc/git.ts
  src/domain/git/cloneSteps.test.ts
  src/domain/git/cloneSteps.ts
  web/src/components/mdx/GitClone/GitCloneInstruction.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.instruction.test.tsx
  web/src/contexts/IpcGitWorkTreeContext.test.tsx
  web/src/contexts/IpcGitWorkTreeContext.tsx
Due: docs-spellcheck, web-eslint

fix(git-auth): drop the old credential when a card re-detects
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: web-eslint

fix(test-cli): let a test's env blank GitClone's fallback token
  cli/commands/test.test.ts
  cli/test/assertions.test.ts
  cli/test/assertions.ts
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/reporter.test.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

chore(git-clone): tighten clone progress filter; fix stale wording
  web/src/components/mdx/GitClone/GitCloneInstruction.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: web-eslint

fix(git-auth): close the hosts gate on Reload; Check again without picker
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: web-eslint

fix(test-cli): always honor skip, give cleanup the test env
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

chore(docs): sync docs/bun.lock with docs/package.json
  docs/bun.lock
Due: none

test(electron): use the shared mockElectron helper
  electron/main/ipc/session-env.test.ts
  electron/main/test-utils/mock-electron.ts
  electron/main/test-utils/mockElectron.ts
  electron/main/theme-store.test.ts
Due: none

test(electron): use the shared mockElectron helper
  electron/main/test-utils/mock-electron.ts
Due: none

test(electron): use the shared mockElectron helper
  electron/main/ipc/workspace.test.ts
  electron/main/test-utils/mock-electron.ts
  electron/main/theme-store.test.ts
Due: none

test(electron): use the shared mockElectron helper
  electron/main/ipc/generated-dir.test.ts
  electron/main/test-utils/mock-electron.ts
  electron/main/theme-store.test.ts
Due: none

test(electron): use the shared mockElectron helper
  electron/main/ipc/git-clone-cancel.test.ts
  electron/main/ipc/git-clone-repo-path.test.ts
  electron/main/test-utils/mock-electron.ts
  electron/main/theme-store.test.ts
Due: none

fix(exec): raise the default block timeout to 60 minutes
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  src/domain/exec/executor.ts
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
Due: docs-spellcheck, web-eslint

fix: Add support for GovCloud regions
  docs/cspell.json
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws.ts
  electron/shared/channels.ts
  mise.lock
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/domain/aws/partition.test.ts
  src/domain/aws/partition.ts
  src/layers/AwsSdkClient.ts
  src/services/AwsClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/AwsAuth/__tests__/DefaultRegionPicker.test.tsx
  web/src/components/mdx/AwsAuth/constants.ts
  web/src/test/setup.ts
Due: docs-spellcheck, web-eslint

fix: Allow for scrolling in the main Window when there is nothing else being scrolled on
  web/src/App.tsx
  web/src/components/MDXContainer.tsx
  web/src/hooks/useWheelScrollFallback.test.tsx
  web/src/hooks/useWheelScrollFallback.ts
Due: web-eslint

fix: Fixing clone completion looking super busted
  web/src/components/mdx/Admonition/Admonition.tsx
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/DirPicker/DirPicker.tsx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/css/App.css
Due: web-eslint

fix: Add support for GovCloud regions (#247)
  docs/cspell.json
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws.ts
  electron/shared/channels.ts
  mise.lock
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/domain/aws/partition.test.ts
  src/domain/aws/partition.ts
  src/layers/AwsSdkClient.ts
  src/services/AwsClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/AwsAuth/__tests__/DefaultRegionPicker.test.tsx
  web/src/components/mdx/AwsAuth/constants.ts
  web/src/test/setup.ts
Due: docs-spellcheck, web-eslint

fix(aws-auth): validate credentials in every AWS partition, not just commercial and GovCloud
  bun.lock
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  package.json
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/domain/aws/partition.test.ts
  src/domain/aws/partition.ts
  src/layers/AwsPartition.test.ts
  src/layers/AwsPartition.ts
  src/layers/AwsSdkClient.partition.test.ts
  src/layers/AwsSdkClient.ts
  src/services/AwsClient.ts
Due: docs-spellcheck

fix(aws-auth): export the region a profile was validated in
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/shared/channels.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.profiles.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

feat(github): host-aware GitHub backend for GHES and ghe.com
  cli/test/executor.ts
  docs/cspell.json
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  electron/main/csp.ts
  electron/main/ipc/git.ts
  electron/main/ipc/github.ts
  electron/main/ipc/runtime.ts
  electron/main/recent-hosts.ts
  electron/main/remote.ts
  electron/main/window.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/github-host.ts
  src/domain/git/operations.ts
  src/domain/github/auth.test.ts
  src/domain/github/auth.ts
  src/layers/GitHubHttpClient.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
  src/remote-source.ts
  src/services/GitHubClient.ts
  src/services/VcsCredentials.ts
Due: docs-spellcheck

fix(vcs): treat GitHub Enterprise token env vars as secrets
  electron/e2e/vcs-auth.spec.ts
  src/domain/vcs/redact.ts
Due: none

feat(github): bind prefixed env tokens by <PREFIX>GH_HOST
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  src/domain/github/auth.ts
Due: docs-spellcheck

feat(web): GitHub host picker, enterprise OAuth gating and host-aware links
  web/src/components/layout/OpenUrlModal.tsx
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.githubEnterprise.test.tsx
  web/src/components/mdx/GitAuth/components/AuthSuccess.tsx
  web/src/components/mdx/GitAuth/components/HostSelect.tsx
  web/src/components/mdx/GitAuth/components/PatForm.tsx
  web/src/components/mdx/GitAuth/components/__tests__/AuthSuccess.test.tsx
  web/src/components/mdx/GitAuth/components/__tests__/PatForm.test.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/providers/github.ts
  web/src/components/mdx/GitAuth/providers/gitlab.ts
  web/src/components/mdx/GitAuth/providers/index.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/components/GitHubBrowser.tsx
  web/src/components/mdx/GitClone/components/__tests__/GitHubBrowser.test.tsx
  web/src/components/mdx/GitClone/hooks/__tests__/useGitClone.test.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/hooks/useGitPullRequest.ts
  web/src/components/mdx/_shared/lib/gitProvider.test.ts
  web/src/components/mdx/_shared/lib/gitProvider.ts
  web/src/components/mdx/_shared/lib/githubHost.test.ts
  web/src/components/mdx/_shared/lib/githubHost.ts
Due: web-eslint

fix(github): harden host parsing and session binding
  electron/main/ipc/github.ts
  electron/main/ipc/gitlab.ts
  electron/main/ipc/session.ts
  src/domain/git/github-host.ts
  src/domain/github/auth.ts
  src/remote-source.ts
  web/src/components/mdx/_shared/lib/githubHost.test.ts
  web/src/components/mdx/_shared/lib/githubHost.ts
Due: web-eslint

test(github): cover GitHub Enterprise hosts end to end
  electron/main/csp.test.ts
  electron/main/ipc/github.test.ts
  electron/main/ipc/runtime.test.ts
  electron/main/remote.test.ts
  electron/main/theme-store.test.ts
  src/domain/git/github-host.test.ts
  src/domain/github/auth-hosts.test.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/VcsCredentialsLive.test.ts
  src/remote-source.test.ts
Due: none

fix(aws-auth): ignore sign-in replies that land after the attempt ended
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.profiles.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: web-eslint

fix(aws-auth): publish env credentials only after the confirm is still wanted
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws-env.test.ts
  electron/main/ipc/aws-env.ts
  electron/main/ipc/aws.ts
  electron/shared/channels.ts
  web/src/components/mdx/AwsAuth/__tests__/AwsAuth.test.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

fix: Use something better than a yellow true
  electron/main/ipc/aws.ts
  src/domain/google/auth.test.ts
  src/layers/AwsSdkClient.test.ts
  src/layers/AwsSdkClient.ts
  src/layers/GoogleSdkClient.test.ts
  src/services/GoogleClient.ts
Due: none

fix(aws-auth): make env detection, SSO and local profiles work (#204)
  bun.lock
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws-env.test.ts
  electron/main/ipc/aws-env.ts
  electron/main/ipc/aws-profiles.test.ts
  electron/main/ipc/aws-profiles.ts
  electron/main/ipc/aws-sso.test.ts
  electron/main/ipc/aws-sso.ts
  electron/main/ipc/aws.ts
  electron/shared/channels.ts
  package.json
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/domain/env-prefix.ts
  src/domain/github/auth.ts
  src/domain/google/auth.test.ts
  src/domain/google/auth.ts
  src/layers/AwsSdkClient.test.ts
  src/layers/AwsSdkClient.ts
  src/layers/GoogleSdkClient.test.ts
  src/services/AwsClient.ts
  src/services/GoogleClient.ts
  web/src/components/mdx/AwsAuth/__tests__/AwsAuth.test.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.block.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.env.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.profiles.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.sso.test.ts
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
Due: docs-spellcheck, web-eslint

fix(aws-auth): validate credentials in every AWS partition, not just commercial and GovCloud (#252)
  bun.lock
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  electron/main/ipc/aws-profiles.test.ts
  package.json
  src/domain/aws/auth.test.ts
  src/domain/aws/auth.ts
  src/domain/aws/partition.test.ts
  src/domain/aws/partition.ts
  src/layers/AwsPartition.test.ts
  src/layers/AwsPartition.ts
  src/layers/AwsSdkClient.partition.test.ts
  src/layers/AwsSdkClient.ts
  src/services/AwsClient.ts
Due: docs-spellcheck

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
