Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

fix: Fixing global state issue
  web/src/App.tsx
  web/src/hooks/useApiExec.ts
Due: web-eslint

fix: Fixing Git clones
  electron/main/ipc/git.ts
  electron/main/ipc/runbook.ts
  src/domain/git/operations.ts
  src/domain/session/manager.ts
Due: none

fix: Addressing some review notes
  .github/workflows/test.yml
  bun.lock
  electron/main/ipc/exec.ts
  electron/main/ipc/git.ts
  package.json
  src/domain/git/operations.test.ts
  web/package.json
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
  web/src/contexts/IpcTelemetryContext.tsx
Due: web-eslint

fix: Addressing more review notes
  electron/main/index.ts
  electron/main/ipc/git.ts
  electron/main/window.ts
  web/bun.lock
  web/src/components/MDXContainer.tsx
  web/src/hooks/useApiExec.test.ts
Due: web-eslint

fix: Fixing silly issues in CI
  .github/workflows/release.yml
  .github/workflows/test.yml
  .mise.toml
Due: none

fix: A bunch more fixes
  .github/workflows/test.yml
  build/entitlements.mac.inherit.plist
  build/entitlements.mac.plist
  electron/main/ipc/git.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session.ts
  electron/main/ipc/watch.ts
  electron/main/ipc/workspace.ts
  electron/main/window.ts
  playwright.config.ts
  src/domain/github/auth.ts
  src/domain/workspace/workspace.ts
  src/layers/NodeFileSystem.ts
  web/e2e/global-setup.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useIpcGitFileChanges.ts
  web/src/hooks/useIpcGitFileTree.ts
Due: web-eslint

fix: More test fixes
  electron/shared/channels.ts
  web/e2e/global-setup.ts
  web/src/components/layout/WelcomeScreen.tsx
  web/src/components/mdx/Admonition/__tests__/Admonition.test.tsx
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/DirPicker/hooks/useDirPicker.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitHubAuth/hooks/useGitHubAuth.ts
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/GitHubPullRequest/hooks/useGitHubPullRequest.ts
  web/src/components/mdx/Inputs/__tests__/Inputs.test.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/IpcExecutableRegistryContext.tsx
  web/src/contexts/IpcTelemetryContext.tsx
  web/src/contexts/RunbookContext.tsx
  web/src/hooks/useApi.ts
  web/src/hooks/useApiGeneratedFilesDelete.ts
  web/src/hooks/useFileContent.ts
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useGitFileTree.ts
  web/src/hooks/useIpc.ts
  web/src/hooks/useIpcFileContent.ts
  web/src/hooks/useIpcGeneratedFilesDelete.ts
  web/src/hooks/useIpcGetRunbook.ts
  web/src/hooks/useIpcGitFileChanges.ts
  web/src/hooks/useIpcGitFileTree.ts
  web/src/test-utils/mock-api.ts
  web/src/types/boilerplateVariable.ts
  web/tsconfig.json
Due: web-eslint

fix: Futher cleanup of CI
  .github/workflows/release.yml
  .github/workflows/test.yml
  cli/test/executor.ts
  cli/test/validation.ts
  docs/cspell.json
  justfile
  src/domain/registry/executable.ts
  testdata/feature-demos/git-clone/runbook_test.yml
  testdata/feature-demos/runbook-testing/checks/verify-project.sh
  testdata/sample-runbooks/lambda/runbook_test.yml
Due: none

fix: Fixing build process
  electron/main/ipc/git.ts
  web/e2e/global-setup.ts
Due: none

fix: Align GitClone test executor output names with runtime
  cli/test/executor.ts
Due: none

update tests for electron
  docs/src/content/docs/authoring/blocks/Command.mdx
  electron/main/window.ts
  electron/shared/channels.ts
  src/domain/exec/executor.ts
  src/types.ts
  testdata/sample-runbooks/demo2/runbook_test.yml
  testdata/sample-runbooks/demo3/runbook_test.yml
  testdata/sample-runbooks/dual-clone/runbook.mdx
  testdata/sample-runbooks/dual-clone/runbook_test.yml
  testdata/sample-runbooks/homepage-demo/runbook_test.yml
  testdata/sample-runbooks/markdown-only-full/assets/sample-image.png
  testdata/sample-runbooks/markdown-only-full/runbook.mdx
  testdata/sample-runbooks/my-first-runbook/runbook_test.yml
  web/bun.lock
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/playwright.config.ts
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: docs-spellcheck, web-eslint

fix: Pass --no-sandbox to Electron in E2E fixture
  web/e2e/fixtures.ts
Due: none

sandbox electron runs
  electron/main/index.ts
  web/e2e/fixtures.ts
  web/playwright.config.ts
Due: none

unstub rewrite render
  plans/boilerplate-render-template.md
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  src/layers/AppLayer.ts
  src/layers/WasmBoilerplate.engine.test.ts
  src/layers/WasmBoilerplate.skip.test.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/types.ts
  web/bun.lock
  web/package.json
  web/src/contexts/TelemetryContext.tsx
  web/src/test/test-utils.tsx
Due: web-eslint

update boilerplate
  electron/main/ipc/boilerplate.ts
Due: none

fix config test
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
Due: none

fix github blocks
  electron/main/ipc/github.ts
  src/layers/GitHubHttpClient.ts
  src/services/GitHubClient.ts
Due: none

Delete plans
  plans/boilerplate-render-template.md
  plans/build-tooling.md
  plans/bun-test-runner-implementation.md
  plans/bun-test-runner.md
  plans/effect-runtime-research.md
  plans/electron-rewrite-backend.md
  plans/electron-rewrite-di.md
  plans/electron-rewrite-docs.md
  plans/electron-rewrite-dropped.md
  plans/electron-rewrite-frontend.md
  plans/electron-rewrite-ipc.md
  plans/electron-rewrite-progress.md
  plans/electron-rewrite-testing.md
  plans/electron-rewrite-tooling.md
  plans/electron-rewrite.md
  plans/monorepo-implementation-notes.md
  plans/monorepo.md
  plans/subprocess-execution-fix.md
Due: none

Delete plans
  plans/build-tooling.md
  plans/bun-test-runner-implementation.md
  plans/bun-test-runner.md
  plans/effect-runtime-research.md
  plans/electron-rewrite-backend.md
  plans/electron-rewrite-di.md
  plans/electron-rewrite-docs.md
  plans/electron-rewrite-dropped.md
  plans/electron-rewrite-frontend.md
  plans/electron-rewrite-ipc.md
  plans/electron-rewrite-progress.md
  plans/electron-rewrite-testing.md
  plans/electron-rewrite-tooling.md
  plans/electron-rewrite.md
  plans/monorepo-implementation-notes.md
  plans/monorepo.md
  plans/subprocess-execution-fix.md
Due: none

feat: Add per-execution timeoutMs override for Command blocks
  docs/src/content/docs/authoring/blocks/Command.mdx
  electron/shared/channels.ts
  src/domain/exec/executor.ts
  src/types.ts
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: docs-spellcheck, web-eslint

harden: Tighten renderer CSP and resolve directory runbook paths
  electron/main/index.ts
  electron/main/window.ts
Due: none

test: Migrate Playwright E2E fixtures from Go server to Electron
  testdata/sample-runbooks/demo2/runbook_test.yml
  testdata/sample-runbooks/demo3/runbook_test.yml
  testdata/sample-runbooks/dual-clone/runbook.mdx
  testdata/sample-runbooks/dual-clone/runbook_test.yml
  testdata/sample-runbooks/homepage-demo/runbook_test.yml
  testdata/sample-runbooks/markdown-only-full/assets/sample-image.png
  testdata/sample-runbooks/markdown-only-full/runbook.mdx
  testdata/sample-runbooks/my-first-runbook/runbook_test.yml
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/playwright.config.ts
Due: none

unstub rewrite render
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  src/layers/AppLayer.ts
  src/layers/WasmBoilerplate.engine.test.ts
  src/layers/WasmBoilerplate.skip.test.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
  src/types.ts
  web/package.json
Due: none

Update window.ts
  electron/main/window.ts
Due: none

use different scope and display depending on if we're a user or an app as they have different endpoints and scopes available
  .gitignore
  src/domain/github/auth.test.ts
  src/domain/github/auth.ts
  src/layers/GitHubHttpClient.ts
  web/src/components/mdx/GitHubAuth/components/AuthSuccess.tsx
Due: web-eslint

split up tests too
  .github/workflows/test.yml
  testdata/feature-demos/github-auth/runbook_test.yml
  testdata/feature-demos/github-auth/scripts/verify-auth.sh
Due: none

push fixes
  .github/workflows/test.yml
  .gitignore
  electron/main/index.ts
  electron/main/ipc/git.ts
  electron/main/ipc/github.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/runtime.ts
  electron/main/ipc/session.ts
  electron/main/window.ts
  src/layers/GitCliClient.ts
Due: none

fix sandbox perms
  .github/workflows/test.yml
Due: none

fix fixture for double clone
  electron/main/ipc/git.ts
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
Due: none

update flag for incorrect or blocked regions
  electron/main/ipc/aws.ts
  src/layers/AwsSdkClient.ts
Due: none

last missing flag (ignoring the tfmodules)
  electron/main/cli.test.ts
  electron/main/cli.ts
  electron/main/index.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/watch.ts
  electron/shared/channels.ts
  src/types.ts
Due: none

modify build to fix local builds
  build/entitlements.mac.inherit.plist
  build/entitlements.mac.plist
  justfile
Due: none

fix cwd for builds
  electron/main/ipc/runbook.ts
  web/src/contexts/IpcSessionContext.tsx
Due: web-eslint

fix shell from electron
  electron/main/index.ts
  electron/main/shell-env.ts
Due: none
