Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

chore: Enforce proper layering (#308)
  .oxlintrc.json
  AGENTS.md
  electron/e2e/electron-internals.d.ts
  electron/e2e/electron.spec.ts
  tsconfig.e2e.json
  tsconfig.json
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
  web/src/hooks/useApiGeneratedFilesDelete.ts
Due: web-eslint

chore: Removing `react-hooks/exhaustive-deps` suppressions (#311)
  web/src/App.tsx
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/contexts/WorkspaceGitDataContext.tsx
  web/src/contexts/useRunbook.ts
Due: web-eslint

fix(docs): make the link check pass under linkinator 8
  docs/package.json
  docs/src/content/docs/authoring/blocks/GitClone.mdx
Due: docs-spellcheck

fix(docs): upgrade Starlight to 0.42 for Astro 7
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/src/components/Footer.astro
  docs/src/lib/llms-content.ts
Due: none

fix(deps): import parseKnownFiles from @smithy/core/config
  bun.lock
  package.json
  src/layers/AwsSdkClient.ts
Due: none

fix(deps): adapt to Electron 44
  README.md
  bun.lock
  docs/src/content/docs/development/workflow.md
  docs/src/content/docs/intro/installation.mdx
  electron/e2e/long-paths.spec.ts
  electron/e2e/main-process.ts
  electron/main/index.ts
  justfile
  package.json
Due: docs-spellcheck

fix(release): stop offering Electron 44 updates to macOS 12
  .github/scripts/release/merge-mac-latest.mjs
  .github/workflows/release.yml
Due: none

chore(docs): match the pre-commit cspell pin to docs/package.json
  .pre-commit-config.yaml
Due: none

fix(release): stop offering updates to macOS 12
  .github/scripts/release/merge-mac-latest.mjs
  .github/workflows/release.yml
Due: none

fix(release): describe the macOS guard as a support floor
  .github/scripts/release/merge-mac-latest.mjs
  .github/workflows/release.yml
Due: none

Update merge-mac-latest.mjs
  .github/scripts/release/merge-mac-latest.mjs
Due: none

fix(release): stop offering updates to macOS 12 (#332)
  .github/scripts/release/merge-mac-latest.mjs
  .github/workflows/release.yml
Due: none

uptick to 0.25.0
  package.json
Due: none

uptick to 0.25.0 (#334)
  package.json
Due: none

fix(templates): scan nested template files for output references
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
Due: none

refactor(templates): one dependency extractor for main and the renderer
  src/domain/boilerplate/config.ts
  src/domain/boilerplate/outputGuards.ts
  src/domain/boilerplate/templateDependencies.test.ts
  src/domain/boilerplate/templateDependencies.ts
  testdata/test-fixtures/output-dependencies/patterns.json
  web/src/components/mdx/_shared/lib/instructionResolution.ts
  web/src/components/mdx/_shared/lib/templateValue.ts
  web/src/lib/extractTemplateDependencies.ts
  web/src/lib/utils.ts
Due: web-eslint

refactor(blocks): TemplateInline, GitPullRequest use the dependencies hook
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/__tests__/GitPullRequest.test.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useTemplateDependencies.test.ts
  web/src/components/mdx/_shared/hooks/useTemplateDependencies.ts
Due: web-eslint

refactor(blocks): Command and Check use the dependencies hook
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

feat: Require explicit regeneration of templates on changed inputs
  docs/src/content/docs/authoring/blocks/Template.mdx
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/mdx/Inputs/Inputs.tsx
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/__tests__/Template.instruction.test.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/FormStatus.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/hooks/useApiBoilerplateRender.ts
Due: docs-spellcheck, web-eslint

chore: Fix-ups
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/intro/files_workspace.mdx
  docs/src/content/docs/intro/ui_tour.md
  electron/main/ipc/boilerplate.ts
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  testdata/sample-runbooks/my-first-runbook/runbook.mdx
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/Template/__tests__/Template.test.tsx
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/components/mdx/_shared/components/__tests__/BoilerplateInputsForm.test.tsx
  web/src/components/mdx/_shared/hooks/useFormState.ts
  web/src/lib/changeDetection.test.ts
  web/src/lib/changeDetection.ts
Due: docs-spellcheck, web-eslint

chore: Setting explicit dependency controls for authors
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/authoring/testing.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/e2e/concurrent-runs.spec.ts
  electron/main/index.ts
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
  electron/shared/channels.ts
  src/types.ts
  testdata/feature-demos/run-order/runbook.mdx
  testdata/feature-demos/run-order/runbook_test.yml
  web/src/components/mdx/Check/__tests__/Check.instruction.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/_shared/components/RunBlockedWarning.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/__tests__/ScriptBlock.sequencing.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useRunSequencing.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/index.ts
  web/src/contexts/BlockRunsContext.tsx
  web/src/contexts/BlockRunsContext.types.ts
  web/src/contexts/RunbookContext.tsx
  web/src/contexts/useBlockRuns.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
  web/src/lib/blockRuns.test.ts
  web/src/lib/blockRuns.ts
Due: docs-spellcheck, web-eslint

fix(outputs): keep Command/Check outputs that arrive after the success status
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

uptick to 0.26.0
  package.json
Due: none

chore: Setting explicit dependency controls for authors (#339)
  cli/test/executor.test.ts
  cli/test/executor.ts
  cli/test/validation.test.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/inputs-and-outputs.mdx
  docs/src/content/docs/authoring/testing.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/e2e/concurrent-runs.spec.ts
  electron/main/index.ts
  electron/main/ipc/exec.test.ts
  electron/main/ipc/exec.ts
  electron/shared/channels.ts
  src/types.ts
  testdata/feature-demos/run-order/runbook.mdx
  testdata/feature-demos/run-order/runbook_test.yml
  web/src/components/mdx/Check/__tests__/Check.instruction.test.tsx
  web/src/components/mdx/Check/__tests__/Check.test.tsx
  web/src/components/mdx/Command/__tests__/Command.instruction.test.tsx
  web/src/components/mdx/Command/__tests__/Command.test.tsx
  web/src/components/mdx/_shared/components/RunBlockedWarning.tsx
  web/src/components/mdx/_shared/components/ScriptBlock.tsx
  web/src/components/mdx/_shared/components/__tests__/ScriptBlock.sequencing.test.tsx
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
  web/src/components/mdx/_shared/hooks/useRunSequencing.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/components/mdx/_shared/index.ts
  web/src/contexts/BlockRunsContext.tsx
  web/src/contexts/BlockRunsContext.types.ts
  web/src/contexts/RunbookContext.tsx
  web/src/contexts/useBlockRuns.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
  web/src/lib/blockRuns.test.ts
  web/src/lib/blockRuns.ts
Due: docs-spellcheck, web-eslint

chore: Fixing CI
  electron/e2e/iframe.spec.ts
  web/src/components/mdx/_shared/hooks/__tests__/useScriptExecution.test.ts
Due: web-eslint

chore: Adjusting Bun <--> Node parity in SQLite usage
  .mise.toml
  electron/e2e/sessions.spec.ts
  electron/main/launch-session.test.ts
  electron/main/session-storage.ts
  electron/main/sqlite.ts
  electron/main/test-utils/session-persistence.ts
  mise.lock
  package.json
  src/domain/session/persistence.test.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  src/layers/NodeSqlite.ts
  src/test-utils/bunSqlite.ts
  test/integration/session-sqlite.test.ts
Due: none

chore: Fixing flake
  electron/main/ipc/session-switch.test.ts
Due: none

chore: Using better names for the sessions
  docs/src/content/docs/commands/sessions.mdx
  docs/src/content/docs/security/shell-execution-context.md
  electron/e2e/sessions.spec.ts
  electron/main/index.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session-env.test.ts
  electron/main/launch-session.test.ts
  electron/main/menu.ts
  electron/main/session-storage.ts
  electron/main/test-utils/session-persistence.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/names.test.ts
  src/domain/session/names.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  test/integration/session-sqlite.test.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/layout/Header.tsx
  web/src/hooks/useApiGetFile.ts
  web/src/hooks/useIpcGetRunbook.ts
Due: docs-spellcheck, web-eslint

chore: Upping test coverage
  electron/main/index.ts
  electron/main/ipc/aws.test.ts
  electron/main/ipc/boilerplate.test.ts
  electron/main/ipc/runbook.test.ts
  electron/main/launch-dir.test.ts
  electron/main/launch-session.test.ts
  electron/main/launch-session.ts
  electron/main/menu.test.ts
  electron/main/session-storage.test.ts
  src/domain/boilerplate/templateHash.test.ts
  src/domain/session/persistence.test.ts
  src/domain/session/store.test.ts
  src/layers/AwsSdkClient.test.ts
  web/src/__tests__/App.resume.test.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/__tests__/MDXContainer.security.test.tsx
  web/src/components/layout/__tests__/SessionDirButton.test.tsx
  web/src/components/layout/__tests__/SessionName.test.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.history.test.tsx
  web/src/components/mdx/DirPicker/__tests__/DirPicker.history.test.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.history.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.history.test.tsx
  web/src/components/mdx/GitPullRequest/__tests__/GitPullRequest.history.test.tsx
  web/src/components/mdx/GoogleAuth/__tests__/useGoogleAuth.history.test.tsx
  web/src/components/mdx/Inputs/__tests__/Inputs.history.test.tsx
  web/src/components/mdx/Template/__tests__/Template.history.test.tsx
  web/src/components/mdx/TemplateInline/__tests__/TemplateInline.history.test.tsx
  web/src/components/mdx/__tests__/blockDocsCoverage.test.ts
  web/src/components/mdx/__tests__/instructionModeRegistry.test.ts
  web/src/components/mdx/_shared/hooks/__tests__/useRenderHistory.test.tsx
  web/src/contexts/IpcSessionHistoryContext.test.tsx
  web/src/hooks/useApiExec.test.ts
  web/src/lib/sessionHistory.test.ts
Due: web-eslint

chore: Show session name in header
  docs/src/content/docs/commands/sessions.mdx
  docs/src/content/docs/intro/files_workspace.mdx
  electron/e2e/find-in-page.spec.ts
  electron/e2e/sessions.spec.ts
  src/domain/session/names.test.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/layers/NodeSqlite.ts
  src/node-crypto.d.ts
  tsconfig.main.json
  web/src/App.tsx
  web/src/components/layout/Header.tsx
  web/src/lib/findInPage.ts
Due: docs-spellcheck, web-eslint

feat: Updating session title
  docs/src/content/docs/commands/sessions.mdx
  electron/e2e/sessions.spec.ts
  electron/main/ipc/runbook.test.ts
  electron/main/ipc/runbook.ts
  electron/main/ipc/session.test.ts
  electron/main/ipc/session.ts
  electron/main/menu.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/session/names.test.ts
  src/domain/session/names.ts
  src/domain/session/persistence.test.ts
  src/domain/session/persistence.ts
  src/domain/session/store.test.ts
  src/domain/session/store.ts
  src/errors/index.ts
  web/src/App.tsx
  web/src/__tests__/App.runbookSwitch.test.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/SessionDirButton.tsx
  web/src/components/layout/SessionName.tsx
  web/src/components/layout/__tests__/SessionName.test.tsx
  web/src/hooks/useApiGetFile.ts
Due: docs-spellcheck, web-eslint
