Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

release v0.17.1
  package.json
Due: none

Feat: add a "maximize" button for logs
  package.json
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

update bun.lock
  bun.lock
Due: none

fix feedback
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

Feat: add a "maximize" button for logs (#173)
  bun.lock
  package.json
  web/src/components/mdx/_shared/components/ViewLogs.tsx
Due: web-eslint

feat: markdown checkboxes can be introduced
  web/src/components/MDXContainer.tasklist.test.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/__tests__/instructionModeRegistry.test.ts
  web/src/components/mdx/_shared/components/TaskListCheckbox.tsx
  web/src/components/mdx/_shared/hooks/useTaskCheckbox.ts
Due: web-eslint

feat: markdown checkboxes can be introduced (#174)
  web/src/components/MDXContainer.tasklist.test.tsx
  web/src/components/MDXContainer.tsx
  web/src/components/mdx/__tests__/instructionModeRegistry.test.ts
  web/src/components/mdx/_shared/components/TaskListCheckbox.tsx
  web/src/components/mdx/_shared/hooks/useTaskCheckbox.ts
Due: web-eslint

feat: add a multiselect option for lists
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  web/src/components/mdx/_shared/components/FormControls.tsx
Due: web-eslint

uptick package for new features
  package.json
Due: none

add feedback changes
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  web/src/components/mdx/_shared/components/FormControls.tsx
Due: web-eslint

feat: add a multiselect option for lists (#175)
  package.json
  src/domain/boilerplate/config.test.ts
  src/domain/boilerplate/config.ts
  web/src/components/mdx/_shared/components/FormControls.tsx
Due: web-eslint

chore: update actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: squash bug where children of killed processes were not correctly killed
  electron/main/ipc/exec.ts
  electron/shared/channels.ts
  src/domain/exec/executor.kill.test.ts
  src/layers/ChildProcessSpawner.ts
  src/types.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

fix: squash bug where children of killed processes were not correctly killed (#179)
  electron/main/ipc/exec.ts
  electron/shared/channels.ts
  src/domain/exec/executor.kill.test.ts
  src/layers/ChildProcessSpawner.ts
  src/types.ts
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

try to fix chrome-sandbox
  .github/workflows/test.yml
Due: none

add debug to figure out why action is busted
  .github/workflows/test.yml
Due: none

more debug
  .github/workflows/test.yml
Due: none

clean up debug
  .github/workflows/test.yml
Due: none

chore: update actions (#176)
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

release v0.18.1
  package.json
Due: none

add prettier error messages for cert issues
  electron/e2e/vcs-auth.spec.ts
  src/domain/tls/system-ca.test.ts
  src/domain/tls/system-ca.ts
  src/layers/VcsCredentialsLive.test.ts
  src/layers/VcsCredentialsLive.ts
  vcs-auth-v2-design.md
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/components/TlsErrorCard.tsx
Due: web-eslint

simplify
  src/domain/vcs/redact.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GitAuth/hooks/__tests__/useGitAuth.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
Due: web-eslint

get rid of qa docs that are not relevant
  docs/qa/custom-ca-release-gate.md
  docs/qa/custom-ca-support.md
Due: none

update docs
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.mdx
  docs/src/content/docs/authoring/runbook-structure.mdx
  docs/src/content/docs/intro/overview.mdx
Due: docs-spellcheck

fix broken negative test
  electron/e2e/vcs-auth.spec.ts
Due: none

update docs (#183)
  docs/src/content/docs/authoring/blocks/Check.mdx
  docs/src/content/docs/authoring/blocks/Command.mdx
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/Template.mdx
  docs/src/content/docs/authoring/boilerplate.mdx
  docs/src/content/docs/authoring/runbook-structure.mdx
  docs/src/content/docs/intro/overview.mdx
Due: docs-spellcheck

Release 0.19.0
  package.json
Due: none

bug: fix mac publishing architecture clobbering to 1 arch depending on which finished second
  .github/scripts/release/merge-mac-latest.mjs
  .github/workflows/release.yml
Due: none

feat: add commit message field for PRs
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/types.ts
Due: docs-spellcheck, web-eslint

fluff out docs to include commit message example
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitLabMergeRequest.mdx
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/GitLabMergeRequest/__tests__/GitLabMergeRequest.test.tsx
Due: docs-spellcheck, web-eslint

feat: add commit message field for PRs (#187)
  docs/src/content/docs/authoring/blocks/GitHubPullRequest.mdx
  docs/src/content/docs/authoring/blocks/GitLabMergeRequest.mdx
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/GitLabMergeRequest/__tests__/GitLabMergeRequest.test.tsx
  web/src/components/mdx/GitPullRequest/GitPullRequest.tsx
  web/src/components/mdx/GitPullRequest/types.ts
Due: docs-spellcheck, web-eslint

fix type safety lint
  electron/main/ipc/google.ts
Due: none

feat(GoogleAuth): enforce author scopes on detected user ADC
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  src/domain/google/scopes.test.ts
  src/domain/google/scopes.ts
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuthInstruction.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.instruction.test.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.test.tsx
  web/src/components/mdx/GoogleAuth/components/InsufficientScopesPrompt.tsx
  web/src/components/mdx/GoogleAuth/constants.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
Due: docs-spellcheck, web-eslint

fix(GoogleAuth): enforce required scopes on block credentials
  docs/cspell.json
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
Due: web-eslint
