Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

Use stable file-id key for collapse
  web/src/components/artifacts/code/CodeFileCollection.tsx
Due: web-eslint

Make it easy to run failed Playwright tests from CI logs
  web/e2e/trace-reporter.ts
  web/playwright.config.ts
Due: none

Update trace-reporter.ts
  web/e2e/trace-reporter.ts
Due: none

Add OpenClaw on AWS EC2 sample runbook
  testdata/sample-runbooks/openclaw/.gitignore
  testdata/sample-runbooks/openclaw/checks/test-openclaw.sh
  testdata/sample-runbooks/openclaw/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook_test.yml
  testdata/sample-runbooks/openclaw/scripts/terragrunt-apply.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-plan.sh
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/main.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/outputs.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/user_data.sh.tftpl
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/variables.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/terragrunt.hcl
Due: none

Update TemplateInline.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Fix flaky demo2 Playwright test by adding explicit visibility waits
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Use OS-assigned ports for E2E test servers
  web/e2e/fixtures.ts
Due: none

Add visibility waits for remaining tree item clicks in demo2 test
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Auto-create EC2 key pair and add optional cleanup step
  testdata/sample-runbooks/openclaw/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook_test.yml
  testdata/sample-runbooks/openclaw/scripts/terragrunt-destroy.sh
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/main.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/outputs.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/variables.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/terragrunt.hcl
Due: none

Standardize tree item visibility timeouts to 2s in E2E tests
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Add comments to strcut props [skip ci]
  api/types.go
  api/workspace.go
Due: none

Add a more intuitive approach to HeavyDirs
  api/file_tree.go
  api/file_tree_test.go
  api/types.go
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/contexts/GeneratedFilesContext.tsx
  web/src/contexts/GeneratedFilesContext.types.ts
  web/src/hooks/useApiBoilerplateRender.ts
Due: web-eslint

Use more consistent naming between generatedFileTree and GitFileTree.
  web/src/App.tsx
  web/src/components/artifacts/workspace/ChangedFilesView.tsx
  web/src/components/artifacts/workspace/RepositoryFileBrowser.tsx
  web/src/components/artifacts/workspace/Workspace.tsx
  web/src/components/mdx/GitHubPullRequest/GitHubPullRequest.tsx
  web/src/components/mdx/_shared/hooks/useFileTreeUpdater.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
  web/src/contexts/GeneratedFilesContext.tsx
  web/src/contexts/GeneratedFilesContext.types.ts
  web/src/contexts/GitWorkTreeContext.tsx
  web/src/contexts/gitWorkTreeTypes.ts
  web/src/hooks/useGitFileChanges.ts
  web/src/hooks/useGitFileTree.ts
Due: web-eslint

Add clarifying comments [skip ci]
  api/boilerplate_render.go
  api/testing/executor.go
  web/src/components/mdx/_shared/hooks/useFileTreeUpdater.ts
Due: web-eslint

Add more clarifying comments
  web/src/components/mdx/Template/Template.tsx
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
Due: web-eslint

Disambiguate Playwright locators for tests
  web/e2e/test-sample-runbooks.spec.ts
  web/src/components/MDXContainer.tsx
Due: web-eslint

Fix tests
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
  web/e2e/trace-reporter.ts
Due: none

Write test for failing issue, and fix issue.
  templates/tf/opentofu/opentofu.mdx
  templates/tf/terragrunt-github/terragrunt-github.mdx
  templates/tf/terragrunt/terragrunt.mdx
  web/e2e/fixtures.ts
  web/e2e/test-tf-module-remote.spec.ts
Due: none

Update docs to add missing TemplateInline id
  docs/src/content/docs/authoring/blocks/DirPicker.mdx
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/opening-runbooks.mdx
Due: docs-spellcheck

Fix _module refs to use .inputs namespace and support nested dep resolution
  docs/src/content/docs/authoring/blocks/TfModule.mdx
  docs/src/content/docs/authoring/opening-runbooks.mdx
  templates/tf/opentofu/opentofu.mdx
  templates/tf/terragrunt/terragrunt.mdx
  web/e2e/test-tf-module-remote.spec.ts
  web/src/components/mdx/TemplateInline/TemplateInline.tsx
  web/src/lib/templateUtils.ts
Due: docs-spellcheck, web-eslint

Test TfModule with a local fixture, both via local path and remote path
  web/e2e/test-tf-module-remote.spec.ts
Due: none

Add /llms page for AI-assisted runbook authoring
  docs/astro.config.mjs
  docs/src/components/Header.astro
  docs/src/lib/llms-content.ts
  docs/src/pages/llms.astro
  docs/src/pages/llms.txt.ts
Due: none

Fix TF module test failures: ESM compat and health check path matching
  web/e2e/fixtures.ts
  web/e2e/test-tf-module-remote.spec.ts
Due: none

Use Starlight's sidebar API for llms.txt doc ordering
  docs/src/lib/llms-content.ts
Due: none

Final tweaks
  docs/src/content/docs/intro/overview.mdx
  docs/src/pages/llms.astro
Due: docs-spellcheck

Add GitHubPullRequest to list of available blocks
  docs/src/content/docs/authoring/blocks/index.md
Due: docs-spellcheck

Add missing id prop to GitHubPullRequest component
  templates/tf/terragrunt-github/terragrunt-github.mdx
Due: none

Make mise self-update
  docs/src/content/docs/intro/ui_tour.md
  testdata/sample-runbooks/lambda/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook.mdx
Due: docs-spellcheck

Additional updates
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/outputs.tf
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/user_data.sh.tftpl
  testdata/sample-runbooks/openclaw/templates/openclaw-unit/modules/openclaw-ec2/variables.tf
Due: none

Split templates; add catalog/live scripts & checks
  testdata/sample-runbooks/openclaw/checks/check-live-pr-merged.sh
  testdata/sample-runbooks/openclaw/checks/check-pr-merged.sh
  testdata/sample-runbooks/openclaw/checks/test-openclaw.sh
  testdata/sample-runbooks/openclaw/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook_test.yml
  testdata/sample-runbooks/openclaw/scripts/release-catalog.sh
  testdata/sample-runbooks/openclaw/scripts/save-ssh-key.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-apply.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-destroy.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-plan.sh
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/main.tf
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/outputs.tf
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/user_data.sh.tftpl
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/variables.tf
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/{{ .inputs.AccountName }}/{{ .inputs.ModuleName }}/terragrunt.hcl
Due: none

First pass at new-infra-live-repo runbook
  testdata/sample-runbooks/new-infra-live-repo/checks/check-pr-merged.sh
  testdata/sample-runbooks/new-infra-live-repo/runbook.mdx
  testdata/sample-runbooks/new-infra-live-repo/scripts/create-repo.sh
  testdata/sample-runbooks/new-infra-live-repo/templates/infra-live-scaffold/.gitignore
  testdata/sample-runbooks/new-infra-live-repo/templates/infra-live-scaffold/README.md
  testdata/sample-runbooks/new-infra-live-repo/templates/infra-live-scaffold/boilerplate.yml
  testdata/sample-runbooks/new-infra-live-repo/templates/infra-live-scaffold/mise.toml
  testdata/sample-runbooks/new-infra-live-repo/templates/infra-live-scaffold/root.hcl
Due: none

More infra-live scaffold updates
  testdata/sample-runbooks/new-infra-live-repo/runbook.mdx
  testdata/sample-runbooks/new-infra-live-repo/scripts/lookup-versions.sh
  testdata/sample-runbooks/new-infra-live-repo/templates/infra-live-scaffold/boilerplate.yml
Due: none

Add account/region detection & root.hcl check; replace EC2 keypairs with SSM
  testdata/sample-runbooks/openclaw/checks/check-root-hcl.sh
  testdata/sample-runbooks/openclaw/runbook.mdx
  testdata/sample-runbooks/openclaw/scripts/detect-account.sh
  testdata/sample-runbooks/openclaw/scripts/save-ssh-key.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-apply.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-destroy.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-plan.sh
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/main.tf
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/outputs.tf
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/variables.tf
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/{{ .inputs.AccountName }}/account.hcl
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/{{ .inputs.AccountName }}/{{ .inputs.AwsRegion }}/region.hcl
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/{{ .inputs.AccountName }}/{{ .inputs.AwsRegion }}/{{ .inputs.ModuleName }}/terragrunt.hcl
Due: none

Simplify setup by removing Tailscale; other improvements
  testdata/sample-runbooks/openclaw/checks/test-openclaw.sh
  testdata/sample-runbooks/openclaw/runbook.mdx
  testdata/sample-runbooks/openclaw/scripts/save-ssh-key.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-apply.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-destroy.sh
  testdata/sample-runbooks/openclaw/scripts/terragrunt-plan.sh
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/main.tf
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/outputs.tf
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/user_data.sh.tftpl
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/modules/openclaw-ec2/variables.tf
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/boilerplate.yml
  testdata/sample-runbooks/openclaw/templates/infra-live-unit/{{ .inputs.AccountName }}/{{ .inputs.AwsRegion }}/{{ .inputs.ModuleName }}/terragrunt.hcl
Due: none

Fix GitClone resolving paths relative to drifted session CWD (#94)
  api/git_clone.go
  api/git_clone_test.go
  testdata/sample-runbooks/dual-clone/runbook.mdx
  web/e2e/fixtures.ts
  web/e2e/test-sample-runbooks.spec.ts
Due: none

Add optional infra-catalog creation & docs
  testdata/sample-runbooks/new-infra-live-repo/runbook.mdx
  testdata/sample-runbooks/openclaw/runbook.mdx
Due: none

Strip out prefilled info that shouldn't be the default for a public runbook
  testdata/sample-runbooks/openclaw/runbook.mdx
  testdata/sample-runbooks/openclaw/templates/infra-catalog-module/boilerplate.yml
Due: none

Add REPO_OWNER and REPO_NAME outputs to GitClone block
  api/git_clone.go
Due: none

Add collapsible sections to Inputs block
  api/boilerplate_config.go
  api/boilerplate_config_test.go
  api/types.go
  web/src/components/mdx/_shared/components/BoilerplateInputsForm.tsx
  web/src/types/boilerplateConfig.ts
Due: web-eslint

Fix long lines being truncated in code viewer
  web/src/components/artifacts/code/CodeFile.tsx
  web/src/components/artifacts/code/CodeFileCollection.tsx
Due: web-eslint

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
