Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docs-spellcheck
        name: Spellcheck docs
        entry: task docs:spellcheck
        language: system
        files: ^docs/src/content/.*\.(md|mdx)$
        pass_filenames: false
      - id: web-eslint
        name: Run ESLint
        entry: bun run eslint .
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

Feat/googleauth required scopes (#188)
  docs/cspell.json
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google.ts
  electron/shared/channels.ts
  src/domain/google/scopes.test.ts
  src/domain/google/scopes.ts
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuthInstruction.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.instruction.test.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.test.tsx
  web/src/components/mdx/GoogleAuth/components/InsufficientScopesPrompt.tsx
  web/src/components/mdx/GoogleAuth/constants.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
Due: docs-spellcheck, web-eslint

feat get immutable ids from clone block
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/shared/channels.ts
  src/domain/github/auth.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  src/services/GitHubClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitClone/components/GitHubBrowser.tsx
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

feat get immutable ids from clone block (#190)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/shared/channels.ts
  src/domain/github/auth.ts
  src/layers/GitHubHttpClient.test.ts
  src/layers/GitHubHttpClient.ts
  src/services/GitHubClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitClone/components/GitHubBrowser.tsx
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

fix oauth flow and session state manager
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google.ts
  electron/main/ipc/runbook.ts
  electron/shared/channels.ts
  src/domain/google/auth.ts
  src/domain/google/oauth-client.test.ts
  src/domain/google/oauth-client.ts
  src/domain/google/scopes.test.ts
  src/domain/google/scopes.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  src/layers/GoogleSdkClient.ts
  web/src/App.tsx
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.instruction.test.tsx
  web/src/components/mdx/GoogleAuth/__tests__/GoogleAuth.test.tsx
  web/src/components/mdx/GoogleAuth/components/AuthTabs.tsx
  web/src/components/mdx/GoogleAuth/components/OAuthFlow.tsx
  web/src/components/mdx/GoogleAuth/constants.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
  web/src/contexts/IpcGitWorkTreeContext.tsx
  web/src/contexts/gitWorkTreeTypes.ts
Due: docs-spellcheck, web-eslint

bugfix: respect localpath when cloning new repos
  electron/shared/channels.ts
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
Due: web-eslint

fix: restore GFM table rendering in .mdx docs
  docs/astro.config.mjs
Due: none

fix: resolve WCAG AA color-contrast failures across docs theme
  docs/src/components/Footer.astro
  docs/src/styles/custom.css
Due: none

Fix #177 GFM table rendering and WCAG AA contrast failures in docs (#191)
  docs/astro.config.mjs
  docs/src/components/Footer.astro
  docs/src/styles/custom.css
Due: none

bug: cleaner environment separation for the different google authz
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  electron/main/ipc/google.ts
  src/domain/session/manager.test.ts
  src/domain/session/manager.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/_shared/hooks/checkAuthDependency.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: docs-spellcheck, web-eslint

fix: add missing docs for gitpullrequest
  docs/src/content/docs/authoring/blocks/GitLabMergeRequest.mdx
  docs/src/content/docs/authoring/blocks/GitPullRequest.mdx
  docs/src/content/docs/authoring/blocks/index.md
  web/src/components/mdx/__tests__/blockDocsCoverage.test.ts
Due: docs-spellcheck, web-eslint

add tests for using a google oauth client
  electron/main/ipc/google-credential-registry.test.ts
  electron/main/ipc/google-credential-registry.ts
  electron/main/ipc/google.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/exec/executor.test.ts
  src/domain/exec/executor.ts
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/_shared/hooks/checkAuthDependency.test.ts
  web/src/components/mdx/_shared/hooks/useScriptExecution.ts
Due: web-eslint

uptick to 0.20.1
  package.json
Due: none

fix: don't leave a block stuck on "running" when another block interrupts it
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

chore: add "refreshable" to the docs dictionary
  docs/cspell.json
Due: none

fix: block stuck on "running" (and a dead Stop button) when another block interrupts it (#192)
  docs/cspell.json
  web/src/hooks/useApiExec.test.ts
  web/src/hooks/useApiExec.ts
Due: web-eslint

feat(GitClone): select an existing local checkout instead of cloning
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/main/ipc/workspace.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/GitCloneInstruction.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.instruction.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/mdx/GitClone/components/SourceSelect.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/index.ts
  web/src/components/mdx/GitClone/types.ts
  web/src/components/mdx/GitClone/utils.ts
Due: docs-spellcheck, web-eslint

feat(GitClone): select an existing local checkout instead of cloning (#193)
  cli/test/executor.test.ts
  cli/test/executor.ts
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/main/ipc/workspace.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  src/layers/GitCliClient.ts
  src/services/GitClient.ts
  src/test-utils/TestLayer.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/GitCloneInstruction.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.instruction.test.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
  web/src/components/mdx/GitClone/components/SourceSelect.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/index.ts
  web/src/components/mdx/GitClone/types.ts
  web/src/components/mdx/GitClone/utils.ts
Due: docs-spellcheck, web-eslint

uptick to 0.21.0
  package.json
Due: none

uptick to 0.21.0 (#194)
  package.json
Due: none

fix(GitClone): produce the same outputs from a local checkout as from a clone
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
Due: docs-spellcheck, web-eslint

fix(GitClone): stop the local-checkout preview from reading as a finished block
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
Due: web-eslint

uptick to 0.21.1
  package.json
Due: none

fix(GitClone): address review — docs contradictions and interrupt-safe git queries
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  src/domain/git/local-repo.ts
Due: docs-spellcheck

fix(GitClone): local checkout produces the same outputs as a clone (#195)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  package.json
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.local.test.tsx
  web/src/components/mdx/GitClone/components/LocalRepoForm.tsx
Due: docs-spellcheck, web-eslint

Add a bootstrap for new repositories with no commits
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.emptyRepo.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/EmptyRepoWarning.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

uptick to 0.21.2
  package.json
Due: none

feat(auth blocks): let authors pick the tab the block opens on
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  testdata/feature-demos/aws-auth/runbook.mdx
  testdata/feature-demos/google-auth/runbook.mdx
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
  web/src/components/mdx/AwsAuth/types.ts
  web/src/components/mdx/AwsAuth/utils.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/__tests__/utils.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitAuth/utils.ts
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
  web/src/components/mdx/GoogleAuth/utils.ts
Due: docs-spellcheck, web-eslint

fix(GitClone): address review — spellcheck, best-effort hasCommits, unique input id
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  web/src/components/mdx/GitClone/components/EmptyRepoWarning.tsx
Due: docs-spellcheck, web-eslint

Fix/gitclone local checkout outputs (#196)
  docs/src/content/docs/authoring/blocks/GitClone.mdx
  electron/main/ipc/git.ts
  electron/preload/index.ts
  electron/shared/channels.ts
  package.json
  src/domain/git/local-repo.test.ts
  src/domain/git/local-repo.ts
  src/domain/git/operations.test.ts
  src/domain/git/operations.ts
  web/src/components/mdx/GitClone/GitClone.tsx
  web/src/components/mdx/GitClone/__tests__/GitClone.emptyRepo.test.tsx
  web/src/components/mdx/GitClone/components/CloneResult.tsx
  web/src/components/mdx/GitClone/components/EmptyRepoWarning.tsx
  web/src/components/mdx/GitClone/hooks/useGitClone.ts
  web/src/components/mdx/GitClone/types.ts
Due: docs-spellcheck, web-eslint

feat(auth blocks): let authors pick the tab the block opens on (#197)
  docs/src/content/docs/authoring/blocks/AwsAuth.mdx
  docs/src/content/docs/authoring/blocks/GitAuth.mdx
  docs/src/content/docs/authoring/blocks/GitHubAuth.mdx
  docs/src/content/docs/authoring/blocks/GoogleAuth.mdx
  testdata/feature-demos/aws-auth/runbook.mdx
  testdata/feature-demos/google-auth/runbook.mdx
  web/src/components/mdx/AwsAuth/AwsAuth.tsx
  web/src/components/mdx/AwsAuth/hooks/__tests__/useAwsAuth.test.ts
  web/src/components/mdx/AwsAuth/hooks/useAwsAuth.ts
  web/src/components/mdx/AwsAuth/types.ts
  web/src/components/mdx/AwsAuth/utils.ts
  web/src/components/mdx/GitAuth/GitAuth.tsx
  web/src/components/mdx/GitAuth/__tests__/GitAuth.switch.test.tsx
  web/src/components/mdx/GitAuth/__tests__/utils.test.ts
  web/src/components/mdx/GitAuth/hooks/useGitAuth.ts
  web/src/components/mdx/GitAuth/types.ts
  web/src/components/mdx/GitAuth/utils.ts
  web/src/components/mdx/GoogleAuth/GoogleAuth.tsx
  web/src/components/mdx/GoogleAuth/hooks/__tests__/useGoogleAuth.test.ts
  web/src/components/mdx/GoogleAuth/hooks/useGoogleAuth.ts
  web/src/components/mdx/GoogleAuth/types.ts
  web/src/components/mdx/GoogleAuth/utils.ts
Due: docs-spellcheck, web-eslint

uptick to 0.22.0
  package.json
Due: none

uptick to 0.22.0 (#198)
  package.json
Due: none

fix(web): wrap async DirPicker state updates in act(...)
  web/src/components/mdx/DirPicker/__tests__/DirPicker.test.tsx
Due: web-eslint

fix(boilerplate): always render with the vendored boilerplate dist
  .mise.toml
  docs/src/content/docs/development/workflow.md
  electron/main/index.ts
  justfile
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWasmRuntime.ts
  src/layers/WasmBoilerplate.ts
Due: docs-spellcheck

feat(boilerplate): RUNBOOKS_BOILERPLATE_BIN / _WASM_DIR explicit override
  docs/src/content/docs/development/workflow.md
  electron/main/index.ts
Due: docs-spellcheck

fix(boilerplate): check wasm_exec.js at startup; test no-PATH fallback
  electron/main/index.ts
  src/layers/WasmBoilerplate.test.ts
Due: none

fix(boilerplate): always render with the vendored boilerplate dist (#203)
  .mise.toml
  docs/src/content/docs/development/workflow.md
  electron/main/index.ts
  justfile
  src/layers/NodeBundleProducer.ts
  src/layers/NodeWasmRuntime.ts
  src/layers/WasmBoilerplate.test.ts
  src/layers/WasmBoilerplate.ts
Due: docs-spellcheck
