Repository gruntwork-io/runbooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-spellcheck, web-eslint

docs-spellcheck:
  name: Spellcheck docs
  entry: task docs:spellcheck
  language: system
  pass_filenames: false

web-eslint:
  name: Run ESLint
  entry: bun run eslint .
  language: system
  pass_filenames: false

fix(remote-source): keep typed credentials out of a parse error's url
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

fix(logger): redact error fields before inspect escapes them
  src/logger.test.ts
  src/logger.ts
Due: none

test(e2e): drop the "exposes app info via IPC" Electron test
  electron/e2e/electron.spec.ts
Due: none

fix(logger): cap each error field at 16 KiB after redacting it
  src/logger.test.ts
  src/logger.ts
Due: none

fix(test-cli): honor lone and exact length/count bounds in every fuzz generator
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(logger): print each cause once and mark a cut-off chain
  src/logger.test.ts
  src/logger.ts
Due: none

fix(test-cli): treat an empty YAML fuzz bound as unset
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(build): guard every entry point against leftover web/ and cli/ node_modules
  docs/src/content/docs/development/workflow.md
  electron.vite.config.ts
  justfile
  package.json
  scripts/no-nested-node-modules.test.ts
  scripts/no-nested-node-modules.ts
  tsconfig.src.json
  web/vitest.config.ts
Due: docs-spellcheck

fix(test-cli): write every Go zone layout in a date format as UTC
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(pre-commit): lint with oxlint and spellcheck docs without task
  .pre-commit-config.yaml
Due: none

fix(test-cli): keep fuzzed ints whole when their bounds are fractional
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

fix(e2e): run the nested node_modules guard from web/playwright.config.ts
  docs/src/content/docs/development/workflow.md
  justfile
  scripts/no-nested-node-modules.ts
  web/playwright.config.ts
Due: docs-spellcheck

fix(logger): reuse a redacted copy only at its own depth or deeper
  src/logger.test.ts
  src/logger.ts
Due: none

fix(logger): skip a field as the cause only when the cause is an object
  src/logger.test.ts
  src/logger.ts
Due: none

fix(justfile): make just typecheck run tsc -b
  AGENTS.md
  README.md
  justfile
Due: none

fix(scripts): let node run the nested node_modules guard directly
  scripts/no-nested-node-modules.test.ts
  scripts/no-nested-node-modules.ts
Due: none

chore(deps): run the nested node_modules guard from the other test scripts
  docs/src/content/docs/development/workflow.md
  justfile
  package.json
  scripts/no-nested-node-modules.ts
Due: docs-spellcheck

fix(web): keep the guard comments out of the renderer CSS
  web/playwright.config.ts
  web/vitest.config.ts
Due: none

fix(remote-source): redact userinfo through its last @, for every scheme
  electron/main/open-runbook.test.ts
  electron/main/remote.test.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

fix(remote-source): scrub go-getter's sshkey wherever a source is echoed
  electron/main/open-runbook.test.ts
  electron/main/remote.test.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

fix(remote-source): redact userinfo behind a one-slash or tabbed scheme
  src/remote-source.test.ts
  src/remote-source.ts
Due: none

fix(test-cli): keep fuzzed values within configured constraints (#240)
  cli/test/fuzz.test.ts
  cli/test/fuzz.ts
  docs/src/content/docs/authoring/testing.mdx
Due: docs-spellcheck

test(logger): use a multi-line fixture that isn't shaped like a private key
  src/logger.test.ts
Due: none

fix(remote-open): HTTP-status auth detection, ls-remote failures, + in ?ref=, GitLab /-/ pages, ssh network errors (#224)
  docs/src/content/docs/commands/open.mdx
  electron/main/open-runbook.test.ts
  electron/main/remote.test.ts
  electron/main/remote.ts
  src/remote-source.test.ts
  src/remote-source.ts
Due: docs-spellcheck

fix(logger): keep TaggedError fields and FiberFailure causes in logs (#244)
  src/logger.test.ts
  src/logger.ts
Due: none

chore(deps): one root dependency tree; drop unused packages and dead UI (#234)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  bun.lock
  cli/package.json
  components.json
  docs/src/content/docs/development/workflow.md
  electron.vite.config.ts
  justfile
  package.json
  scripts/no-nested-node-modules.test.ts
  scripts/no-nested-node-modules.ts
  tsconfig.json
  tsconfig.src.json
  web/bun.lock
  web/package.json
  web/playwright.config.ts
  web/src/components/artifacts/code/CodeFileCollection.tsx
  web/src/components/artifacts/code/FileTree.types.ts
  web/src/components/artifacts/workspace/RepositoryTabs.tsx
  web/src/components/artifacts/workspace/Workspace.tsx
  web/vitest.config.ts
Due: docs-spellcheck, web-eslint

ci(docs): install docs deps with --frozen-lockfile in test-docs
  justfile
Due: none

fix(inputs): give unfenced YAML in a wrapper element the code-fence error
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.test.ts
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.ts
Due: web-eslint

docs(inputs): say inline YAML must be in a code fence
  docs/src/content/docs/authoring/blocks/Inputs.mdx
Due: docs-spellcheck

test(inputs): compile extractYaml test MDX with main's compileMDX options
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.test.ts
Due: web-eslint

fix(test-cli): reject unfenced inline Inputs YAML like the app
  cli/test/validation.test.ts
  cli/test/validation.ts
Due: none

test(inputs): compile extractYaml test MDX with the app's compileMDX
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.test.ts
Due: web-eslint

chore(error-display): drop the unused testId prop
  web/src/components/mdx/_shared/components/ErrorDisplay.tsx
Due: web-eslint

docs(admonition): name the permanent-hide checkbox by its UI label
  docs/src/content/docs/authoring/blocks/Admonition.md
Due: docs-spellcheck

chore(docs): sync docs/bun.lock with docs/package.json (#246)
  docs/bun.lock
  justfile
Due: none

chore(blocks): remove dead props and legacy YAML paths (#222)
  cli/test/validation.test.ts
  cli/test/validation.ts
  docs/src/content/docs/authoring/blocks/Admonition.md
  docs/src/content/docs/authoring/blocks/Inputs.mdx
  web/src/components/mdx/Admonition/Admonition.tsx
  web/src/components/mdx/Admonition/__tests__/Admonition.test.tsx
  web/src/components/mdx/Check/Check.tsx
  web/src/components/mdx/Command/Command.tsx
  web/src/components/mdx/_shared/components/ErrorDisplay.tsx
  web/src/components/mdx/_shared/hooks/useInputRegistration.ts
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.test.ts
  web/src/components/mdx/_shared/lib/extractYamlFromChildren.ts
Due: docs-spellcheck, web-eslint

uptick to 0.23.0
  package.json
Due: none

uptick to 0.23.0 (#262)
  package.json
Due: none

fix(release): bump electron-builder to 26.16.1 to fix macOS signing
  bun.lock
  package.json
Due: none

Path conditions:
  docs-spellcheck: any of: ^docs/src/content/.*\.(md|mdx)$
  web-eslint: any of: ^web/src/.*\.(ts|tsx)$
